{% extends "civa-base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% elif self.title %}
        {{ self.title }}
    {% else %}
        {% translate "Agenda | African Cities Conference" %} - African Cities Lab
    {% endif %}
{% endblock title %}
{% block meta_tag_description %}
  <meta name="robots" content="noindex,nofollow">
{% endblock %}
{% block static_meta_tag %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "African Cities Conference" %} - African Cities Lab{% endif %}">
<meta name="twitter:description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}">
<meta name="twitter:site" content="@AfricanCtiesLab"/>
<meta name="twitter:image" content="{% static 'images/assets/acl-logo-square256x256.png' %}">

<meta property="og:title" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "African Cities Conference" %} - African Cities Lab{% endif %}" />
<meta property="og:description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
<meta property="og:site_name" content="African Cities Lab" />
<meta property="og:image" content="{% static 'images/assets/acl-logo-square256x256.png' %}"/>

<meta itemprop="name" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "African Cities Conference" %} - African Cities Lab{% endif %}">
<meta itemprop='description' content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}"/>
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
 
    .civa-form__section {
      background-image: linear-gradient(rgba(64, 39, 129, 0.9),rgba(64, 39, 129, 0.6)) ,url({% static 'images/assets/conference_form_bg.jpg' %});
    }
    .page-banner {
      background-image: linear-gradient(rgba(84,84,84,0.5) 12%, rgba(0,0,0,.5) 100%),
        url({% static 'images/assets/icac-banner-image.jpg' %});
      background-position: top center;
    }
  </style>
{% endblock css %}

{% block content %}

<section class="page-banner"> 
  <div class="container-fluid">
      <div class="row py-5">
          <div class="col-12 col-md-6"> 
              <div class="position-relative h1">
                  {% translate "Program" %}
                  <span class="dash-accent"></span>
              </div>
          </div>
      </div>
  </div>
  <div class="acl-sharpes right-sharpe">
      <img class="d-none d-lg-block" src="{% static 'images/assets/outline-sharpe-right.svg' %}">
  </div>
</section>

<section class="py-5">
    <div class="container-xl py-5">
        <div class="text-center h1 mb-3">
            {% blocktranslate %}
                Information of <br>
                ACC 2023 shedules
            {% endblocktranslate %}
          </div>
    </div>
</section>



<section class="civa-form__section">
  <div class="container-xl">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-white text-center">
        <div class="h1 pt-lg-5">
          {% blocktranslate %}
          Join African Cities Conference (ACC) - Digital Cities
          {% endblocktranslate %}
        </div>
        <div class="mt-5 text-center">
          <a class="btn btn__primary btn__small my-4" href="{% url 'acc-papers' %}">
            {% translate "Call for papers" %}
          </a>
        </div>
        <p class="font-size-16 pt-3 pb-5">
          {% blocktranslate %}
            If you wish to have more information,<br> 
            you can contact us directly on :<br>
          {% endblocktranslate %}
          <a class="text-white" href="mailto:info@africancitieslab.org">
            <strong>contact@africancitieslab.org</strong>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
  