{% extends "civa-base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% elif self.title %}
        {{ self.title }}
    {% else %}
        {% translate "Program | African Cities Conference" %} - African Cities Lab
    {% endif %}
{% endblock title %}
{% block meta_tag_description %} 
  <meta name="description" content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}" />
{% endblock %}
{% block static_meta_tag %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "African Cities Conference" %} - African Cities Lab{% endif %}">
<meta name="twitter:description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}">
<meta name="twitter:site" content="@AfricanCtiesLab"/>
<meta name="twitter:image" content="{% static 'images/assets/acl-logo-square256x256.png' %}">

<meta property="og:title" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "African Cities Conference" %} - African Cities Lab{% endif %}" />
<meta property="og:description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
<meta property="og:site_name" content="African Cities Lab" />
<meta property="og:image" content="{% static 'images/assets/acl-logo-square256x256.png' %}"/>

<meta itemprop="name" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "African Cities Conference" %} - African Cities Lab{% endif %}">
<meta itemprop='description' content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}"/>
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .page-banner {
      background-image: url({% static 'images/assets/banner-pattern.png' %});
      background-position: top center;
    }
    .program-block {
      margin: auto;
      padding: 1rem 0 4rem;
      display: flex;
      max-width: 60rem;
      flex-direction: column;
      word-break: break-word;
    }
    .program-block .program-inner {
      padding: 0.5rem 1rem;
      position: relative; 
      margin-left: 8rem;
      margin-top: 1rem;
    }
    .program-block .program-inner:before {
      border: 0.1rem solid #ECF1F9;
      top: -0.1rem;
      left: -1rem;
      width: 0.5rem;
      height: 100%;
      content: "";
      position: absolute;
      border-radius: 5rem;
    }
    .program-block .program-inner .program-timeline {
      position: relative;
    }
    .program-block .program-inner .program-timeline:before {
      top: -0.1rem;
      left: -2rem;
      width: 0.5rem;
      height: 3rem;
      content: "";
      position: absolute;
      border-radius: 5rem;
      border: 0.1rem solid #ECF1F9;
      background: #402781;
    }
    .leftInfo {
      position: absolute;
      text-align: right;
      left: -9rem;
      width: 6rem;
    }
    .rightInfo {
      min-height: 6.4rem;
      padding: 1.5rem 0;
      border-bottom: 1px solid #e5e5e5;
    }
    .speaker-list__speaker {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 5px;
      margin-bottom: 1rem;
    }
    .speaker-list__speaker .speaker-list__speaker__img {
      -ms-flex-negative: 0;
      flex-shrink: 0;  
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
    }
    .speaker-list__speaker .speaker-list__speaker__img > img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      overflow: hidden; object-fit: cover;
    }
    .speaker-list__speaker__name {
      display: inline-block; 
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      -ms-flex-negative: 1;
      flex-shrink: 1;
    }
  </style>
{% endblock css %}

{% block content %}

<section class="page-banner"> 
  <div class="container-fluid">
      <div class="row py-5">
          <div class="col-12 col-md-6"> 
              <div class="position-relative h1">
                  {% translate "Program" %}
                  <span class="dash-accent"></span>
              </div>
          </div>
      </div>
  </div> 
</section>

<section class="pt-5">
    <div class="container-xl pt-5 pb-3">
        <div class="text-center h1 mb-3">
            {% blocktranslate %}
              ACC 2023 – Conference trails
            {% endblocktranslate %}
          </div>
    </div>
</section>

<section class="pb-5">
  <div class="program-block">

    <div class="program-inner">

      <div class="program-timeline">

        <div class="leftInfo">
          <p class="time"></p> 
        </div>

        <div class="rightInfo">
          <h6 class="mb-3 font-size-18">{% translate "Digital city transition and urban planning" %}</h6>

          <div class="">
            {% blocktranslate %}
            In Africa, the digital transformation of cities is still minimal, but initiatives in this 
            direction are beginning to emerge. For example, in Morocco and Tunisia smart homes and 
            connected mobility are already being developed.
            {% endblocktranslate %}
          </div>

          {% comment %}
          <div class="speaker-list mt-3">
            <div class="speaker-list__speaker">
              <div class="speaker-list__speaker__img"> 
                <img src="{% static 'images/assets/webinar-2/Pr.David-Goeury.png' %}" alt="Pr. David Goeury"> 
              </div>
              <span class="speaker-list__speaker__name">
                {% translate 'David Goeury' %} -
                <span class="font-size-12">
                  {% translate 'Researcher in the laboratory "Médiations. Sciences des liens, sciences des lieux" of Sorbonne University. In charge of the "Identifications et sociabilités" axis.' %}
                </span>      
              </span> 
            </div>
          </div>
          {% endcomment %}

        </div>

      </div>

      <div class="program-timeline">

        <div class="leftInfo">
          <p class="time"></p> 
        </div>

        <div class="rightInfo">
          <h6 class="mb-3 font-size-18">{% translate "Digital and smart african cities" %}</h6>

          <div class="">
            {% blocktranslate %}
            We hear increasingly about "smart" cities, but what are they really about? Smart cities in Africa 
            represent a challenge for the development of urban territories, for the economy, but also to gain 
            international visibility.
            {% endblocktranslate %}
          </div>
 
        </div>

      </div>

      <div class="program-timeline">
        <div class="leftInfo">
          <p class="time"></p> 
        </div>

        <div class="rightInfo">
          <h6 class="mb-3 font-size-18">{% translate "Remote sensing and geo – information systems (smart GIS)" %}</h6>

          <div class="">
            {% blocktranslate %}
            Remote sensing and spatial data play an important role in urban planning by providing accurate and up-to-date 
            information about the physical and environmental characteristics of urban areas. This information can be 
            used for mapping and monitoring land use and land cover, assessing the physical characteristics of urban areas, 
            monitoring environmental quality, supporting emergency management, and improving transportation planning. 
            By utilizing remote sensing and spatial data, urban planners can make informed decisions that lead to the 
            development of more sustainable and resilient cities.
            {% endblocktranslate %}
          </div>
        </div>
      </div>

      <div class="program-timeline">
        <div class="leftInfo">
          <p class="time"></p> 
        </div>

        <div class="rightInfo">
          <h6 class="mb-3 font-size-18">{% translate "Digital citizenship and digital gouvernance" %}</h6>

          <div class="">
            {% blocktranslate %}
            Digital citizenship refers to responsible and ethical use of technology and the internet. It encompasses 
            values, behaviors, and skills such as internet safety, digital literacy, digital etiquette, digital rights 
            and responsibilities, and digital activism. By developing these skills, individuals can engage in the digital 
            world effectively, protect their rights and interests, and contribute to a more inclusive and equitable digital 
            society. Digital citizenship education is important for individuals, particularly students, to become informed 
            and effective members of a digital society.
            {% endblocktranslate %}
          </div>
        </div>
      </div>

      <div class="program-timeline">
        <div class="leftInfo">
          <p class="time"></p> 
        </div>

        <div class="rightInfo">
          <h6 class="mb-3 font-size-18">{% translate "African digital cities challenge" %}</h6>

          <div class="">
            {% blocktranslate %}
            Digital technology has great potential for innovation in areas such as health, agriculture, 
            education, energy, financial services, and transport in the cities and towns of tomorrow. 
            The rapid spread of mobile and digital technology in Africa should enable African countries 
            to make a rapid leap in economic development.
            {% endblocktranslate %}
          </div>
        </div>
      </div>

      <div class="program-timeline">
        <div class="leftInfo">
          <p class="time"></p> 
        </div>

        <div class="rightInfo">
          <h6 class="mb-3 font-size-18">{% translate "Urban mobility and transportation" %}</h6>

          <div class="">
            {% blocktranslate %}
            The African continent is on the verge of unprecedented growth, making it necessary to develop 
            the urban mobility sector. The predictions of demographic and economic growth on the continent 
            do not leave the global players in the transport sector indifferent.
            {% endblocktranslate %}
          </div>
        </div>
      </div>

      <div class="program-timeline">
        <div class="leftInfo">
          <p class="time"></p> 
        </div>

        <div class="rightInfo">
          <h6 class="mb-3 font-size-18">{% translate "Emerging urban technologies" %}</h6>

          <div class="">
            {% blocktranslate %}
            As global warming increasingly affects African cities, new cooling technologies 
            are being developed to combat climate change.
            {% endblocktranslate %}
          </div>
        </div>
      </div>

    </div>
  </div>

</section>


{% endblock content %}
  