{% extends "civa-base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% elif self.title %}
        {{ self.title }}
    {% else %}
        {% translate "Program | African Cities Conference" %} - African Cities Lab
    {% endif %}
{% endblock title %}
{% block meta_tag_description %} 
<meta name="robots" content="noindex,nofollow">
  <meta name="description" content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}" />
{% endblock %}
{% block static_meta_tag %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "African Cities Conference" %} - African Cities Lab{% endif %}">
<meta name="twitter:description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}">
<meta name="twitter:site" content="@AfricanCtiesLab"/>
<meta name="twitter:image" content="{% static 'images/assets/acl-logo-square256x256.png' %}">

<meta property="og:title" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "African Cities Conference" %} - African Cities Lab{% endif %}" />
<meta property="og:description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
<meta property="og:site_name" content="African Cities Lab" />
<meta property="og:image" content="{% static 'images/assets/acl-logo-square256x256.png' %}"/>

<meta itemprop="name" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "African Cities Conference" %} - African Cities Lab{% endif %}">
<meta itemprop='description' content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}"/>
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .page-banner {
      background-image: url({% static 'images/assets/banner-pattern.png' %});
      background-position: top center;
    }
  </style>
{% endblock css %}

{% block content %}

<section class="page-banner"> 
  <div class="container-fluid">
      <div class="row py-5">
          <div class="col-12 col-md-6"> 
              <div class="position-relative h1">
                  {% translate "Program" %}
                  <span class="dash-accent"></span>
              </div>
          </div>
      </div>
  </div> 
</section>

<section>

</section>

<section id="acc-program" class="py-5">

  <div class="container">

    <ul class="nav nav-tabs" id="acc-program-tab" role="tablist">

      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="1" aria-selected="true">
            <h3 class="mb-1">{% translate "Day 01" %}</h3>
            <span>{% translate "May 23, 2023" %}</span>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="2" aria-selected="false">
          <h3 class="mb-1">{% translate "Day 02" %}</h3>
          <span>{% translate "May 24, 2023" %}</span>
        </a>
      </li>

    </ul>

    <div class="tab-content" id="acc-program-content">

      <div class="tab-pane p-md-4 fade show active" id="tab1" role="tabpanel" aria-labelledby="1-tab">

        <div class="program-session h4">{% translate "Session 1: Opening ceremony" %}</div>

        <ul class="program-list">

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "09:00 - 09:10" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Welcome from the Morning Chair" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
                <div class="col-12 col-md-6 p-3">
                  <div class="speaker-list__speaker">
                    <div class="speaker-list__speaker__img"> 
                      <img src="{% static 'images/assets/civa/Jerome-chenal.png' %}" alt="Jérôme Chenal"> 
                    </div>
                    <span class="speaker-list__speaker__name">
                      {% translate 'Jérôme Chenal' %} -
                      <span class="font-size-12">
                        {% translate 'Director of CEAT,EPFL, Director of CUS, UM6P' %}
                      </span>      
                    </span> 
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "09:10 - 09:30" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Mains guest’s speech" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
                
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "09:30 - 09:45" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Official’s speech 1" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
                
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "09:30 - 09:45" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Official’s speech 2" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
                
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "10:00 - 10:15" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Presentation of the ACL project (Objectives, Webinars, Conference, MOOCS, …)" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
                
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "10:15 - 10:30" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Signature of conventions" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
                
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "10:30 - 11:10" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Coffee/Tea and Visit of stands" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
                
              </div>
            </div>
          </li>

        </ul>

        <div class="program-session h4">{% translate "Session 2: Forum of professionals: Public Sector" %}</div>

        <ul class="program-list">

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "11:10 - 11:30" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Keynote speech Pro 1" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "11:30 - 11:50" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Keynote speech Pro 2" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "11:50 - 12:10" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Start-up 1" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "12:10 - 12:30" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Start-up 2" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "12:30 - 12:40" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Start-up 3" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "12:40 - 14:00" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Lunch and Networking" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>
        </ul>

        <div class="program-session h4">{% translate "Session 3: Forum of Professional: Private Sector" %}</div>

        <ul class="program-list">

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "14:00 - 14:10" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Welcome from the Afternoon Chair" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "14:10 - 14:30" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Keynote speech Pro 1" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "14:30 - 14:50" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Keynote speech Pro 2" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "14:50 - 15:10" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Start-up 1" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "15:10 - 15:30" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Start-up 2" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "15:30 - 15:50" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Start-up 3" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "15:40 - 16:00" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Q&amp;A" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "15:40 - 16:00" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Cotonou City Tour" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="tab-pane p-md-4 fade" id="tab2" role="tabpanel" aria-labelledby="2-tab">

        <div class="program-session h4">{% translate "Academic Keynote Presentations" %}</div>

        <ul class="program-list">

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "08:15 - 09:00" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Keynote Presentation 1" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
                <div class="col-12 col-md-6 p-3">
                  <div class="speaker-list__speaker">
                    <div class="speaker-list__speaker__img"> 
                      <img src="{% static 'images/assets//civa/Hassan-Radoine.jpeg' %}" alt="Hassan Radoine"> 
                    </div>
                    <span class="speaker-list__speaker__name">
                      {% translate 'Hassan Radoine' %} -
                      <span class="font-size-12">
                        {% translate 'Director of the School of Architecture, Planning and Design (SAP+D) at the Polytechnic University (UM6P) of Benguerir - Morocco' %}
                      </span>      
                    </span> 
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "09:00 - 09:45" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Keynote Presentation 2" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
                
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "09:45 - 10:30" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Keynote Presentation 3" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
                
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "10:30 - 11:00" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Coffee/Tea and Networking/Posters" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>
        </ul>

        <div class="program-session h4">{% translate "Paper presentations" %}</div>

        <ul class="program-list">
          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "11:00 - 12:20" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Session 1A: Transition digitalisation des villes et planification" %}</h6>
              <h6 class="mb-3 program-title">{% translate "Session 1B : Digital and smart African cities" %}</h6>
              <h6 class="mb-3 program-title">{% translate "Session 1C : Smart geo-information systems (Smart GIS)" %}</h6>
              <h6 class="mb-3 program-title">{% translate "Session 1D : Transitions digitales et smart Gouvernance" %}</h6>
              <div class="program-text mb-4">
              </div>
              <div class="row speaker-list mt-3">
              </div>

            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "12:20 - 14:00" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Lunch and Networking/Posters" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>
        </ul>

        <div class="program-session h4">{% translate "Workshops" %}</div>

        <ul class="program-list">
          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "14:00 - 15:20" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Workshop 1: Title" %}</h6>
              <h6 class="mb-3 program-title">{% translate "Workshop 2: Title" %}</h6>
              <h6 class="mb-3 program-title">{% translate "Workshop 3: Title" %}</h6>
              <h6 class="mb-3 program-title">{% translate "Workshop 4: Title" %}</h6>
              <div class="program-text mb-4">
              </div>
              <div class="row speaker-list mt-3">
              </div>

            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "12:20 - 14:00" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Coffee/Tea and Networking/Posters" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>
        </ul>

        <div class="program-session h4">{% translate "Paper presentations" %}</div>

        <ul class="program-list">
          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "16:00 - 17:20" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Session 2A: African digital cities challenges" %}</h6>
              <h6 class="mb-3 program-title">{% translate "Session 2B: Emerging African urban planning issues" %}</h6>
              <h6 class="mb-3 program-title">{% translate "Session 2C: Urban transportation in African cities" %}</h6>
              <h6 class="mb-3 program-title">{% translate "Session 2D: Urban data collection In Africa: methods, progress, and challenges" %}</h6>
              <div class="program-text mb-4">
              </div>
              <div class="row speaker-list mt-3">
              </div>

            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "12:20 - 14:00" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Coffee/Tea and Networking/Posters" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>
        </ul>

        <div class="program-session h4">{% translate "Closing Ceremony" %}</div>

        <ul class="program-list">
          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "19:00 - 19:20" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Closing remarks" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "19:00 - 19:20" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Award ceremony" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>

          <li class="program-item">
            <div class="program-hour">
              <div class="program-hour-text">
                {% translate "19:00 - 19:20" %}
                <small>(GMT+1)</small>
              </div>
            </div>
            <div class="program-content">
              <h6 class="mb-3 program-title">{% translate "Dinner" %}</h6>
              <div class="program-text mb-4">
                {% blocktranslate %}
                {% endblocktranslate %}
              </div>
              <div class="row speaker-list mt-3">
              </div>
            </div>
          </li>
        </ul>

      </div>

    </div>

  </div>

</section>


{% endblock content %}
  