{% extends "civa-base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% elif self.title %}
        {{ self.title }}
    {% else %}
        {% translate "Call for Poster & Demos | African Cities Conference" %} - African Cities Lab
    {% endif %}
{% endblock title %}
{% block meta_tag_description %} 
  <meta name="description" content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}" />
{% endblock %}
 
{% block static_meta_tag %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Call for Poster & Demos | African Cities Conference" %} - African Cities Lab{% endif %}">
<meta name="twitter:description" content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}">
<meta name="twitter:site" content="@AfricanCtiesLab" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />

<meta property="og:title" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Call for Poster & Demos | African Cities Conference" %} - African Cities Lab{% endif %}" />
<meta property="og:description" content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}" />
<meta property="og:site_name" content="African Cities Lab" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />

<meta itemprop="name" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Call for Poster & Demos | African Cities Conference" %} - African Cities Lab{% endif %}">
<meta itemprop='description' content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .page-banner {
      background-image: url({% static 'images/assets/banner-pattern.png' %});
      background-position: top center; 
    }
  </style>
{% endblock css %}

{% block content %}

<section class="page-banner"> 
  <div class="container-fluid">
      <div class="row py-5">
          <div class="col-12 col-md-6"> 
              <div class="position-relative h1">
                  {% translate "Call for Poster & Demos" %}
                  <span class="dash-accent"></span>
              </div> 
          </div>
      </div>
  </div> 
</section>

<section class="py-5">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 font-size-16">
        <p class="mt-4">
          {% blocktranslate %}
          The poster and demo session at the 1st African Cities Conference complements the research session and provides an opportunity to 
          present recent findings and innovative implementations in an informal and interactive setting. During the poster and demo session, 
          authors are encouraged to engage directly with conference participants and discuss their work.
          {% endblocktranslate %}
        </p>
        <p class="pt-3">
          {% blocktranslate %}
          We invite authors to submit work related to African cities: digital and smart cities that address, but are not limited to, the 
          conference's research themes (See ACC's topics). However, we also welcome papers that have already been seen in other venues 
          but are to be shared with the ACC 2023 community.
          {% endblocktranslate %}
        </p>
        <p class="pt-3">
          {% blocktranslate %}
          <strong>NB:</strong> Authors of research papers accepted for the Research track are explicitly invited to present their work through a poster or 
          demo at the Poster and Demo session to further discuss their work with the community and expand their network with other researchers.
          {% endblocktranslate %}
        </p>

        <div class="pt-5">
          <h5 class="mb-3 font-size-18">
            <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
            {% translate "Important dates" %}
          </h5>
          <ul class="list-unstyled">
            <li class="mx-3">
              {% translate "Submission deadline:" %}
              {% translate "April 20, 2023" %}
            </li>
            <li class="mx-3 pt-2">
              {% translate "Notification of acceptance:" %}
            {% translate "April 30, 2023" %}
            </li>
            <li class="mx-3 pt-2">
              {% translate "Camera-ready Submission:" %}
              {% translate "May 05, 2023" %}
            </li>
            <li class="mx-3 pt-2">
              {% translate "Registration due date:" %}
              {% translate "May 15, 2023" %}
            </li>
            <li class="mx-3 pt-2">
              {% translate "Final video and poster submission:" %}
              {% translate "May 10, 2023" %}
            </li>
            <li class="mx-3 pt-2">
              {% translate "Conference date:" %}
              {% translate "May 23-24, 2023" %}
            </li>
          </ul>
        </div>

        <div class="pt-5">
          <h5 class="mb-3 font-size-18">
            <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
            {% translate "Submission guidilines & Review process of Posters & Demos" %}
          </h5>

          <p>
            {% blocktranslate %}
            Authors should submit an abstract of no more than two pages (excluding references) for review. All submissions must be written in English, 
            following the <a class="text_primary" target="_blank" href="https://www.e3s-conferences.org/">E3S web of conference </a> formatting guidelines, 
            and submitted electronically via the <a class="text_primary font-weight-bold" target="_blank" href="https://easychair.org/conferences/?conf=civa2023">Easychair Submission system</a>.
            {% endblocktranslate %}
          </p>
          <ul class="px-4 pt-3">
            <li>
              {% blocktranslate %}
              <strong>Demos:</strong> Demo papers should present mature or prototype systems in which practical problems of African cities are addressed. Submissions should clearly define 
              the objective, scope and audience. All submissions must provide a URL to an online version of their demo or, alternatively, provide a URL to a video 
              showcasing the key features of their demo.
              {% endblocktranslate %}
            </li>
            <li class="pt-3">
              {% blocktranslate %}
              <strong>Posters:</strong> Posters submitted should describe recent research findings, ongoing research projects, or work in progress related to African cities. Additional links 
              to relevant resources are encouraged to be included in the submission.
              {% endblocktranslate %}
            </li>
          </ul>

          <p class="pt-3">
            {% blocktranslate %}
            Authors should indicate whether their submission is a poster or a demonstration article. Submissions should not be anonymized. Each submission will be 
            reviewed by at least 2 members of the TPC via a single blind review process and the program chair will decide on final acceptance under 
            recommendation of the Poster & Demos session chairs.
            {% endblocktranslate %}
          </p>

          <div class="mt-5 text-center">
            <a class="btn btn__secondary btn__small" target="_blank" href="https://easychair.org/conferences/?conf=civa2023">
              {% translate "Submit your proposal" %}
            </a>
          </div>
        </div>
        
        <div class="pt-5">
          <h5 class="mb-3 font-size-18">
            <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
            {% translate "Presentations and Publication of Posters & Demos" %}
          </h5>

          <p>
            {% blocktranslate %}
            The authors of accepted demos and posters will be published in the proceedings of the 1st African Cities Conference, in the <a class="text_primary" target="_blank" href="https://www.e3s-conferences.org/">E3S web of conference </a>, 
            in open access. All accepted papers will also be available on the conference website. Authors are encouraged to upload additional materials 
            (e.g., images, videos) that will be available on the conference website. The authors of accepted demos and posters will be asked to provide a final version 
            of their videos and posters two weeks before the conference.
            {% endblocktranslate %}
          </p>
          <p class="pt-3">
            {% blocktranslate %}
            At least one of the authors must be a registered conference participant, and attend the poster/demo session to present the work.
            {% endblocktranslate %}
          </p>
        </div>

        <div class="pt-5">
          <h5 class="mb-3 font-size-18">
            <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
            {% translate "Posters & Demos Session Chairs" %}
          </h5>
          <ul class="px-5">
            <li >Stéphane C. K. Tékouabou, {% translate "Center of Urban System CUS, UM6P, Benguérir, Morocco" %}</li>
            <li >Antoine de Padoue Nsegbe, {% translate "University of Dschang, Camerooon" %}</li>
          </ul>
        </div>

      </div>

      <div class="col-12 col-lg-4">
          
        <aside class="sidebar-menu my-5">
          <a href="{% url 'cfp-details' %}" class="sidebar-item h4">
            Call for papers
          </a>
          <a href="{% url 'cfwt-details' %}" class="sidebar-item h4">
            {% blocktranslate %} Call for Workshops & Tutorials{% endblocktranslate %}
          </a>
          <a href="{% url 'cfdc-details' %}" class="sidebar-item h4">
            {% blocktranslate %} Call for Doctoral Consortium & Spring School {% endblocktranslate %}
          </a>
        </aside>
    </div>
    </div>
  </div>
</section>
 
{% endblock content %}
  