{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% elif self.title %}
        {{ self.title }}
    {% else %}
        {% translate "Call for Doctoral Consortium & Spring School | African Cities Conference" %} - African Cities Lab
    {% endif %}
{% endblock title %}
{% block meta_tag_description %} 
  <meta name="description" content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}" />
{% endblock %}

{% block static_meta_tag %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Call for Doctoral Consortium & Spring School | African Cities Conference" %} - African Cities Lab{% endif %}">
<meta name="twitter:description" content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}">
<meta name="twitter:site" content="@AfricanCtiesLab" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />

<meta property="og:title" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Call for Doctoral Consortium & Spring School | African Cities Conference" %} - African Cities Lab{% endif %}" />
<meta property="og:description" content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}" />
<meta property="og:site_name" content="African Cities Lab" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />

<meta itemprop="name" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Call for Doctoral Consortium & Spring School | African Cities Conference" %} - African Cities Lab{% endif %}">
<meta itemprop='description' content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .shadow-sm {
        box-shadow: unset !important;
    }
    .civa-form__section {
      background-image: linear-gradient(rgba(64, 39, 129, 0.9),rgba(64, 39, 129, 0.6)) ,url({% static 'images/assets/conference_form_bg.jpg' %});
    }
    .page-banner {
      background-image: linear-gradient(rgba(84,84,84,0.5) 12%, rgba(0,0,0,.5) 100%),
        url({% static 'images/assets/icac-banner-image.jpg' %});
      background-position: top center;
    }
  </style>
{% endblock css %}

{% block javascript %}
  {{ block.super }}
  <script defer src="{% static 'js/subnavigation.js' %}"></script>
{% endblock javascript %}

{% block content %}

<div class="subnavigation">
    <div class="hz-scroll-container">
        <div class="container-fluid hz-scroll-content">
            <div class="row no-gutters">
                <div class="overflow-wrap col-10 col-xl-11">
                    <nav aria-labelledby="nav2">
                      <label id="nav2">
                        {% url 'african-cities-conference-2023' as url %}
                        <a class="{% if request.path == url %}active{% endif %}" href="{% url 'african-cities-conference-2023' %}">
                          {% translate "ACC 2023" %}
                        </a>
                        <span class="visuallyhidden">secondary menu</span>
                      </label>
                      <ul class="list-inline">
                        <!--li class="list-inline-item">
                          {% url 'acc-agenda' as url %}
                          <a class="{% if request.path == url %}active{% endif %}" href="{% url 'acc-agenda' %}">{% translate "Program" %}</a>
                        </li-->
                        <li class="list-inline-item">
                          {% url 'acc-speakers' as url %}
                          <a class="{% if request.path == url %}active{% endif %}" href="{% url 'acc-speakers' %}">{% translate "Speakers" %}</a>
                        </li>
                        <!--li class="list-inline-item">
                          {% url 'acc-guests' as url %}
                          <a class="{% if request.path == url %}active{% endif %}" href="{% url 'acc-guests' %}">{% translate "Special guests" %}</a>
                        </li-->
                        <li class="list-inline-item">
                          {% url 'acc-commitee' as url %}
                          <a class="{% if request.path == url %}active{% endif %}" href="{% url 'acc-commitee' %}">{% translate "Committee" %}</a>
                        </li>
                        <li class="list-inline-item">
                          {% url 'acc-papers' as url %}
                          <a class="{% if request.path == url %}active{% endif %}" href="{% url 'acc-papers' %}">{% translate "Call for papers" %}</a>
                        </li>
                        <!--li class="list-inline-item">
                            {% url 'acc-registration' as url %}
                            <a class="{% if request.path == url %}active{% endif %}" href="{% url 'acc-registration' %}">{% translate "Register" %}</a>
                        </li-->
                        <!--li class="list-inline-item">
                            {% url 'acc-informations' as url %}
                            <a class="{% if request.path == url %}active{% endif %}" href="{% url 'acc-informations' %}">{% translate "Venue & Contact" %}</a>
                        </li-->
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
        <button class="overflowButton js-scroll-button" tabindex="-1">Scroll Subnavigation</button>
    </div>
</div>

<section class="page-banner"> 
  <div class="container-fluid">
      <div class="row py-5">
          <div class="col-12 col-md-6"> 
              <div class="position-relative h1">
                  {% translate "Call for Doctoral Consortium & Spring School" %}
                  <span class="dash-accent"></span>
              </div> 
          </div>
      </div>
  </div>
  <div class="acl-sharpes right-sharpe">
      <img class="d-none d-lg-block" src="{% static 'images/assets/outline-sharpe-right.svg' %}">
  </div>
</section>

<section class="py-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-9 font-size-16">
          <p class="mt-4">
            {% blocktranslate %}
            The ACC 2023 Doctoral & Spring School Consortium (DC) will take place virtually within the framework of the 1st International Conference on 
            African Cities - Digital and Smart Cities, which will take place on May 23-24, 2023 at the Golden Tulip Hotel in Cotonou, Benin. This forum 
            will allow early career doctoral students as well as post-graduate students to focus on the study of an issue related to African cities within 
            the scope of the ACC 2023 conference themes.
            {% endblocktranslate %}
          </p>
          <p class="pt-3">
            {% blocktranslate %}
            The DC offers the opportunity to present and discuss their doctoral research ideas and progress in a supportive, formative, yet critical environment, 
            and to receive feedback from examiners, mentors, and peers in the field of their thesis topic. The doctoral consortium will also provide opportunities 
            for networking and collaboration with other members of the ACC community. We welcome submissions in all areas of research related to African cities 
            and particularly those of digital and smart cities (see "Topics of Interest").
            {% endblocktranslate %}
          </p>
          <p class="pt-3">
            {% blocktranslate %}
            The event is open to both early career and late career doctoral candidates and asks them to formulate and submit a concrete research proposal, preferably 
            supported by preliminary results. The proposal will be reviewed by the conference program committee. Accepted papers will be mentored by a designated mentor, 
            usually an experienced researcher in the field.  If accepted, students will be required to register and attend the event, which will include a series of 
            interactive activities with a spring school. Submission details can be found below under "ACC's DC Submission Details".
            {% endblocktranslate %}
          </p>
  
          <div class="pt-5">
            <h6 class="mb-3 font-size-18">
              <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
              {% translate "ACC’s DC Submission Details " %}
            </h6>
  
            <p>
              {% blocktranslate %}
              Students must submit a 5-8 page (Not including references and appendices) description of their doctoral research proposal. Papers must be written 
              in English and follow the <a class="text_primary" target="_blank" href="https://www.e3s-conferences.org/">E3S web of conference </a> formatting 
              guidelines available <a class="text_primary" target="_blank" href="https://www.webofconferences.org/authors">HERE</a>.
              {% endblocktranslate %}
            </p>
            <p class="pt-3">
              {% blocktranslate %}
              Articles must have a single author (the doctoral candidate). Supervisors, others involved and funders should be acknowledged in an Acknowledgements section.
              {% endblocktranslate %}
            </p>
            <p class="pt-3">
              {% blocktranslate %}
              All proposals must be submitted electronically via the EasyChair conference submission system. 
              <a class="text_primary" target="_blank" href="https://easychair.org/conferences/?conf=civa2023">https://easychair.org/conferences/?conf=civa2023</a>
              {% endblocktranslate %}
            </p>
            <p class="pt-3">
              {% blocktranslate %}
              All DC paper submissions must contain the following:
              {% endblocktranslate %}
            </p>
            <ul class="px-5 pt-3">
              <li>
                {% blocktranslate %}
                <strong>Context and motivation:</strong> What is the social and research context of the research?
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Statement of the problem:</strong> What is the general problem that the research addresses?
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Related work:</strong> How does the research fit into the state of the art?
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Research Questions/Challenges:</strong> What questions does the research answer?
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Method/approach and evaluation:</strong> How are each of the research questions answered? How are the results evaluated?
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Preliminary results:</strong> (if available).
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Discussion and future work:</strong> What are the intermediate conclusions, what are the next steps planned?
                {% endblocktranslate %}
              </li>
            </ul>
            <p class="pt-3">
              {% blocktranslate %}
              The accepted CD papers will be published in the main proceedings of the 1st International Conference on African Cities and more precisely 
              in the proceeding E3S web of conference indexed in Scopus, WoS and many others. Authors will have the opportunity to decline to 
              be included in these proceedings.
              {% endblocktranslate %}
            </p>
          </div>
  
          <div class="pt-5">
            <h6 class="mb-3 font-size-18">
              <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
              {% translate "ACC’s DC important dates" %}
            </h6>
            <ul class="list-unstyled">
              <li class="mx-3">
                {% translate "Submission deadline:" %}
                {% translate "March 25, 2023" %}
              </li>
              <li class="mx-3 pt-2">
                {% translate "Notification of acceptance:" %}
                {% translate "April 15, 2023" %}
              </li>
              <li class="mx-3 pt-2">
                {% translate "Camera-ready Submission:" %}
                {% translate "May 05, 2023" %}
              </li>
              <li class="mx-3 pt-2">
                {% translate "Registration due date:" %}
                {% translate "May 15, 2023" %}
              </li>
              <li class="mx-3 pt-2">
                {% translate "DC & Spring School date:" %}
                {% translate "May 23-24, 2023" %}
              </li>
            </ul>
          </div>
  
          <div class="pt-5">
            <h6 class="mb-3 font-size-18">
              <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
              {% translate "Doctoral Consortium & Spring School chairs " %}
            </h6>
            <ul class="px-5">
              <li >El Bachir Diop, {% translate "Center of Urban System CUS, UM6P, Benguérir, Morocco" %}</li>
            </ul>
          </div>
  
          
        </div>
      </div>
    </div>
  </section>


{% endblock content %}
  