{% extends "civa-base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% elif self.title %}
        {{ self.title }}
    {% else %}
        {% translate "Call for Workshops & Tutorials | African Cities Conference" %} - African Cities Lab
    {% endif %}
{% endblock title %}
{% block meta_tag_description %} 
  <meta name="description" content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}" />
{% endblock %}

{% block static_meta_tag %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Call for Workshops & Tutorials | African Cities Conference" %} - African Cities Lab{% endif %}">
<meta name="twitter:description" content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}">
<meta name="twitter:site" content="@AfricanCtiesLab" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />

<meta property="og:title" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Call for Workshops & Tutorials | African Cities Conference" %} - African Cities Lab{% endif %}" />
<meta property="og:description" content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}" />
<meta property="og:site_name" content="African Cities Lab" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />

<meta itemprop="name" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Call for Workshops & Tutorials | African Cities Conference" %} - African Cities Lab{% endif %}">
<meta itemprop='description' content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
 
    .civa-form__section {
      background-image: linear-gradient(rgba(64, 39, 129, 0.9),rgba(64, 39, 129, 0.6)) ,url({% static 'images/assets/conference_form_bg.jpg' %});
    }
    .page-banner {
      background-image: linear-gradient(rgba(84,84,84,0.5) 12%, rgba(0,0,0,.5) 100%),
        url({% static 'images/assets/icac-banner-image.jpg' %});
      background-position: top center;
    }
  </style>
{% endblock css %}

{% block content %}

<section class="page-banner"> 
  <div class="container-fluid">
      <div class="row py-5">
          <div class="col-12 col-md-6"> 
              <div class="position-relative h1">
                  {% translate "Call for Workshops & Tutorials" %}
                  <span class="dash-accent"></span>
              </div> 
          </div>
      </div>
  </div>
  <div class="acl-sharpes right-sharpe">
      <img class="d-none d-lg-block" src="{% static 'images/assets/outline-sharpe-right.svg' %}">
  </div>
</section>

<section class="py-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-9 font-size-16">
          <p class="mt-4">
            {% blocktranslate %}
            In the context of the 1st African Cities Conference, we are launching a call for proposals for the organization of workshop sessions, 
            creative or reflective events and tutorials during ACC 2023.  These types of events at ACC 2023 will provide a platform to discuss 
            a specific topic related to African cities with an audience specifically interested in that topic in an informal setting (as opposed to the main conference).
            {% endblocktranslate %}
          </p>
          <p class="pt-3">
            {% blocktranslate %}
            We invite proposals for events that promote discussion, interdisciplinary exchange and interaction, scientific discourse, and creative and critical thinking, 
            rather than simply being mini-conferences. In order to vary and diversify the activities of ACC 2023, we offer potential organizers of such events flexibility 
            in the formats that best suit the objectives of their proposal. We also welcome proposals from research communities that are not always featured in African 
            cities events and conferences so that the conference is not limited to typical researchers.
            {% endblocktranslate %}
          </p>
          <p class="pt-3">
            {% blocktranslate %}
            So in this category of events, we hope to welcome three types of contributions: traditional workshops, creative events and tutorials, each with its own 
            particularities as described below.
            {% endblocktranslate %}
          </p>
  
          <div class="pt-5">
            <h6 class="mb-3 font-size-18">
              <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
              {% translate "Workshops traditionnels" %}
            </h6>
  
            <p>
              {% blocktranslate %}
              Traditional workshops generally correspond to the topics and challenges of the general call for papers of the main conference. In a traditional workshop, 
              organizers may consider a program consisting of a set of invited talks around a certain theme (with or without paper presentations).
              {% endblocktranslate %}
            </p>
          </div>
  
          <div class="pt-5">
            <h6 class="mb-3 font-size-18">
              <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
              {% translate "Creative, Interactive or Thinking Events" %}
            </h6>
  
            <p>
              {% blocktranslate %}
              In the spirit of reflection and community building, we invite academics from all disciplines and individuals representing different communities of practice 
              (including journalism, management, health, advocacy, activism, education, art, law, and politics) to contribute to creative and reflective events related 
              to the African Cities Conference 2023. 
              {% endblocktranslate %}
            </p>
            <p class="pt-3">
              {% blocktranslate %}
              The format of these events is flexible. Alternative formats include, but are not limited to:
              {% endblocktranslate %}
            </p>
            <ul class="px-5 pt-3">
              <li >{% translate "Speeches, Presentations, Urban Quick Talks" %}</li>
              <li >{% translate "Discussions or brainstorming sessions" %}</li>
              <li >{% translate "Discussions or brainstorming sessions" %}</li>
              <li >{% translate "Unconference" %}</li>
              <li >{% translate "Interactive workshop" %}</li>
              <li >{% translate "Urban Art Exhibition or other Urban Art Intervention" %}</li>
            </ul>
          </div>
  
          <div class="pt-5">
            <h6 class="mb-3 font-size-18">
              <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
              {% translate "Tutorials" %}
            </h6>
  
            <p>
              {% blocktranslate %}
              In this category of event, unlike traditional workshops, creative events, tutorials are intended for reasonably well established topics. However, given that topics 
              on the challenges of African cities are emerging research topics, we hope to welcome tutorials here that link well-established topics from other disciplines 
              to African city topics. We encourage tutorials to be interactive in order to engage the audience.
              {% endblocktranslate %}
            </p>
          </div>
  
          <div class="pt-5">
            <h6 class="mb-3 font-size-18">
              <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
              {% translate "Important dates" %}
            </h6>
            <ul class="list-unstyled">
              <li class="mx-3">
                {% translate "Workshop proposal deadline:" %}
                {% translate "February 15, 2023" %}
              </li>
              <li class="mx-3 pt-2">
                {% translate "Notification of proposal acceptance:" %}
                {% translate "April 30, 2023" %}
              </li>
              <li class="mx-3 pt-2">
                {% translate "Deadline for Workshop Call for Paper:" %}
                {% translate "May 05, 2023" %}
              </li>
              <li class="mx-3 pt-2">
                {% translate "Recommended Workshop Submission Deadline:" %}
                {% translate "May 15, 2023" %}
              </li>
              <li class="mx-3 pt-2">
                {% translate "Recommended Deadline for notification of acceptance:" %}
                {% translate "May 10, 2023" %}
              </li>
              <li class="mx-3 pt-2">
                {% translate "Recommended workshop’s paper camera-ready:" %}
                {% translate "May 23-24, 2023" %}
              </li>
              <li class="mx-3 pt-2">
                {% translate "ACC’s 2023 Workshop & Tutorial Date:" %}
                {% translate "May 24, 2023" %}
              </li>
            </ul>
          </div>
  
          <div class="pt-5">
            <h6 class="mb-3 font-size-18">
              <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
              {% translate "Submission Proposal Guidelines" %}
            </h6>
  
            <p>
              {% blocktranslate %}
              Proposals should be submitted via Easychair: 
              <a class="text_primary" target="_blank" href="https://easychair.org/my/conference?conf=hhai2023">https://easychair.org/my/conference?conf=hhai2023</a>.
              {% endblocktranslate %}
            </p>
            <p class="pt-3">
              {% blocktranslate %}
              Your proposal should not exceed 8 pages (excluding references) in IOS format, and should include the following information:
              {% endblocktranslate %}
            </p>
  
            <ol class="mt-3">
              <li>
                {% blocktranslate %}
                <strong>Title and summary</strong> of the workshop or tutorial.
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Name, affiliation and short biography</strong> of each organizer.
                {% endblocktranslate %}
                <ul class="pt-3">
                  <li class="mx-3">
                    {% blocktranslate %}
                    We recommend at least two organizers who are familiar with the field and have complementary skills.
                    {% endblocktranslate %}
                  </li>
                  <li class="mx-3 pt-2">
                    {% blocktranslate %}
                    In addition to the primary organizers, workshops may involve an additional organization, such as a program committee, to evaluate contributions.
                    {% endblocktranslate %}
                  </li>
                </ul>
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>The topics and questions</strong> that the workshop or tutorial will address.
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>The expected duration of the workshop or tutorial</strong> (half day or full day).
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>A link to the previous iteration of this workshop or tutorial</strong>, if applicable.
                {% endblocktranslate %}
                <ul class="pt-3">
                  <li class="mx-3">
                    {% blocktranslate %}
                    You can also discuss other closely related workshops.
                    {% endblocktranslate %}
                  </li>
                </ul>
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>A brief description of the format of the workshop or tutorial,</strong> e.g., the combination of events such as paper presentations, invited talks, panels, and general discussions.
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Size of the target audience</strong>.
                {% endblocktranslate %}
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Special requirements,</strong> where applicable.
                {% endblocktranslate %}
                <ul class="pt-3">
                  <li class="mx-3">
                    {% blocktranslate %}
                    Include a note if you have special requirements for your session that are not addressed elsewhere.
                    {% endblocktranslate %}
                  </li>
                </ul>
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Support material,</strong> where applicable.
                {% endblocktranslate %}
                <ul class="pt-3">
                  <li class="mx-3">
                    {% blocktranslate %}
                    If you have additional materials that would support your proposal, such as a video example of the animation, 
                    a website, or written workbooks, you can also include that in your proposal.
                    {% endblocktranslate %}
                  </li>
                </ul>
              </li>
            </ol>
          </div>
  
          <div class="pt-5">
            <h6 class="mb-3 font-size-18">
              <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
              {% translate "Evaluation criteria for proposals" %}
            </h6>
  
            <ul class="px-5 pt-3">
              <li>
                {% blocktranslate %}
                <strong>Pertinence:</strong> Relationship and pertinence to the HHAI conference objectives and the objectives listed in this particular call.
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Scientific quality:</strong> The potential of the proposal to generate stimulating discussions and useful results on scientific problems related to HHAI.
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Organisation:</strong> Is the plan clear, appropriate and complete?
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Diversity and inclusion:</strong> Reflection on the detailed approach to ensure engagement and participation of a broad audience. Diversity of background 
                of workshop organizers and intended presenters/contributors.
                {% endblocktranslate %}
              </li>
            </ul>
          </div>
  
          <div class="pt-5">
            <h6 class="mb-3 font-size-18">
              <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
              {% translate "Proceedings of the workshops and tutorials" %}
            </h6>
  
            <p>
              {% blocktranslate %}
              Each workshop, on its own, may consider archiving workshop contributions and documenting the ideas generated during the workshop. If there is sufficient interest, 
              we may archive (with an opt-out option) all contributions to the ACC 2023 workshop, along with the workshop and tutorial summaries, as a combined 
              <a class="text_primary" target="_blank" href="https://ceur-ws.org/">CEUR Workshop Proceeding</a>.
              {% endblocktranslate %}
            </p>
          </div>
  
          <div class="pt-5">
            <h6 class="mb-3 font-size-18">
              <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
              {% translate "Workshop & Tutorial chairs" %}
            </h6>
            <ul class="px-5">
              <li >Rida Azmi, {% translate "Center of Urban System CUS, UM6P, Benguérir, Morocco" %}</li>
            </ul>
          </div>
  
        </div>
      </div>
    </div>
  </section>

 
{% endblock content %}
  