{% extends "civa-base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% elif self.title %}
        {{ self.title }}
    {% else %}
        {% translate "Call for Workshops & Tutorials | African Cities Conference" %} - African Cities Lab
    {% endif %}
{% endblock title %}
{% block meta_tag_description %} 
  <meta name="description" content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}" />
{% endblock %}
 
{% block static_meta_tag %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Call for Workshops & Tutorials | African Cities Conference" %} - African Cities Lab{% endif %}">
<meta name="twitter:description" content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}">
<meta name="twitter:site" content="@AfricanCtiesLab" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />

<meta property="og:title" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Call for Workshops & Tutorials | African Cities Conference" %} - African Cities Lab{% endif %}" />
<meta property="og:description" content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}" />
<meta property="og:site_name" content="African Cities Lab" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />

<meta itemprop="name" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Call for Workshops & Tutorials | African Cities Conference" %} - African Cities Lab{% endif %}">
<meta itemprop='description' content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .page-banner {
      background-image: url({% static 'images/assets/banner-pattern.png' %});
      background-position: top center;
    }
  </style>
{% endblock css %}

{% block content %}

<section class="page-banner"> 
  <div class="container-fluid">
      <div class="row py-5">
          <div class="col-12 col-md-6"> 
              <div class="position-relative h1">
                  {% translate "Call for Workshops & Tutorials" %}
                  <span class="dash-accent"></span>
              </div> 
          </div>
      </div>
  </div> 
</section>

<section class="py-5">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8 font-size-16">
          <p class="mt-4">
            {% blocktranslate %}
            In the framework of the 1st African Cities Conference (ACC 2023), we are launching a call for proposals for the organisation of workshop sessions, 
            creative or reflective events and tutorials during ACC 2023.  These types of ACC 2023 events will provide a platform to discuss a specific topic 
            related to African cities with an audience specifically interested in that topic in an informal setting (as opposed to the leading conference).
            {% endblocktranslate %}
          </p>
          <p class="pt-3">
            {% blocktranslate %}
            We invite proposals for events that promote discussion, interdisciplinary exchange and interaction, scholarly discourse, and creative and critical 
            thinking, rather than being mere mini-conferences. To vary and diversify the activities of the ACC 2023, we offer potential organisers of such 
            events flexibility in the formats that best suit the objectives of their proposal. We also welcome proposals from research communities that are 
            not always featured in African cities' events and conferences so that the conference is not limited to typical researchers.
            {% endblocktranslate %}
          </p>
          <p class="pt-3">
            {% blocktranslate %}
            Thus, within this category of events, we hope to welcome three types of contributions: traditional workshops, creative events and tutorials, 
            each with its own particularities as described below.
            {% endblocktranslate %}
          </p>
  
          <div class="pt-5">
            <h5 class="mb-3 font-size-18">
              <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
              {% translate "Traditional Workshops" %}
            </h5>
  
            <p>
              {% blocktranslate %}
              Traditional workshops usually correspond to the topics and challenges of the general call for papers of the main conference. In the context of a 
              traditional workshop, the organisers may consider a programme consisting of a set of invited talks around a certain theme (with or without paper presentations).
              {% endblocktranslate %}
            </p>
          </div>
  
          <div class="pt-5">
            <h5 class="mb-3 font-size-18">
              <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
              {% translate "Creative, Interactive or Reflective Events" %}
            </h5>
  
            <p>
              {% blocktranslate %}
              In the spirit of reflection and community building, we invite academics from all disciplines and individuals representing different communities 
              of practice (including journalism, management, health, advocacy, activism, education, art, law and politics) to contribute to creative and 
              reflective events related to the African Cities Conference 2023. 
              {% endblocktranslate %}
            </p>
            <p class="pt-3">
              {% blocktranslate %}
              The format of these events is flexible. Alternative formats include, but are not limited to:
              {% endblocktranslate %}
            </p>
            <ul class="px-5 pt-3">
              <li >{% translate "Speeches, Presentations, Urban lightning talks" %}</li>
              <li >{% translate "Debates or brainstorming sessions," %}</li>
              <li >{% translate "Non-conference," %}</li>
              <li >{% translate "Interactive workshop," %}</li>
              <li >{% translate "Urban art exhibition or other urban art intervention." %}</li>
            </ul>
          </div>
  
          <div class="pt-5">
            <h5 class="mb-3 font-size-18">
              <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
              {% translate "Tutorials" %}
            </h5>
  
            <p>
              {% blocktranslate %}
              In this category of event, unlike traditional workshops, and creative events, tutorials are aimed at reasonably well-established topics. 
              However, given that topics on the challenges of African cities are emerging research topics, we hope to welcome them here, 
              especially tutorials that link well-established topics from other disciplines to African city topics. We encourage tutorials to be interactive to engage the audience.
              {% endblocktranslate %}
            </p>
          </div>
  
          <div class="pt-5">
            <h5 class="mb-3 font-size-18">
              <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
              {% translate "Important dates" %}
            </h5>
            <ul class="list-unstyled">
              <li class="mx-3">
                {% translate "Workshop proposal deadline:" %}
                {% translate "April 15, 2023" %}
              </li>
              <li class="mx-3 pt-2">
                {% translate "Notification of acceptance:" %}
                {% translate "April 30, 2023" %}
              </li>
              <li class="mx-3 pt-2">
                {% translate "Deadline for camera-ready submission:" %}
                {% translate "May 15, 2023" %}
              </li>
              <li class="mx-3 pt-2">
                {% translate "ACC’s 2023 Workshop & Tutorial Date:" %}
                {% translate "May 24, 2023" %}
              </li>
            </ul>
          </div>
  
          <div class="pt-5">
            <h5 class="mb-3 font-size-18">
              <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
              {% translate "Submission Proposal Guidelines" %}
            </h5>
  
            <p>
              {% blocktranslate %}
              Proposals should be submitted via Easychair: 
              <a class="text_primary" target="_blank" href="https://easychair.org/my/conference?conf=hhai2023">https://easychair.org/my/conference?conf=hhai2023</a>.
              {% endblocktranslate %}
            </p>
            <p class="pt-3">
              {% blocktranslate %}
              Your proposal should not exceed 8 pages (excluding references) in the <a class="text_primary" target="_blank" href="https://www.webofconferences.org/authors">Web of conference template</a>
               and should include the following information:
              {% endblocktranslate %}
            </p>
  
            <ol class="mt-3">
              <li>
                {% blocktranslate %}
                <strong>Title and summary</strong> of the workshop or tutorial.
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Name, affiliation and short biography</strong> of any organiser.
                {% endblocktranslate %}
                <ul class="pt-3">
                  <li class="mx-3">
                    {% blocktranslate %}
                    We recommend at least two organisers, who know the field well and have complementary skills.
                    {% endblocktranslate %}
                  </li>
                  <li class="mx-3 pt-2">
                    {% blocktranslate %}
                    In addition to the main organisers, workshops may involve an additional organisation, e.g. a programme committee to evaluate the contributions.
                    {% endblocktranslate %}
                  </li>
                </ul>
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>The topics and questions</strong> to be covered in the workshop or tutorial.
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>The expected duration of the workshop or tutorial</strong> (1h to 1h30 minutes).
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>A link to the previous iteration of this workshop or tutorial</strong>, if applicable.
                {% endblocktranslate %}
                <ul class="pt-3">
                  <li class="mx-3">
                    {% blocktranslate %}
                    You can also discuss other closely related workshops.
                    {% endblocktranslate %}
                  </li>
                </ul>
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>A brief description of the format of the workshop or tutorial,</strong> e.g., the combination of events such as paper presentations, invited talks, panels and general discussions.
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Size of the target audience</strong>.
                {% endblocktranslate %}
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Special requirements,</strong> , if any.
                {% endblocktranslate %}
                <ul class="pt-3">
                  <li class="mx-3">
                    {% blocktranslate %}
                    Include a note if you have special requirements for your session that are not covered elsewhere.
                    {% endblocktranslate %}
                  </li>
                </ul>
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Supporting material,</strong> if any.
                {% endblocktranslate %}
                <ul class="pt-3">
                  <li class="mx-3">
                    {% blocktranslate %}
                    If you have additional material that could support your proposals, such as a video example of the animation, a website, or written workbooks, you can also include this in your proposal.
                    {% endblocktranslate %}
                  </li>
                </ul>
              </li>
            </ol>

            <div class="mt-5 text-center">
              <a class="btn btn__secondary btn__small" target="_blank" href="https://easychair.org/my/conference?conf=hhai2023">
                {% translate "Submit your proposal" %}
              </a>
            </div>
          </div>
  
          <div class="pt-5">
            <h5 class="mb-3 font-size-18">
              <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
              {% translate "Evaluation criteria for proposals" %}
            </h5>
  
            <ul class="px-5 pt-3">
              <li>
                {% blocktranslate %}
                <strong>Relevance:</strong> Link and relevance to the objectives of the ACC conference and the objectives listed in this particular call.
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Scientific Quality:</strong> The potential of the proposal to generate stimulating discussions and useful results on scientific issues related to ACC.
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Organisation:</strong> Is the plan clear, sensible, sound and comprehensive?
                {% endblocktranslate %}
              </li>
              <li class="pt-3">
                {% blocktranslate %}
                <strong>Diversity & Inclusion:</strong> Reflection on the detailed approach to ensure engagement and participation of a wide audience. Diversity of background 
                of workshop organisers and intended presenters/contributors.
                {% endblocktranslate %}
              </li>
            </ul>
          </div>
  
          <div class="pt-5">
            <h5 class="mb-3 font-size-18">
              <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
              {% translate "Proceedings of the workshops and tutorials" %}
            </h5>
  
            <p>
              {% blocktranslate %}
              Each workshop, on its own, may consider archiving the workshop contributions and documenting the ideas generated during the workshop. 
              If there is sufficient interest, we can archive (with an opt-out option) all contributions to the ACC 2023 workshop, together with the 
              workshop and tutorial summaries, as a combined record of <a class="text_primary" target="_blank" href="https://ceur-ws.org/">CEUR Workshop Proceeding</a> 
              or our Web of Conference proceeding.
              {% endblocktranslate %}
            </p>
          </div>
  
          <div class="pt-5">
            <h5 class="mb-3 font-size-18">
              <i class="fas fa-circle text_primary mx-2 font-size-12"></i>
              {% translate "Workshop & Tutorial chairs" %}
            </h5>
            <ul class="px-5">
              <li >Rida Azmi, {% translate "Center of Urban System CUS, UM6P, Benguérir, Morocco" %}</li>
              <li>Stéphane C. K. Tékouabou, {% translate "Center of Urban System CUS, UM6P, Benguérir, Morocco" %}</li>
            </ul>
          </div>
  
        </div>

        <div class="col-12 col-lg-4">
          
          <aside class="sidebar-menu my-5">
            <a href="{% url 'cfp-details' %}" class="sidebar-item h4">
              {% blocktranslate %} Call for papers {% endblocktranslate %}
            </a>
            <a href="{% url 'cfpd-details' %}" class="sidebar-item h4">
              {% blocktranslate %} Call for Poster & Demos {% endblocktranslate %}
            </a>
            <a href="{% url 'cfdc-details' %}" class="sidebar-item h4">
              {% blocktranslate %} Call for Doctoral Consortium & Spring School {% endblocktranslate %}
            </a>
          </aside>
      </div>
      </div>
    </div>
  </section>

 
{% endblock content %}
  