{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% elif self.title %}
        {{ self.title }}
    {% else %}
        {% translate "The International Conference of African Cities (CIVA) - Digital Cities" %} - African Cities Lab
    {% endif %}
{% endblock title %}
{% block meta_tag_description %}
  <meta name="description" content="{% translate "CIVA is the first international conference on urban and sustainable development in Africa." %}" />
{% endblock %}

{% block static_meta_tag %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "The International Conference of African Cities (CIVA) - Digital Cities" %} - African Cities Lab{% endif %}">
<meta name="twitter:description" content="{% translate "CIVA is the first international conference on urban and sustainable development in Africa." %}">
<meta name="twitter:site" content="@AfricanCtiesLab" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />

<meta property="og:title" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "The International Conference of African Cities (CIVA) - Digital Cities" %} - African Cities Lab{% endif %}" />
<meta property="og:description" content="{% translate "CIVA is the first international conference on urban and sustainable development in Africa." %}" />
<meta property="og:site_name" content="African Cities Lab" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />

<meta itemprop="name" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "The International Conference of African Cities (CIVA) - Digital Cities" %} - African Cities Lab{% endif %}">
<meta itemprop='description' content="{% translate "CIVA is the first international conference on urban and sustainable development in Africa." %}" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .shadow-sm {
        box-shadow: unset !important;
    }
    .civa-banner {
      background-image: url({% static 'images/assets/icac-banner-image.jpg' %});
      position: relative;
    }
    .banner-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgb(64, 39, 129);
      opacity: .78;
    }
    .civa-form__section {
      background-image: linear-gradient(rgba(64, 39, 129, 0.98),rgba(64, 39, 129, 0.85)) ,url({% static 'images/assets/conference_form_bg.jpg' %});
    }
    .info-media-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      row-gap: 15px;
      -webkit-column-gap: 42px;
      -moz-column-gap: 42px;
      column-gap: 35px;
      border-top: 1px solid #ececec;
      border-bottom: 1px solid #ececec;
      padding: 23px 0;
      margin-bottom: 40px;
    }
    .info-media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 20px;
      max-width: 310px;
    }
    .info-media_icon {
      width: 70px;
      height: 70px;
      line-height: 70px;
      background-color: rgba(190, 55, 18, 0.08);
      color: #BE3712;
      text-align: center;
      font-size: 32px;
      border-radius: 50%;
    }
    .media-body {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
    .info-media_title {
      font-size: 22px;
      margin-bottom: 5px;
    }
    .civa-partners-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .partners-item {
      width: 50%;
      height: 12rem;
      border: 0.0325rem solid #E5E5E5;;
      margin-top: -0.0625rem;
      padding: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .civa-partners-wrapper.row-title h3 {
      width: 100%;
      margin-top: -0.0625rem;
      padding: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .civa-partners-wrapper.row-title .partners-item {
      width: 100%;
    }
    
    #civa-highlights .accordion-item {
      border: none;
    }
    #civa-highlights .accordion-button {
      background: #402781;
      color: #fff;
      padding: 1.5rem;
      margin: 0.75rem 0;
    }
    #civa-highlights .accordion-button::after {
      width: 1.25rem;
      height: 1.25rem;
      content: "\f078";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 16px;
      background-image: unset;
  }
  #civa-highlights .accordion-button:not(.collapsed)::after {
    background-image: unset;
  }
  .count-box {
    max-width: 100%;
    min-height: 140px;
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  .count-box .count-box__order > h3 {
    width: 50px;
    height: 50px;
    background: #BE3712;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    font-size: 22px;
    display: flex;
    flex-direction: column;    
    place-content: center;
  }
  .count-box .count-box__content {
    margin-top: 1rem;
  }
  .platform-feature__card .card:hover h4 {
    color: #BE3712;
  }
  @media (max-width: 600px) {
    .focus-areas__item p.h5 {
      font-size: 16px;
    }
  }
  @media (min-width: 600px) {
    .count-box { 
      grid-template-columns: 65px 1fr; 
    }
    .partners-item,
    .civa-partners-wrapper.row-title h3 {
      width: 33%;
    }
    .civa-partners-wrapper.row-title .partners-item {
      width: 66%;
    }
  }
  @media (min-width: 992px){
    #column-2 {
      column-count: 2; 
      column-gap: 3.5em;
    }
    .partners-item {
      width: 21%;
    }
    .civa-partners-wrapper.row-title h3 {
      width: 26%;
    }
    .civa-partners-wrapper.row-title .partners-item {
      width: 58%;
    }
    .count-box {
      gap: 1.5rem;
      margin-top: 1.5rem;
    }
    .count-box .count-box__order > h3 {
      width: 65px;
      height: 65px;
      font-size: 30px;
    }
  }
  </style>
{% endblock css %}

{% block javascript %}
  {{ block.super }}
  <script defer src="{% static 'js/subnavigation.js' %}"></script>
  <script defer src="{% static 'js/counttimer.js' %}"></script>
{% endblock javascript %}

{% block content %}

<div class="subnavigation">
    <div class="hz-scroll-container">
        <div class="container-fluid hz-scroll-content">
            <div class="row no-gutters">
                <div class="overflow-wrap col-10 col-xl-11">
                    <nav aria-labelledby="nav2">
                        <label id="nav2">
                          {% url 'the-international-conference-of-african-cities-2023' as url %}
                          <a class="{% if request.path == url %}active{% endif %}" href="{% url 'the-international-conference-of-african-cities-2023' %}">
                            {% translate "CIVA 2023" %}
                          </a>
                          <span class="visuallyhidden">secondary menu</span>
                        </label>
                        <ul class="list-inline">
                          <!--li class="list-inline-item">
                            {% url 'civa-agenda' as url %}
                            <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-agenda' %}">{% translate "Program" %}</a>
                          </li-->
                          <li class="list-inline-item">
                            {% url 'civa-speakers' as url %}
                            <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-speakers' %}">{% translate "Speakers" %}</a>
                          </li>
                          <!--li class="list-inline-item">
                            {% url 'civa-guests' as url %}
                            <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-guests' %}">{% translate "Special guests" %}</a>
                          </li-->
                          <li class="list-inline-item">
                            {% url 'civa-commitee' as url %}
                            <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-commitee' %}">{% translate "Committee" %}</a>
                          </li>
                          <li class="list-inline-item">
                            {% url 'civa-papers' as url %}
                            <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-papers' %}">{% translate "Call for papers" %}</a>
                          </li>
                          <!--li class="list-inline-item">
                            {% url 'civa-registration' as url %}
                            <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-registration' %}">{% translate "Register" %}</a>
                          </li-->
                          <!--li class="list-inline-item">
                              {% url 'civa-informations' as url %}
                              <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-informations' %}">{% translate "Venue & Contact" %}</a>
                          </li-->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <button class="overflowButton js-scroll-button" tabindex="-1">Scroll Subnavigation</button>
    </div>
</div>

<section class="civa-banner mt-5">
  <div class="banner-overlay"></div>
  <div class="container-lg position-relative">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-xl-8 text-center">
        <h1 class="font-size-3-50em mt-4">
          {% translate "The International Conference of African Cities (CIVA) - Digital Cities" %}
        </h1>

        <div class="countdown-timer__widget">
          <div class="timer-container position-relative">
            <span id="days" class="h1"></span>
            <p>{% translate "Days" %}</p>
          </div>
          <div class="timer-container position-relative">
            <span id="hours" class="h1">230</span>
            <p>{% translate "Hours" %}</p>
          </div>
          <div class="timer-container position-relative"> 
            <span id="minutes" class="h1">230</span>
            <p>{% translate "Minutes" %}</p>
          </div>
          <div class="timer-container position-relative">
            <span id="seconds" class="h1">230</span>
            <p>{% translate "Seconds" %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container-xl py-md-5">
    <div class="row">
      <div class="col-12 col-lg-5">
        
        <p class="font-size-24 py-4 text_primary ">
          {% translate "CIVA is the first international conference on urban and sustainable development in Africa." %}
        </p>
      </div>
      <div class="col-12 col-lg-5 offset-lg-1">

        <div class="info-media-wrap">
          <div class="info-media">
            <div class="info-media_icon">
              <i class="fas fa-calendar-alt"></i>
            </div>
            <div class="media-body">
              <h3 class="info-media_title">{% translate "When" %}</h3>
              <p class="info-media_text font-size-18">{% translate "March 21, 22 & 23" %}</p>
            </div>
          </div>

          <div class="info-media">
            <div class="info-media_icon">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="media-body">
              <h3 class="info-media_title">{% translate "Location" %}</h3>
              <p class="info-media_text font-size-18">{% translate "Cotonou, Benin" %}</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-12 col-xl-11 pt-3">
        <div id="column-2" class="text-justify font-size-16">
          <p>
            {% blocktranslate %}
            African digital cities are presented as a reasonable response to future demographic projections and the inability of the public sector 
            alone to respond structurally to a strong increase in demand for urban infrastructure and infrastructure and urban services such as housing, 
            socio-professional integration, etc.<br>
            {% endblocktranslate %}
            {% blocktranslate %}
            Challenging the current vision of cities in Africa, digital cities seem to be major players in the urbanization of Africa. At a time when a 
            new urban paradigm is being implemented but intrinsic challenges remain, the role of digital cities as drivers of urban development in 
            Africa is to be established.<br>
            {% endblocktranslate %}
            {% blocktranslate %}
            There is today a tangible and growing demand for talented and highly qualified African researchers on the theme of the city and its digitalization. 
            This is particularly visible in all areas of the digital transformation of the continent.
            {% endblocktranslate %}
          </p>
          <p class="my-2">
            {% blocktranslate %}
            The « <strong>International Conference on African Cities (CIVA) - Digital Cities</strong> » aims to increase the scope and influence of research, 
            innovation and entrepreneurial activities on the African continent related to the digitization of cities, as well as to promote scientific excellence 
            in Africa.
            {% endblocktranslate %}
          </p>
          <p class="mb-2">
            {% blocktranslate %}
            Therefore, beyond its thematic focus, CIVA aims to advance interdisciplinary research by bridging the disciplinary gap between the different academic 
            cultures of the humanities, sciences and application-oriented research, but also the sectoral gap between urban development actors in Africa.
            {% endblocktranslate %}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg_secondary text-white">
  <div class="container-xl py-5">
    <div class="row justify-content-between align-items-center">
        <div class="col-12 col-md-7">
          <h1 class="font-size-2-75em">{% translate "The International Conference of African Cities (CIVA) - Digital Cities" %}</h1>    
          <p class="pt-3 font-size-18">
            {% blocktranslate %}
            The conference organizers cordially invite you to submit your scientific work to 
            International Conference of African Cities (CIVA) - Digital Cities to be held 
            in Cotonou, Benin, next March 21 -23
            {% endblocktranslate %}
          </p>
        </div>
        <div class="col-12 col-md-3">
          <a class="btn btn__primary btn__small my-4" href="{% url 'civa-papers' %}">
            {% translate "Call for papers" %}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-md-5 d-none">
  <div class="container">
    <div class="row d-flex justify-content-center pt-5">
      <h3 class="section-title text-center">
        {% blocktranslate %}
          Why should attend <br>
          <span class="text_primary">CIVA 2023</span>?
        {% endblocktranslate %}
      </h3>
    </div>
    <div class="row d-flex justify-content-center pt-5">

      <div class="col-12 col-md-5 text-center" >
        <img src="{% static 'images/assets/who-expect.jpg' %}">
      </div>
      
      <div class="col-12 col-md-5">
        <div class="m-5">
          <div class="count-box">
            <div class="count-box__order">
              <h3>1</h3>
            </div>
            <div class="count-box__content">
              <h4>{% translate "Networking" %}</h4>
            </div>
          </div>
          <div class="count-box">
            <div class="count-box__order">
              <h3>2</h3>
            </div>
            <div class="count-box__content">
              <h4>{% translate "Skilled speakers" %}</h4>
            </div>
          </div>
          <div class="count-box">
            <div class="count-box__order">
              <h3>3</h3>
            </div>
            <div class="count-box__content">
              <h4>{% translate "Usefull sessions" %}</h4>
            </div>
          </div>
          <div class="count-box">
            <div class="count-box__order">
              <h3>4</h3>
            </div>
            <div class="count-box__content">
              <h4>{% translate "Venue tour" %}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 position-relative">
  <div class="container-xl py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-8 text-center">
        <h3 class="section-title mb-3">
          {% blocktranslate %}
            Topics
          {% endblocktranslate %}
        </h3>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12 col-md-4 platform-feature__card">
        <div class="card">
          <div class="card-body">
            <h4 class="py-3">{% translate "Digitalization of cities and urban planning" %}</h4>
            <ul class="px-3">
              <li>{% translate "Digital water and energy management" %}</li>
              <li class="pt-2">{% translate "Smart waste management and sanitation" %}</li>
              <li class="pt-2">{% translate "Digital management of education and health" %}</li>
              <li class="pt-2">{% translate "Digital mobility and transport management" %}</li>
              <li class="pt-2">{% translate "Land use and land cover management" %}</li>
              <li class="pt-2">{% translate "Informality & precarious neighbourhoods" %}</li>
              <li class="pt-2">{% translate "Land tenure and cadastral management" %}</li>
              <li class="pt-2">{% translate "Quality of Life and Social Layer" %}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 platform-feature__card">
        <div class="card">
          <div class="card-body">
            <h4 class="py-3">{% translate "Digital and smart african cities" %}</h4>
            <ul class="px-3">
              <li>{% translate "Digital and smart cities strategies in Africa" %}</li>
              <li class="pt-2">{% translate "Digital and Smart african city stakeholders" %}</li>
              <li class="pt-2">{% translate "Digital management of education and health" %}</li>
              <li class="pt-2">{% translate "Digital management of education and health" %}</li>
              <li class="pt-2">{% translate "Digital and Smart city infrastructure" %}</li>
              <li class="pt-2">{% translate "IoT for digital and smart cities" %}</li>
              <li class="pt-2">{% translate "Robotics, blockchain and crytomoney" %}</li>
              <li class="pt-2">{% translate "Quality of Life and Social Layer" %}</li>
              <li class="pt-2">{% translate "Artificial intelligence and application integration" %}</li>
              <li class="pt-2">{% translate "Cybersecurity & IS governance for smart cities" %}</li>
              <li class="pt-2">{% translate "Advanced technologies for African smart cities" %}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 platform-feature__card">
        <div class="card">
          <div class="card-body">
            <h4 class="py-3">{% translate "Smart geo-information systems (Smart GIS)" %}</h4>
            <ul class="px-3">
              <li>{% translate "GIS and remote sensing" %}</li>
              <li class="pt-2">{% translate "Citizen sensing and Citizen engagement" %}</li>
              <li class="pt-2">{% translate "Geo AI and applications" %}</li>
              <li class="pt-2">{% translate "Interactive visualization and 3D modeling" %}</li>
              <li class="pt-2">{% translate "Geo Artificial intelligence (Geo AI)" %}</li>
              <li class="pt-2">{% translate "GIS application (GIS API)" %}</li>
              <li class="pt-2">{% translate "Collective sensing & spatial big urban data" %}</li>
              <li class="pt-2">{% translate "SIG and geolocalisation" %}</li>
              <li class="pt-2">{% translate "Digital twins & twin cities" %}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 platform-feature__card">
        <div class="card">
          <div class="card-body">
            <h4 class="py-3">{% translate "Transitions digitales and smart Gouvernance" %}</h4>
            <ul class="px-3">
              <li>{% translate "Citizens and Collaborative Governance" %}</li>
              <li class="pt-2">{% translate "Geopolitics, democratic processes and cyber-citizenship" %}</li>
              <li class="pt-2">{% translate "Data Governance for smart cities" %}</li>
              <li class="pt-2">{% translate "Digitalisation and internet 5.0" %}</li>
              <li class="pt-2">{% translate "Digital tools for smart urban development" %}</li>
              <li class="pt-2">{% translate "Socio-cultural transformations and social inclusion" %}</li>
              <li class="pt-2">{% translate "Crowdsourcing and citizen participation" %}</li>
              <li class="pt-2">{% translate "Digital governance and digital citizenship" %}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 platform-feature__card">
        <div class="card">
          <div class="card-body">
            <h4 class="py-3">{% translate "African digital cities challenges" %}</h4>
            <ul class="px-3">
              <li >{% translate "Resilience of African digital cities" %}</li>
              <li class="pt-2">{% translate "Waste management and sanitation" %}</li>
              <li class="pt-2">{% translate "Renewable energy and use" %}</li>
              <li class="pt-2">{% translate "Energy and environmental efficiency" %}</li>
              <li class="pt-2">{% translate "Sustainable development and adaptation of smart cities" %}</li>
              <li class="pt-2">{% translate "Urban pollution et heat monitoring" %}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light py-5"> 
    <div class="container-xl">
        <div class="row d-flex justify-content-around">
            <div class="col-12 col-lg-4 py-5">
                <h3 class="section-title mb-3">
                  {% blocktranslate %}
                  <span class="text_primary">CIVA 2023</span> side events
                  {% endblocktranslate %}
                </h3>
                <div class="py-3">
                   <p class="font-size-22">
                    {% blocktranslate %}
                    This conference is virtual and presential and open to all.
                    {% endblocktranslate %}
                   </p>
                   <p class="pt-3 text_primary font-size-22">
                    {% blocktranslate %}
                    It will include….
                    {% endblocktranslate %}
                  </p>
                </div>
                <div class="mt-4">
                  <!--a class="btn btn__primary btn__small" href="">
                    {% translate "View conference agenda" %}
                  </a-->
                </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="accordion accordion-flush" id="civa-highlights">
                <div class="accordion-item">
                  <h4 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button font-size-22 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      {% translate "Preliminary Webinars" %}
                    </button>
                  </h4>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#civa-highlights">
                    <div class="accordion-body">
                    
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button font-size-22 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      {% translate "B2B Meetings & Partnerships" %}
                    </button>
                  </h4>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#civa-highlights">
                    <div class="accordion-body">
                      
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button font-size-22 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      {% translate "African smart cities’ Innovation Expo-2023" %}
                    </button>
                  </h4>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#civa-highlights">
                    <div class="accordion-body">
                     
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button font-size-22 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                      {% translate "African smart cities’ Innovation Expo-2023" %}
                    </button>
                  </h4>
                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#civa-highlights">
                    <div class="accordion-body">
                      
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button font-size-22 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                      {% translate "Online Spring school" %}
                    </button>
                  </h4>
                  <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#civa-highlights">
                    <div class="accordion-body">
                      
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button font-size-22 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                      {% translate "Online Spring school" %}
                    </button>
                  </h4>
                  <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#civa-highlights">
                    <div class="accordion-body">
                     
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4 class="accordion-header" id="flush-headingSix">
                    <button class="accordion-button font-size-22 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                      {% translate "Research and innovation competition on digital cities" %}
                    </button>
                  </h4>
                  <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#civa-highlights">
                    <div class="accordion-body">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center py-3">
      <div class="col-12 col-md-8">
        <h3 class="section-title text-center">
          {% translate "Organizations" %}
        </h3>
      </div>
    </div>
    <div class="civa-partners-wrapper mt-4"> 
      <div class="partners-item">
        <a href="{% url 'about' %}" class="d-block">
          <img src="{% static "images/assets/logo.png" %}">
        </a> 
      </div>                                        
      <div class="partners-item">
        <a href="https://epfl.ch" class="d-block">
          <img src="{% static "images/assets/partners/cus.png" %}">
        </a> 
      </div>
      <div class="partners-item" style="border-right: 0.0625rem solid #E5E5E5;">
        <a href="https://semecity.bj/en" class="d-block"> 
          <img src="{% static "images/assets/partners/semecity.png" %}">
        </a> 
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container ">
    <div class="row justify-content-center py-3">
      <div class="col-12 col-md-8">
        <h3 class="section-title text-center">
          {% translate "Big thanks to our sponsors" %}
        </h3>
      </div>
    </div>
    <div class="civa-partners-wrapper row-title mt-4"> 
      <div class="partners-item">
        <a href="https://seco.admin.ch/seco/en/home.html" class="d-block w-75">
          <img src="{% static "images/assets/partners/seco.png" %}">
        </a> 
      </div>
    </div>
    <div class="civa-partners-wrapper">                                   
      <div class="partners-item">
        <a href="https://epfl.ch" class="d-block">
          <img src="{% static "images/assets/partners/epfl.png" %}">
        </a> 
      </div>
      <div class="partners-item">
        <a href="https://semecity.bj/en" class="d-block"> 
          <img src="{% static "images/assets/partners/semecity.png" %}">
        </a> 
      </div>
      <div class="partners-item">
        <a href="https://um6p.ma" class="d-block"> 
          <img src="{% static "images/assets/partners/um6p.png" %}">
        </a> 
      </div>
      <div class="partners-item">
        <a href="http://www.ucar.rnu.tn" class="d-block"> 
          <img src="{% static "images/assets/partners/ucar.png" %}">
        </a> 
      </div>
      <div class="partners-item">
        <a href="https://www.knust.edu.gh" class="d-block"> 
          <img src="{% static "images/assets/partners/knust.png" %}">
        </a> 
      </div>
      <div class="partners-item">
        <a href="https://ur.ac.rw" class="d-block"> 
          <img src="{% static "images/assets/partners/ur.png" %}">
        </a> 
      </div>
      <div class="partners-item">
        <a href="https://www.uct.ac.za" class="d-block"> 
          <img src="{% static "images/assets/partners/uct.png" %}">
        </a> 
      </div>
    </div>
  </div>
</section>

<section class="civa-form__section">
  <div class="container-xl">
    <div class="row justify-content-center">
      <div class="col-lg-7 text-white text-center">
        <div class="h1 pt-lg-5">
          {% blocktranslate %}
          Join the International Conference of African Cities (CIVA) - Digital Cities
          {% endblocktranslate %}
        </div>
        <div class="mt-5 text-center">
          <a class="btn btn__primary btn__small my-4" href="{% url 'civa-papers' %}">
            {% translate "Call for papers" %}
          </a>
        </div>
        <p class="font-size-18 pt-3 pb-5">
          {% blocktranslate %}
            If you wish to have more information,<br> 
            you can contact us directly on :<br>
          {% endblocktranslate %}
          <a class="text-white" href="mailto:info@africancitieslab.org">
            <strong>contact@africancitieslab.org</strong>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}