{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% elif self.title %}
        {{ self.title }}
    {% else %}
        {% translate "The International Conference of African Cities (CIVA) - Digital Cities" %} - African Cities Lab
    {% endif %}
{% endblock title %}
{% block meta_tag_description %}
  <meta name="description" content="{% translate "CIVA is the first international conference on urban and sustainable development in Africa." %}" />
{% endblock %}

{% block static_meta_tag %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "The International Conference of African Cities (CIVA) - Digital Cities" %} - African Cities Lab{% endif %}">
<meta name="twitter:description" content="{% translate "CIVA is the first international conference on urban and sustainable development in Africa." %}">
<meta name="twitter:site" content="@AfricanCtiesLab" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />

<meta property="og:title" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "The International Conference of African Cities (CIVA) - Digital Cities" %} - African Cities Lab{% endif %}" />
<meta property="og:description" content="{% translate "CIVA is the first international conference on urban and sustainable development in Africa." %}" />
<meta property="og:site_name" content="African Cities Lab" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />

<meta itemprop="name" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "The International Conference of African Cities (CIVA) - Digital Cities" %} - African Cities Lab{% endif %}">
<meta itemprop='description' content="{% translate "CIVA is the first international conference on urban and sustainable development in Africa." %}" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .shadow-sm {
        box-shadow: unset !important;
    }
    .civa-banner {
      background-image: url({% static 'images/assets/icac-banner-image.jpg' %});
      position: relative;
    }
    .banner-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgb(64, 39, 129);
      opacity: .78;
    }
    .civa-form__section {
      background-image: linear-gradient(rgba(64, 39, 129, 0.98),rgba(64, 39, 129, 0.85)) ,url({% static 'images/assets/conference_form_bg.jpg' %});
    }
    .feature-card__exerpt li {
      margin: 8px 0px;
    }
    .feature-card__exerpt li:first-child {
      margin-top: 0px;
    }
    .partners-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2.5rem;
    }
    .partners-item {
      width: 50%;
      height: 12rem;
      border-left: 0.0625rem solid #E5E5E5;
      border-top: 0.0625rem solid #E5E5E5;
      border-bottom: 0.0625rem solid #E5E5E5;
      margin-top: -0.0625rem;
      padding: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .partners-wrapper .partners-item:nth-child(4n+4) {
      border-right: 0.0625rem solid #E5E5E5;
    }
    .swiper, .swiper-wrapper, .swipper-slide {
      z-index: 0;
    }
    .civa-date__row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 24px;
      margin-top: 1.5rem;
      margin-bottom: 2rem;
    }
    .civa-date__row .item {
      border: 1px solid #ececec;
      border-radius: 4px;
    }
    .civa-date__row .item .top {
      padding-top: 1rem;
      padding-left: 1rem;
      padding-bottom: 1rem;
    }
    .civa-date__row .item > p{
      padding: 1rem;
      background: #BE3712;
      color: #FFF;
      width: 100%;
      font-size: 18px;
    }
    .text-box {
      min-height: 325px;
    }
    .focus-areas__container {
      margin-top: 2rem;
    }
    .focus-areas__item {
      height: 10.5rem;
      margin-bottom: 1.5rem;
      border: 1px solid #ececec;
      border-radius: 4px;
      background: #fff;
      padding: 1rem;
    }
    .focus-areas__row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 24px;
      margin-top: 1.5rem;
    }
    .focus-areas__row.first .focus-areas__item {
      background: rgba(255,115,0,.2);
    }
    .swiper-button-next, .swiper-button-prev {
      height: 10.4rem;
      padding: 0.5rem;
      top: 12%;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
      right: 0px;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
      left: 0px;
    }
    .swiper-button-next:after, 
    .swiper-button-prev:after {
      color: #BE3712;
      font-size: 18px;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
    }
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
      content: "\f061";
    }
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
      content: "\f060";
    }
    .swiper-button-next.swiper-button-disabled, 
    .swiper-button-prev.swiper-button-disabled {
      display: none;
    }
    #civa-highlights .accordion-item {
      border: none;
    }
    #civa-highlights .accordion-button {
      background: #402781;
      color: #fff;
      padding: 1.5rem;
      margin: 0.75rem 0;
    }
    .accordion-button::after {
      width: 1.25rem;
      height: 1.25rem;
      content: "\f078";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 16px;
      background-image: unset;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: unset;
  }
  .count-box {
    max-width: 100%;
    min-height: 140px;
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  .count-box .count-box__order > h3 {
    width: 50px;
    height: 50px;
    background: #BE3712;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    font-size: 22px;
    display: flex;
    flex-direction: column;    
    place-content: center;
  }
  .count-box .count-box__content {
    margin-top: 1rem;
  }
  @media (max-width: 600px) {
    .focus-areas__item p.h5 {
      font-size: 16px;
    }
  }
  @media (min-width: 600px) {
    .count-box { grid-template-columns: 85px 1fr; }
    .partners-wrapper {
      justify-content: center;
    }
    .partners-item {
      width: 33%;
    }
  }
  @media (min-width: 992px){
    #column-2 {
      column-count: 2; 
      column-gap: 3.5em;
    }
    .partners-item {
      width: 21%;
    }
    .count-box {
      gap: 2rem;
      margin-top: 1.5rem;
    }
    .count-box .count-box__order > h3 {
      width: 85px;
      height: 85px;
      font-size: 38px;
    }
  }
  </style>
{% endblock css %}

{% block javascript %}
  {{ block.super }}
  <script defer src="{% static 'js/subnavigation.js' %}"></script>
  <script defer src="{% static 'js/counttimer.js' %}"></script>
{% endblock javascript %}

{% block content %}

<div class="subnavigation">
    <div class="hz-scroll-container">
        <div class="container-fluid hz-scroll-content">
            <div class="row no-gutters">
                <div class="overflow-wrap col-10 col-xl-11">
                    <nav aria-labelledby="nav2">
                        <label id="nav2">
                          {% url 'the-international-conference-of-african-cities-2023' as url %}
                          <a class="{% if request.path == url %}active{% endif %}" href="{% url 'the-international-conference-of-african-cities-2023' %}">
                            {% translate "CIVA 2023" %}
                          </a>
                          <span class="visuallyhidden">secondary menu</span>
                        </label>
                        <ul class="list-inline">
                          <!--li class="list-inline-item">
                            {% url 'civa-agenda' as url %}
                            <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-agenda' %}">{% translate "Program" %}</a>
                          </li-->
                          <li class="list-inline-item">
                            {% url 'civa-speakers' as url %}
                            <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-speakers' %}">{% translate "Speakers" %}</a>
                          </li>
                          <!--li class="list-inline-item">
                            {% url 'civa-guests' as url %}
                            <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-guests' %}">{% translate "Special guests" %}</a>
                          </li-->
                          <li class="list-inline-item">
                            {% url 'civa-commitee' as url %}
                            <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-commitee' %}">{% translate "Committee" %}</a>
                          </li>
                          <li class="list-inline-item">
                            {% url 'civa-papers' as url %}
                            <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-papers' %}">{% translate "Call for papers" %}</a>
                          </li>
                          <!--li class="list-inline-item">
                            {% url 'civa-registration' as url %}
                            <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-registration' %}">{% translate "Register" %}</a>
                          </li-->
                          <!--li class="list-inline-item">
                              {% url 'civa-informations' as url %}
                              <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-informations' %}">{% translate "Venue & Contact" %}</a>
                          </li-->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <button class="overflowButton js-scroll-button" tabindex="-1">Scroll Subnavigation</button>
    </div>
</div>

<section class="civa-banner">
    <div class="banner-overlay"></div>
    <div class="container-lg position-relative">
        <div class="row">
            <div class="col-12 col-md-11 col-xl-8">
                <p class="font-size-16">{% translate "March 21, 22 & 23 - Cotonou, Bénin" %}</p>
                <h1 class="font-size-3-50em pt-4">
                    {% translate "The International Conference of African Cities (CIVA) - Digital Cities" %}
                </h1>
                <!--a class="btn btn__primary btn__small mt-4" href="">
                    {% translate "Register to attend" %}
                </a-->
            </div>
        </div>
    </div>
</section>

<section class="py-5">
  <div class="container-xl py-md-5">
    <div class="row">
      <div class="col-12 col-lg-5">
        <h3 class="section-title">{% translate "CIVA 2023" %}</h3>
  
        <p class="font-size-24 py-4 text_primary ">
          {% translate "CIVA is the first international conference on urban and sustainable development in Africa." %}
        </p>
      </div>
      <div class="col-12 col-lg-5 offset-lg-1">
        <div class="civa-date__row">
          <a href="#" class="item">
            <div class="top">
                <div class="h1">21</div>
                <p class="font-size-18">{% translate "March" %}</p>
            </div>
          </a>
          <a href="#" class="item">
            <div class="top">
                <div class="h1">22</div>
                <p class="font-size-18">{% translate "March" %}</p>
            </div>
          </a>
          <a href="#" class="item">
            <div class="top">
                <div class="h1">23</div>
                <p class="font-size-18">{% translate "March" %}</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-xl-11 pt-3">
        <div id="column-2" class="text-justify font-size-16">
          <p>
            {% blocktranslate %}
            African digital cities are presented as a reasonable response to future demographic projections and the inability of the public sector 
            alone to respond structurally to a strong increase in demand for urban infrastructure and infrastructure and urban services such as housing, 
            socio-professional integration, etc.<br>
            {% endblocktranslate %}
            {% blocktranslate %}
            Challenging the current vision of cities in Africa, digital cities seem to be major players in the urbanization of Africa. At a time when a 
            new urban paradigm is being implemented but intrinsic challenges remain, the role of digital cities as drivers of urban development in 
            Africa is to be established.<br>
            {% endblocktranslate %}
            {% blocktranslate %}
            There is today a tangible and growing demand for talented and highly qualified African researchers on the theme of the city and its digitalization. 
            This is particularly visible in all areas of the digital transformation of the continent.
            {% endblocktranslate %}
          </p>
          <p class="my-2">
            {% blocktranslate %}
            The « <strong>International Conference on African Cities (CIVA) - Digital Cities</strong> » aims to increase the scope and influence of research, 
            innovation and entrepreneurial activities on the African continent related to the digitization of cities, as well as to promote scientific excellence 
            in Africa.
            {% endblocktranslate %}
          </p>
          <p class="mb-2">
            {% blocktranslate %}
            Therefore, beyond its thematic focus, CIVA aims to advance interdisciplinary research by bridging the disciplinary gap between the different academic 
            cultures of the humanities, sciences and application-oriented research, but also the sectoral gap between urban development actors in Africa.
            {% endblocktranslate %}
          </p>

          <!--div class="civa-date-area"> 
            <h4><span class="xl-counter" >21</span></h4>
            <p><span class="d-block font-size-16 font-weight-bold">{% translate "March 2023" %}</span>{% translate "Cotonou, Benin" %}</p>
          </div-->
        </div>
      </div>
    </div>
  </div>
</section>

<section id="countdowntimer__widget" class="bg_secondary text-white text-center">
  <div class="container-xl py-5">
      <div class="row justify-content-center">
          <div class="col-12 col-md-9">
              <p class="font-size-16">{% translate "March 21, 22 & 23 - Cotonou, Bénin" %}</p>
              <div class="h1 pt-3">
                  {% translate "The International Conference of African Cities (CIVA) - Digital Cities" %}
              </div>

              <div class="countdown-timer__widget">
                  <div class="timer-container position-relative">
                      <span id="days" class="h1"></span>
                      <p>{% translate "Days" %}</p>
                  </div>
                  <div class="timer-container position-relative">
                      <span id="hours" class="h1">230</span>
                      <p>{% translate "Hours" %}</p>
                  </div>
                  <div class="timer-container position-relative"> 
                      <span id="minutes" class="h1">230</span>
                      <p>{% translate "Minutes" %}</p>
                  </div>
                  <div class="timer-container position-relative">
                      <span id="seconds" class="h1">230</span>
                      <p>{% translate "Seconds" %}</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="py-md-5">
  <div class="container">
    <div class="row d-flex justify-content-center pt-5">
      <h3 class="section-title text-center">
        {% blocktranslate %}
          Why should attend <br>
          <span class="text_primary">CIVA 2023</span>?
        {% endblocktranslate %}
      </h3>
    </div>
    <div class="row d-flex justify-content-center py-5">

      <div class="col-12 col-md-5 d-flex" >
        <img src="{% static 'images/assets/who-expect.jpg' %}" style="object-fit: cover;">
      </div>
      
      <div class="col-12 col-md-5">
        <div class="m-5">
          <div class="count-box">
            <div class="count-box__order">
              <h3>1</h3>
            </div>
            <div class="count-box__content">
              <h3>{% translate "Networking" %}</h3>
              <p class="py-3">
                
              </p>
            </div>
          </div>
          <div class="count-box">
            <div class="count-box__order">
              <h3>2</h3>
            </div>
            <div class="count-box__content">
              <h3>{% translate "Skilled speakers" %}</h3>
              <p class="py-3">
                
              </p>
            </div>
          </div>
          <div class="count-box">
            <div class="count-box__order">
              <h3>3</h3>
            </div>
            <div class="count-box__content">
              <h3>{% translate "Usefull sessions" %}</h3>
              <p class="py-3">
               
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 position-relative bg-light">
  <div class="container-xl">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-8 text-center">
        <h3 class="section-title mb-3">
          {% blocktranslate %}
            Topics
          {% endblocktranslate %}
        </h3>
      </div>
    </div>

    <div class="focus-areas__container">
      <div>
        <img class="d-none d-md-inline-block" width="12" height="30" src="{% static 'images/assets/small-pointer.svg' %}">
        <p class="h4 d-inline-block font-weight-500 px-2 py-4">{% translate "Digitalization of cities and urban planning" %}</p>
      </div>
    
      <div class="swiper focus-areas__list">
        <div class="swiper-wrapper">
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">01</div>
            <p class="h5 font-weight-400">{% translate "Digital water and energy management" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">02</div>
            <p class="h5 font-weight-400">{% translate "Smart waste management and sanitation" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">03</div>
            <p class="h5 font-weight-400">{% translate "Digital management of education and health" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">04</div>
            <p class="h5 font-weight-400">{% translate "Digital mobility and transport management" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">05</div>
            <p class="h5 font-weight-400">{% translate "Land use and land cover management" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">06</div>
            <p class="h5 font-weight-400">{% translate "Informality & precarious neighbourhoods" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">07</div>
            <p class="h5 font-weight-400"> {% translate "Land tenure and cadastral management" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">08</div>
            <p class="h5 font-weight-400">{% translate "Quality of Life and Social Layer" %}</p>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>

      <div>
        <img class="d-none d-md-inline-block" width="12" height="30" src="{% static 'images/assets/small-pointer.svg' %}">
        <p class="h4 d-inline-block font-weight-500 px-2 py-4">{% translate "Digital and smart african cities" %}</p>
      </div>
      <div class="swiper focus-areas__list">
        <div class="swiper-wrapper">
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">01</div>
            <p class="h5 font-weight-400">{% translate "Digital and smart cities strategies in Africa" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">02</div>
            <p class="h5 font-weight-400">{% translate "Digital and Smart african city stakeholders" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">03</div>
            <p class="h5 font-weight-400">{% translate "Digital management of education and health" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">04</div>
            <p class="h5 font-weight-400">{% translate "Digital and Smart city infrastructure" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">05</div>
            <p class="h5 font-weight-400">{% translate "IoT for digital and smart cities" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">06</div>
            <p class="h5 font-weight-400">{% translate "Robotics, blockchain and crytomoney" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">07</div>
            <p class="h5 font-weight-400"> {% translate "Artificial intelligence and application integration" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">08</div>
            <p class="h5 font-weight-400">{% translate "Cybersecurity & IS governance for smart cities" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">09</div>
            <p class="h5 font-weight-400">{% translate "Advanced technologies for African smart cities" %}</p>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>

      <div>
        <img class="d-none d-md-inline-block" width="12" height="30" src="{% static 'images/assets/small-pointer.svg' %}">
        <p class="h4 d-inline-block font-weight-500 px-2 py-4">{% translate "Smart geo-information systems (Smart GIS)" %}</p>
      </div>
      <div class="swiper focus-areas__list">
        <div class="swiper-wrapper">
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">01</div>
            <p class="h5 font-weight-400">{% translate "GIS and remote sensing" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">02</div>
            <p class="h5 font-weight-400">{% translate "Citizen sensing and Citizen engagement" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">03</div>
            <p class="h5 font-weight-400">{% translate "Geo AI and applications" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">04</div>
            <p class="h5 font-weight-400">{% translate "Interactive visualization and 3D modeling" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">05</div>
            <p class="h5 font-weight-400">{% translate "Geo Artificial intelligence (Geo AI)" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">06</div>
            <p class="h5 font-weight-400">{% translate "GIS application (GIS API)" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">07</div>
            <p class="h5 font-weight-400">{% translate "Collective sensing & spatial big urban data" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">08</div>
            <p class="h5 font-weight-400">{% translate "Smart geo-addressing and participatory addressing" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">09</div>
            <p class="h5 font-weight-400">{% translate "SIG and geolocalisation" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">10</div>
            <p class="h5 font-weight-400">{% translate "Digital twins & twin cities" %}</p>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>

      <div>
        <img class="d-none d-md-inline-block" width="12" height="30" src="{% static 'images/assets/small-pointer.svg' %}">
        <p class="h4 d-inline-block font-weight-500 px-2 py-4">{% translate "Transitions digitales and smart Gouvernance" %}</p>
      </div>
      <div class="swiper focus-areas__list">
        <div class="swiper-wrapper">
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">01</div>
            <p class="h5 font-weight-400">{% translate "Citizens and Collaborative Governance" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">02</div>
            <p class="h5 font-weight-400">{% translate "Geopolitics, democratic processes and cyber-citizenship" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">03</div>
            <p class="h5 font-weight-400">{% translate "Data Governance for smart cities" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">04</div>
            <p class="h5 font-weight-400">{% translate "Digitalisation and internet 5.0" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">05</div>
            <p class="h5 font-weight-400">{% translate "Digital tools for smart urban development" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">06</div>
            <p class="h5 font-weight-400">{% translate "Socio-cultural transformations and social inclusion" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">07</div>
            <p class="h5 font-weight-400"> {% translate "Crowdsourcing and citizen participation" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">08</div>
            <p class="h5 font-weight-400">{% translate "Digital governance and digital citizenship" %}</p>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>

      <div>
        <img class="d-none d-md-inline-block" width="12" height="30" src="{% static 'images/assets/small-pointer.svg' %}">
        <p class="h4 d-inline-block font-weight-500 px-2 py-4">{% translate "African digital cities challenges" %}</p>
      </div>
      <div class="swiper focus-areas__list">
        <div class="swiper-wrapper">
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">01</div>
            <p class="h5 font-weight-400">{% translate "Resilience of African digital cities" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">02</div>
            <p class="h5 font-weight-400">{% translate "Waste management and sanitation" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">03</div>
            <p class="h5 font-weight-400">{% translate "Renewable energy and use" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">04</div>
            <p class="h5 font-weight-400">{% translate "Energy and environmental efficiency" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">05</div>
            <p class="h5 font-weight-400">{% translate "Sustainable development and adaptation of smart cities" %}</p>
          </div>
          <div class="swiper-slide focus-areas__item">
            <div class="mb-3">06</div>
            <p class="h5 font-weight-400">{% translate "Urban pollution et heat monitoring" %}</p>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</section>

<section class="acl-section-pattern"> 
    <div class="container-xl">
        <div class="row d-flex justify-content-around">
            <div class="col-12 col-lg-4 py-5">
                <h3 class="section-title mb-3">
                  {% blocktranslate %}
                  <span class="text_primary">CIVA 2023</span> side events
                  {% endblocktranslate %}
                </h3>
                <div class="py-3">
                   <p class="font-size-22">
                    {% blocktranslate %}
                    This conference is virtual and presential and open to all.
                    {% endblocktranslate %}
                   </p>
                   <p class="pt-3 text_primary font-size-22">
                    {% blocktranslate %}
                    It will include….
                    {% endblocktranslate %}
                  </p>
                </div>
                <div class="mt-4">
                  <!--a class="btn btn__primary btn__small" href="">
                    {% translate "View conference agenda" %}
                  </a-->
                </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="accordion accordion-flush" id="civa-highlights">
                <div class="accordion-item">
                  <h4 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button font-size-22 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      {% translate "Preliminary Webinars" %}
                    </button>
                  </h4>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#civa-highlights">
                    <div class="accordion-body">
                    
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button font-size-22 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      {% translate "B2B Meetings & Partnerships" %}
                    </button>
                  </h4>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#civa-highlights">
                    <div class="accordion-body">
                      
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button font-size-22 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      {% translate "African smart cities’ Innovation Expo-2023" %}
                    </button>
                  </h4>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#civa-highlights">
                    <div class="accordion-body">
                     
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button font-size-22 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                      {% translate "African smart cities’ Innovation Expo-2023" %}
                    </button>
                  </h4>
                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#civa-highlights">
                    <div class="accordion-body">
                      
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button font-size-22 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                      {% translate "Online Spring school" %}
                    </button>
                  </h4>
                  <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#civa-highlights">
                    <div class="accordion-body">
                      
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button font-size-22 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                      {% translate "Online Spring school" %}
                    </button>
                  </h4>
                  <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#civa-highlights">
                    <div class="accordion-body">
                     
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4 class="accordion-header" id="flush-headingSix">
                    <button class="accordion-button font-size-22 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                      {% translate "Research and innovation competition on digital cities" %}
                    </button>
                  </h4>
                  <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#civa-highlights">
                    <div class="accordion-body">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

{% comment %}
<section class="py-5">
  <div class="container-xl">
      <div class="row justify-content-center py-3">
          <div class="col-12 col-md-8">
              <h3 class="section-title">
                {% translate "CIVA News Feeds" %}
              </h3>
          </div>
          <div class="col-12 col-md-4 d-none d-md-block">
              <a class="float-end btn btn__small btn__primary" role="button" href="{% localized_slugurl 'blog' %}">{% translate "More articles" %}</a>
          </div>
      </div>

      <div class="row py-3">
          <div class="col-12 col-lg-4 col-md-6 article-card">
              <div class="card border-0">
                  <div class="card-header article-preview-img p-0">
                      <a href="#" class="d-block">
                          <img src="{% static 'images/assets/acl-default-img.png' %}">
                      </a>
                  </div>
                  <div class="card-body">
                      <div class="article-meta d-flex align-items-center">
                          <div class="article__date">21/03/2022</div>
                          <div class="fas fa-circle text_primary mx-2" style="font-size: 5px;"></div>
                          <div class="article__category text_primary font-weight-bold">CIVA 2023</div>
                      </div>
                      <h5 class="article-title py-3">
                          <a href="" class="d-block text-black">
                              Mauris dolor leo, laoreet non eros vitae
                          </a>
                      </h5>
                      <div class="article-exerpt">
                          Mauris dolor leo, laoreet non eros vitae, aliquet scelerisque nisi. 
                          Curabitur velit felis, commodo id erat vel, dignissim facilisis nisi.
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-12 col-lg-4 col-md-6 article-card">
              <div class="card border-0">
                  <div class="card-header article-preview-img p-0">
                      <a href="#" class="d-block">
                          <img src="{% static 'images/assets/acl-default-img.png' %}">
                      </a>
                  </div>
                  <div class="card-body">
                      <div class="article-meta d-flex align-items-center">
                          <div class="article__date">21/03/2022</div>
                          <div class="fas fa-circle text_primary mx-2" style="font-size: 5px;"></div>
                          <div class="article__category text_primary font-weight-bold">CIVA 2023</div>
                      </div>
                      <h5 class="article-title py-3">
                          <a href="" class="d-block text-black">
                              Mauris dolor leo, laoreet non eros vitae
                          </a>
                      </h5>
                      <div class="article-exerpt">
                          Mauris dolor leo, laoreet non eros vitae, aliquet scelerisque nisi. 
                          Curabitur velit felis, commodo id erat vel, dignissim facilisis nisi.
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-12 col-lg-4 col-md-6 article-card">
              <div class="card border-0">
                  <div class="card-header article-preview-img p-0">
                      <a href="#" class="d-block">
                          <img src="{% static 'images/assets/acl-default-img.png' %}">
                      </a>
                  </div>
                  <div class="card-body">
                      <div class="article-meta d-flex align-items-center">
                          <div class="article__date">21/03/2022</div>
                          <div class="fas fa-circle text_primary mx-2" style="font-size: 5px;"></div>
                          <div class="article__category text_primary font-weight-bold">CIVA 2023</div>
                      </div>
                      <h5 class="article-title py-3">
                          <a href="" class="d-block text-black">
                              Mauris dolor leo, laoreet non eros vitae
                          </a>
                      </h5>
                      <div class="article-exerpt">
                          Mauris dolor leo, laoreet non eros vitae, aliquet scelerisque nisi. 
                          Curabitur velit felis, commodo id erat vel, dignissim facilisis nisi.
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="mt-5 text-center d-md-none">
          <a class="btn btn__small btn__primary" role="button" href="{% localized_slugurl 'blog' %}">{% translate "More articles" %}</a>
      </div>
  </div>
</section>
{% endcomment %}

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center py-3">
      <div class="col-12 col-md-8">
        <h3 class="section-title text-center">
          {% translate "Organizations" %}
        </h3>
      </div>
    </div>
    <div class="partners-wrapper"> 
      <div class="partners-item">
        <a href="{% url 'about' %}" class="d-block">
          <img src="{% static "images/assets/logo.png" %}">
        </a> 
      </div>                                        
      <div class="partners-item">
        <a href="https://epfl.ch" class="d-block">
          <img src="{% static "images/assets/partners/cus.png" %}">
        </a> 
      </div>
      <div class="partners-item" style="border-right: 0.0625rem solid #E5E5E5;">
        <a href="https://semecity.bj/en" class="d-block"> 
          <img src="{% static "images/assets/partners/semecity.png" %}">
        </a> 
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center py-3">
      <div class="col-12 col-md-8">
        <h3 class="section-title text-center">
          {% blocktranslate %}
                Big thanks to our sponsors <br>
            {% endblocktranslate %}
        </h3>
      </div>
    </div>
    <div class="partners-wrapper"> 
      <div class="partners-item">
        <a href="https://seco.admin.ch/seco/en/home.html" class="d-block">
          <img src="{% static "images/assets/partners/seco-small.png" %}">
        </a> 
      </div>                                        
      <div class="partners-item">
        <a href="https://epfl.ch" class="d-block">
          <img src="{% static "images/assets/partners/epfl.png" %}">
        </a> 
      </div>
      <div class="partners-item">
        <a href="https://semecity.bj/en" class="d-block"> 
          <img src="{% static "images/assets/partners/semecity.png" %}">
        </a> 
      </div>
      <div class="partners-item">
        <a href="https://um6p.ma" class="d-block"> 
          <img src="{% static "images/assets/partners/um6p.png" %}">
        </a> 
      </div>
      <div class="partners-item">
        <a href="http://www.ucar.rnu.tn" class="d-block"> 
          <img src="{% static "images/assets/partners/ucar.png" %}">
        </a> 
      </div>
      <div class="partners-item">
        <a href="https://www.knust.edu.gh" class="d-block"> 
          <img src="{% static "images/assets/partners/knust.png" %}">
        </a> 
      </div>
      <div class="partners-item">
        <a href="https://ur.ac.rw" class="d-block"> 
          <img src="{% static "images/assets/partners/ur.png" %}">
        </a> 
      </div>
      <div class="partners-item">
        <a href="https://www.uct.ac.za" class="d-block"> 
          <img src="{% static "images/assets/partners/uct.png" %}">
        </a> 
      </div>
    </div>
  </div>
</section>

<section class="civa-form__section">
  <div class="container-xl">
    <div class="row justify-content-center">
      <div class="col-lg-7 text-white text-center">
        <div class="h1 pt-lg-5">
          {% blocktranslate %}
          Join the International Conference of African Cities (CIVA) - Digital Cities
          {% endblocktranslate %}
        </div>
        <div class="mt-5 text-center">
          <!--a href="#" class="btn btn__primary btn__small">
            {% translate "Register now" %}
          </a-->
        </div>
        <p class="font-size-18 pt-3 pb-5">
          {% blocktranslate %}
            If you wish to have more information,<br> 
            you can contact us directly on :<br>
          {% endblocktranslate %}
          <a class="text-white" href="mailto:info@africancitieslab.org">
            <strong>contact@africancitieslab.org</strong>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}