{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% elif self.title %}
        {{ self.title }}
    {% else %}
        {% translate "The International Conference of African Cities" %} - African Cities Lab
    {% endif %}
{% endblock title %}

{% block static_meta_tag %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "The International Conference of African Cities" %} - African Cities Lab{% endif %}">
<meta name="twitter:description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}">
<meta name="twitter:site" content="@AfricanCtiesLab" />
<meta name="twitter:image" content="{% static 'images/assets/acl-logo-square256x256.png' %}">

<meta property="og:title" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "The International Conference of African Cities" %} - African Cities Lab{% endif %}" />
<meta property="og:description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
<meta property="og:site_name" content="African Cities Lab" />
<meta property="og:image" content="{% static 'images/assets/acl-logo-square256x256.png' %}" />

<meta itemprop="name" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "The International Conference of African Cities" %} - African Cities Lab{% endif %}">
<meta itemprop='description' content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .shadow-sm {
        box-shadow: unset !important;
    }
    .civa-banner {
      background-image: linear-gradient(270deg, rgba(84,84,84,0.43) 12%, rgba(0,0,0,.95) 100%) ,url({% static 'images/assets/Place_de_Etoile_rouge.jpg' %});
    }
    .civa-highlights__section {
      background-image: url({% static 'images/assets/conference_people_bg.jpeg' %});
    }
    .civa-form__section {
      background-image: linear-gradient(rgba(64, 39, 129, 0.9),rgba(64, 39, 129, 0.6)) ,url({% static 'images/assets/conference_form_bg.jpg' %});
    }
  </style>
{% endblock css %}

{% block javascript %}
  {{ block.super }}
  <script defer src="{% static 'js/subnavigation.js' %}"></script>
  <script defer src="{% static 'js/counttimer.js' %}"></script>
{% endblock javascript %}

{% block content %}

<div class="subnavigation">
    <div class="hz-scroll-container">
        <div class="container-fluid hz-scroll-content">
            <div class="row no-gutters">
                <div class="overflow-wrap col-10 col-xl-11">
                    <nav aria-labelledby="nav2">
                        <label id="nav2">
                            {% translate "ICAC 2023" %}
                            <span class="visuallyhidden">secondary menu</span>
                        </label>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                              {% url 'civa-agenda' as url %}
                              <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-agenda' %}">{% translate "Agenda" %}</a>
                            </li>
                            <li class="list-inline-item">
                              {% url 'civa-speakers' as url %}
                              <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-speakers' %}">{% translate "Speakers" %}</a>
                            </li>
                            <li class="list-inline-item">
                              {% url 'civa-sponsors' as url %}
                              <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-sponsors' %}">{% translate "Sponsors" %}</a>
                            </li>
                            <li class="list-inline-item">
                              {% url 'civa-travel-information' as url %}
                              <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-travel-information' %}">{% translate "Travel Information" %}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <button class="overflowButton js-scroll-button" tabindex="-1">Scroll Subnavigation</button>
    </div>
</div>

<section class="civa-banner">
    <div class="container-lg">
        <div class="row">
            <div class="col-12 col-md-10 col-xl-7">
                <p class="font-size-16">{% translate "Match 21, 22 & 23 - Cotonou, Bénin" %}</p>
                <h1 class="font-size-4em pt-4">
                    {% translate "The International Conference of African Cities (ICAC)" %}
                </h1>
                <a class="btn btn__primary btn__small mt-4" href="">
                    {% translate "Register to attend" %}
                </a>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container-xl pt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h3 class="section-title">{% translate "About CIVA 2023" %}</h3>
                <p class="py-3 font-size-16">
                  {% blocktranslate %}
                    Challenging the current vision of African cities, digital cities are presented as a rational response to future demographic projections.
                    African Cities Lab creates the "International Conference on African Cities (ICAC) - Digital Cities" ,
                    a major event that aims to increase the scope and develop synergies between research and entrepreneurship on the African continent.
                    It is all about accelerating digitization of cities and promoting scientific excellence
                    in Africa.
                  {% endblocktranslate %}
                </p>
                <div class="civa-date-area"> 
                    <h4><span class="xl-counter" >21</span></h4>
                    <p><span class="d-block font-size-16 font-weight-bold">{% translate "March 2023" %}</span>{% translate "Cotonou, Benin" %}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="countdowntimer__widget" class="bg_secondary py-5 text-white text-center">
    <div class="container-xl py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 ">
                <p class="font-size-16">{% translate "Match 21, 22 & 23 - Cotonou, Bénin" %}</p>
                <div class="h1 pt-3">
                    {% translate "The International Conference of African Cities (ICAC)" %}
                </div>

                <div class="countdown-timer__widget">
                    <div class="timer-container position-relative">
                        <span id="days" class="h1"></span>
                        <p>{% translate "Days" %}</p>
                    </div>
                    <div class="timer-container position-relative">
                        <span id="hours" class="h1">230</span>
                        <p>{% translate "Hours" %}</p>
                    </div>
                    <div class="timer-container position-relative"> 
                        <span id="minutes" class="h1">230</span>
                        <p>{% translate "Minutes" %}</p>
                    </div>
                    <div class="timer-container position-relative">
                        <span id="seconds" class="h1">230</span>
                        <p>{% translate "Seconds" %}</p>
                    </div>
                </div>
            </div>
            <div class="my-3 text-center">
                <a class="btn btn__primary btn__small" href="">
                    {% translate "Register to attend" %}
                </a>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
  <div class="container-xl pt-5">
      <div class="row d-flex justify-content-center mb-5">
          <div class="col-12 col-lg-10 text-center">
              <h3 class="section-title">
                  {% blocktranslate %}
                  Why should Attend <br>
                  <span class="text_primary">ICAC 2023</span>
                  {% endblocktranslate %}
              </h3>
          </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-5 col-md-6 p-4">
          <div class="card text-box">
              <div class="card-body">
                  <h3>{% translate "Networking" %}</h3>
                  <p class="py-3 font-size-16">
                    {% blocktranslate %}
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Quisque eu ligula in ligula faucibus venenatis a auctor mi.
                    {% endblocktranslate %}
                  </p>
                  <span class="count-number">1</span>
              </div>
          </div>
        </div>
        <div class="col-12 col-lg-5 col-md-6 p-4">
          <div class="card text-box">
              <div class="card-body">
                  <h3>{% translate "Skilled speakers" %}</h3>
                  <p class="py-3 font-size-16">
                    {% blocktranslate %}
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Quisque eu ligula in ligula faucibus venenatis a auctor mi.
                    {% endblocktranslate %}
                  </p>
                  <span class="count-number">2</span>
              </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-5 col-md-6 p-4">
          <div class="card text-box">
              <div class="card-body">
                  <h3>{% translate "Usefull sessions" %}</h3>
                  <p class="py-3 font-size-16">
                    {% blocktranslate %}
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Quisque eu ligula in ligula faucibus venenatis a auctor mi.
                    {% endblocktranslate %}
                  </p>
                  <span class="count-number">3</span>
              </div>
          </div>
        </div>
        <div class="col-12 col-lg-5 col-md-6 p-4">
          <div class="card text-box">
              <div class="card-body">
                  <h3>{% translate "Venue tour" %}</h3>
                  <p class="py-3 font-size-16">
                    {% blocktranslate %}
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Quisque eu ligula in ligula faucibus venenatis a auctor mi.
                    {% endblocktranslate %}
                  </p>
                  <span class="count-number">4</span>
              </div>
          </div>
        </div>
      </div>
  </div>
</section>

<section class="explore-topic pb-5">

  <div class="container p-md-5">
      <div class="row d-flex justify-content-center">
          <div class="col-12 col-lg-8 text-center">
              <h3 class="section-title mb-3">
                  {% blocktranslate %}
                  What Topics <br>
                  we will Discuss
                  {% endblocktranslate %}
              </h3>
          </div>
      </div>

      <div class="row justify-content-center py-3">
          <div class="col-12 col-lg-10">
              <div class="row justify-content-center">
                  <div class="topic-wrapper col-lg-3 col-md-4 col-sm-4 col-6 p-3">
                      <p class="card topic-item"><span>{% translate "Housing" %}</span></p>
                  </div>
                  <div class="topic-wrapper col-lg-3 col-md-4 col-sm-4 col-6 p-3">
                      <p class="card topic-item"><span>{% translate "Digital" %}</span></p>
                  </div>
                  <div class="topic-wrapper col-lg-3 col-md-4 col-sm-4 col-6 p-3">
                      <p class="card topic-item"><span>{% translate "Building" %}</span></p>
                  </div>
                  <div class="topic-wrapper col-lg-3 col-md-4 col-sm-4 col-6 p-3">
                      <p class="card topic-item"><span>{% translate "Climate change" %}</span></p>
                  </div>
                  <div class="topic-wrapper col-lg-3 col-md-4 col-sm-4 col-6 p-3">
                      <p class="card topic-item"><span>{% translate "Planning" %}</span></p>
                  </div>
                  <div class="topic-wrapper col-lg-3 col-md-4 col-sm-4 col-6 p-3">
                      <p class="card topic-item"><span>{% translate "Urban System" %}</span></p>
                  </div>
                  <div class="topic-wrapper col-lg-3 col-md-4 col-sm-4 col-6 p-3">
                      <p class="card topic-item"><span>{% translate "Gouvernance" %}</span></p>
                  </div>
                  <div class="topic-wrapper col-lg-3 col-md-4 col-sm-4 col-6 p-3">
                      <p class="card topic-item"><span>{% translate "Energy" %}</span></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="pb-5">
  <div class="container-xl">
      <div class="row align-items-center py-5">
          <div class="col-12 col-md-7 col-lg-6">
              <h3 class="section-title">
                  {% blocktranslate %}
                      Who do we expect
                  {% endblocktranslate %}
              </h3>

              <div class="py-3 font-size-16">
                  {% blocktranslate %}
                  Pellentesque purus mi, ultricies quis lacus sit amet, mollis ultrices tellus. 
                  Etiam vitae dictum neque, et interdum orci. Suspendisse at neque eros. 
                  Sed a purus eget nibh bibendum dignissim. 
                  {% endblocktranslate %}
                  <ul class="py-3">
                      <li>
                          {% translate "Phasellus eleifend nisi et leo fermentum, non egestas ligula dictum." %}
                      </li>
                      <li class="pt-2">
                          {% translate "Vestibulum eu nunc at magna vehicula cursus sed et augue." %}
                      </li>
                      <li class="pt-2">
                          {% translate "Cras quis risus tincidunt, fringilla libero sed, scelerisque leo." %}
                      </li>
                      <li class="pt-2">
                          {% translate "Duis ac nulla vitae sem aliquam gravida." %}
                      </li>
                      <li class="pt-2">
                          {% translate "Quisque molestie dolor et libero placerat consequat." %}
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-12 col-md-5 col-lg-6">
              <img src="{% static 'images/assets/who-expect.jpg' %}">
          </div>
      </div>
  </div>
</section>

<section class="civa-highlights__section">

    <div class="container">
        <div class="row d-flex justify-content-center py-3">
            <div class="col-12 col-lg-8">
                <h3 class="section-title mb-3 text-center">
                    {% blocktranslate %}
                    Highlights
                    {% endblocktranslate %}
                </h3>

                <div class="py-3">
                    <div class="highlights-item">
                        <h2>{% translate "Launch of The International Conference of African Cities 2023" %}</h2>

                        <p class="py-3">
                            {% blocktranslate %}
                            PLorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tellus risus, tempus eu hendrerit at, 
                            tincidunt non lacus. Proin et cursus arcu, at placerat est. Vivamus tristique condimentum risus nec feugiat. 
                            Vivamus pharetra neque sit amet nunc elementum, ornare tempor ante ultricies. Vestibulum non faucibus elit, 
                            in semper nulla. Proin id eleifend ligula.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="highlights-item">
                        <h2>{% translate "Word to various speakers" %}</h2>

                        <p class="py-3">
                            {% blocktranslate %}
                            PLorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tellus risus, tempus eu hendrerit at, 
                            tincidunt non lacus. Proin et cursus arcu, at placerat est. Vivamus tristique condimentum risus nec feugiat. 
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="highlights-item">
                        <h2>{% translate "Workshops" %}</h2>
                        <p class="py-3">
                            {% blocktranslate %}
                            PLorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tellus risus, tempus eu hendrerit at, 
                            tincidunt non lacus. Proin et cursus arcu, at placerat est. Vivamus tristique condimentum risus nec feugiat. 
                            Vivamus pharetra neque sit amet nunc elementum, ornare tempor ante ultricies. 
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="highlights-item">
                        <h2>{% translate "Global networking opportunities" %}</h2>
                        <p class="py-3">
                            {% blocktranslate %}
                              PLorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tellus risus, tempus eu hendrerit at, 
                              tincidunt non lacus. Proin et cursus arcu, at placerat est.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="highlights-item">
                        <h2>{% translate "Executive certification" %}</h2>
                        <p class="py-3">
                            {% blocktranslate %}
                              PLorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tellus risus, tempus eu hendrerit at, 
                              tincidunt non lacus. Proin et cursus arcu, at placerat est.
                            {% endblocktranslate %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3 text-center">
          <a class="btn btn__primary btn__small" href="{% url 'civa-agenda' %}">
            {% translate "Get more details" %}
          </a>
        </div>
    </div>
</section>


<section class="event-speakers pt-5">
    <div class="container-xl position-relative py-5">

      <h3 class="section-title text-center mb-3">
        {% blocktranslate %}
            Meet our <br> Conference speakers
        {% endblocktranslate %}
      </h3>

      <div class="row event-speakers__list justify-content-center py-5">
        
        <div class="col-lg-3 col-md-4 speakers-card">
          <div class="card border-0 bg-transparent">
            <div class="card-header p-0">
                <a href="#speaker_modal_1" type="button" class="d-block" data-bs-toggle="modal" data-bs-target="#speaker_modal_1">
                    <img class="speaker-avatar" src="{% static 'images/assets/event/Nisrine-Cherata.png' %}">

                    <div class="speaker-hover-content">
                      <img class="pb-5" src="{% static 'images/assets/icon-plus-circle.svg' %}" width="50" height="50">
                      <ul class="speakers-social-lists list-inline p-0 mb-0">
                        <li class="list-inline-item"></li>
                      </ul>
                    </div>
                </a>
            </div>
            <div class="card-body border-0">
              <h4 class="speaker-title">Dr Nesrine Chehata</h4>
              <p class="speaker-designation">
                {% translate "MC, Bordeaux INP Specialist in Geomatics and IA Earth Observation" %}
              </p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="speaker_modal_1" tabindex="-1" aria-labelledby="speaker_modal_1" aria-hidden="true">
              <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body pb-5">
                    <div class="row">
                      <div class="col-lg-4 col-md-7">
                        <div class="mdl-speaker-avatar">
                          <img src="{% static 'images/assets/event/Nisrine-Cherata.png' %}" alt="Dr Nesrine Chehata"> 
                        </div>
                      </div>
                      <div class="col-lg-8 ">
                        <div class="mdl-speaker-details p-3">
                          <h2>Dr Nesrine Chehata</h2>
                            
                          <p class="my-2">{% translate "MC, Bordeaux INP Specialist in Geomatics and IA Earth Observation" %}</p>
                            
                          <ul class="mdl-speaker-social-list list-inline m-0">
                            <li class="list-inline-item"></li>
                          </ul> 
                
                          <span class="xs-hr-line"></span>

                          <p>
                            {% blocktranslate %}
                            Is a lecturer at Bordeaux INP since 2006 and specializes in geomatics and AI for Earth observation.
                            She defended her thesis in 2005 with CNES (Centre National des Etudes Spatiales) and IGN
                            (Institut Géographique National) on 3D modeling of buildings from satellite data THR.
                            She is president and founding member of the association AGEOS - African Association for Geospatial
                            Development since November 2016. She organizes many seminars of awareness and technology watch in
                            geospatial in Tunisia and open to the African scale. She advocates for opengeodata in Tunisia and
                            the animation of the community of reusers via the organization of Tunisia Opengeodatahack.
                            She coordinates several projects to support ministries and local authorities in Tunisia for
                            the implementation of their GIS, with the inclusion of citizens via openstreetmap.
                            {% endblocktranslate %}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 speakers-card">
          <div class="card border-0 bg-transparent">
            <div class="card-header p-0">
                <a href="#speaker_modal_2" type="button" class="d-block" data-bs-toggle="modal" data-bs-target="#speaker_modal_2">
                    <img class="speaker-avatar" src="{% static 'images/assets/event/Tarik Akdim.jpeg' %}">

                    <div class="speaker-hover-content">
                      <img class="pb-5" src="{% static 'images/assets/icon-plus-circle.svg' %}" width="50" height="50">
                      <ul class="speakers-social-lists list-inline p-0 mb-0">
                        <li class="list-inline-item"></li>
                      </ul>
                    </div>
                </a>
            </div>
            <div class="card-body border-0">
              <h4 class="speaker-title">Mr. Tariq AKDIM</h4>
              <p class="speaker-designation">
                {% translate "Doctoral student, Researcher" %}
              </p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="speaker_modal_2" tabindex="-1" aria-labelledby="speaker_modal_3" aria-hidden="true">
              <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body pb-5">
                    <div class="row">
                      <div class="col-lg-4 col-md-7">
                        <div class="mdl-speaker-avatar">
                          <img src="{% static 'images/assets/event/Tarik Akdim.jpeg' %}" alt="Mr. Tariq AKDIM"> 
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="mdl-speaker-details p-3">
                          <h2>Mr. Tariq AKDIM</h2>
                            
                          <p class="my-2">{% translate "Doctoral student, Researcher" %}</p>
                            
                          <ul class="mdl-speaker-social-list list-inline m-0">
                            <li class="list-inline-item"></li>
                          </ul> 
                
                          <span class="xs-hr-line"></span>

                          <p>
                            {% blocktranslate %}
                              Mr. Tariq AKDIM is a doctoral researcher at UIT Ibn Tofail, president of the LOGOS club, economist 
                              expert in territorial development and associate professor at SupMTI Rabat.
                            {% endblocktranslate %}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 speakers-card">
          <div class="card border-0 bg-transparent">
            <div class="card-header p-0">
                <a href="#speaker_modal_3" type="button" class="d-block" data-bs-toggle="modal" data-bs-target="#speaker_modal_3">
                    <img class="speaker-avatar" src="{% static 'images/assets/event/Christelle GBADO.png' %}">

                    <div class="speaker-hover-content">
                      <img class="pb-5" src="{% static 'images/assets/icon-plus-circle.svg' %}" width="50" height="50">
                      <ul class="speakers-social-lists list-inline p-0 mb-0">
                        <li class="list-inline-item"></li>
                      </ul>
                    </div>
                </a>
            </div>
            <div class="card-body border-0">
              <h4 class="speaker-title">{% translate "Ms" %} Christelle Gbado</h4>
              <p class="speaker-designation">
                {% translate "PhD student" %}
              </p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="speaker_modal_3" tabindex="-1" aria-labelledby="speaker_modal_3" aria-hidden="true">
              <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body pb-5">
                    <div class="row">
                      <div class="col-lg-4 col-md-7">
                        <div class="mdl-speaker-avatar">
                          <img src="{% static 'images/assets/event/Christelle GBADO.png' %}" alt="Christelle Gbado"> 
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="mdl-speaker-details p-3">
                          <h2>{% translate "Ms" %} Christelle Gbado</h2>
                            
                          <p class="my-2">{% translate "PhD student" %}</p>
                            
                          <ul class="mdl-speaker-social-list list-inline m-0">
                            <li class="list-inline-item"></li>
                          </ul> 
                
                          <span class="xs-hr-line"></span>

                          <p>
                            {% blocktranslate %}
                            Christelle GBADO is a PhD student in urban and regional planning at Sorbornne University.
                            Since 2019, she has been studying and analysing quality of life issues in the construction
                            of smart cities in Africa through the study of some cases of emerging smart cities.
                            She holds a Master's degree in Urban and Regional Planning, Development and Foresight
                            from the Sorbonne University. She has worked on many projects related to urban planning
                            and urban programming in Benin and as part of her studies at Sobornne University.
                            {% endblocktranslate %}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 speakers-card">
          <div class="card border-0 bg-transparent">
            <div class="card-header p-0">
                <a href="#speaker_modal_4" type="button" class="d-block" data-bs-toggle="modal" data-bs-target="#speaker_modal_4">
                    <img class="speaker-avatar" src="{% static 'images/assets/event/Willy Franck SOB.jpg' %}">

                    <div class="speaker-hover-content">
                      <img class="pb-5" src="{% static 'images/assets/icon-plus-circle.svg' %}" width="50" height="50">
                      <ul class="speakers-social-lists list-inline p-0 mb-0">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/willy-franck-sob-b400bb85/"><i class="fab fa-linkedin-in"></i></a></li>
                      </ul>
                    </div>
                </a>
            </div>
            <div class="card-body border-0">
              <h4 class="speaker-title">Mr Willy Franck SOB</h4>
              <p class="speaker-designation">
                {% translate "Founder GeOsm Family - The First Open Geospatial Knowledge Infrastructure" %}
              </p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="speaker_modal_4" tabindex="-1" aria-labelledby="speaker_modal_4" aria-hidden="true">
              <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body pb-5">
                    <div class="row">
                      <div class="col-lg-4 col-md-7">
                        <div class="mdl-speaker-avatar">
                          <img src="{% static 'images/assets/event/Willy Franck SOB.jpg' %}" alt="Mr Willy Franck SOB"> 
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="mdl-speaker-details p-3">
                          <h2>Mr Willy Franck SOB</h2>
                            
                          <p class="my-2">{% translate "Founder GeOsm Family - The First Open Geospatial Knowledge Infrastructure" %}</p>
                            
                          <ul class="mdl-speaker-social-list list-inline m-0">
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/willy-franck-sob-b400bb85/"><i class="fab fa-linkedin-in"></i></a></li>
                          </ul> 
                
                          <span class="xs-hr-line"></span>

                          <p>
                            {% blocktranslate %}
                            Graduated in 2013 from the school of surveyors in Le Mans (France). He is the promoter of 
                            GeOsm (https://geo.sm/) the very first geolocated social network aimed at players in the 
                            digital ecosystem in order to achieve sustainable development through open innovation. 
                            Recently deployed on a global scale, this open platform for technological innovations 
                            aims to accelerate the appropriation of geospatial data by those actors who depend 
                            heavily on it (startups, universities, municipalities, civil society). His expertise 
                            is recognized by several international institutions where he regularly works as a consultant. 
                            These include: The World Bank, GIZ, UNESCO, UN-Habitat, AFD, etc.
                            {% endblocktranslate %}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 speakers-card">
          <div class="card border-0 bg-transparent">
            <div class="card-header p-0">
                <a href="#speaker_modal_5" type="button" class="d-block" data-bs-toggle="modal" data-bs-target="#speaker_modal_5">
                    <img class="speaker-avatar" src="{% static 'images/assets/event/Dr. Oualid-Ali.jpg' %}">

                    <div class="speaker-hover-content">
                      <img class="pb-5" src="{% static 'images/assets/icon-plus-circle.svg' %}" width="50" height="50">
                      <ul class="speakers-social-lists list-inline p-0 mb-0">
                        <li class="list-inline-item"><a href="http://www.dr-oualid-ali.com/"><i class="fas fa-globe"></i></a></li>
                      </ul>
                    </div>
                </a>
            </div>
            <div class="card-body border-0">
              <h4 class="speaker-title">Dr. Oualid Ali</h4>
              <p class="speaker-designation">
                {% translate "Founder GeOsm Family - The First Open Geospatial Knowledge Infrastructure" %}
              </p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="speaker_modal_5" tabindex="-1" aria-labelledby="speaker_modal_5" aria-hidden="true">
              <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body pb-5">
                    <div class="row">
                      <div class="col-lg-4 col-md-7">
                        <div class="mdl-speaker-avatar">
                          <img src="{% static 'images/assets/event/Dr. Oualid-Ali.jpg' %}" alt="Dr. Oualid Ali"> 
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="mdl-speaker-details p-3">
                          <h2>Dr. Oualid Ali</h2>
                            
                          <p class="my-2">{% translate "Founder GeOsm Family - The First Open Geospatial Knowledge Infrastructure" %}</p>
                            
                          <ul class="mdl-speaker-social-list list-inline m-0">
                            <li class="list-inline-item"><a href="http://www.dr-oualid-ali.com/"><i class="fas fa-globe"></i></a></li>
                          </ul> 
                
                          <span class="xs-hr-line"></span>

                          <p>
                            {% blocktranslate %}
                            He's a futurist, technologist, future cities expert, and considered as one of the international
                            well-recognized experts in the fields of Future foresight, Scenarios planning, Trends watching,
                            Emerging technologies & innovations, Industrial Revolution 4.0, Future cities (Smart, Sustainable
                            and innovative Cities), Education 4.0, Artificial Intelligence (AI), etc.
                          {% endblocktranslate %}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 speakers-card">
          <div class="card border-0 bg-transparent">
            <div class="card-header p-0">
                <a href="#speaker_modal_6" type="button" class="d-block" data-bs-toggle="modal" data-bs-target="#speaker_modal_6">
                    <img class="speaker-avatar" src="{% static 'images/assets/event/Vitor Pessoa Colombo.jpg' %}">

                    <div class="speaker-hover-content">
                      <img class="pb-5" src="{% static 'images/assets/icon-plus-circle.svg' %}" width="50" height="50">
                      <ul class="speakers-social-lists list-inline p-0 mb-0">
                        <li class="list-inline-item"></li>
                      </ul>
                    </div>
                </a>
            </div>
            <div class="card-body border-0">
              <h4 class="speaker-title">Mr. Vitor Pessoa Colombo</h4>
              <p class="speaker-designation">
                {% translate "Architech and PhD student EPFL Lausanne, Switzerland" %}
              </p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="speaker_modal_6" tabindex="-1" aria-labelledby="speaker_modal_6" aria-hidden="true">
              <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body pb-5">
                    <div class="row">
                      <div class="col-lg-4 col-md-7">
                        <div class="mdl-speaker-avatar">
                          <img src="{% static 'images/assets/event/Vitor Pessoa Colombo.jpg' %}" alt="Mr. Vitor Pessoa Colombo"> 
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="mdl-speaker-details p-3">
                          <h2>Mr. Vitor Pessoa Colombo</h2>
                            
                          <p class="my-2">{% translate "Architech and PhD student EPFL Lausanne, Switzerland" %}</p>
                            
                          <ul class="mdl-speaker-social-list list-inline m-0">
                            <li class="list-inline-item"></li>
                          </ul> 
                
                          <span class="xs-hr-line"></span>

                          <p>
                            {% blocktranslate %}
                              He has a Master degree in Urban and Regional Planning from the University of Nairobi,
                              Kenya and an undergraduate Education degree in Geography and Mathematics from the same.
                              He is a Graduate Member of the Town and County Planners Association of Kenya  and a
                              member of the International Society of Urban and Regional Planners (ISOCARP).
                              He has previously worked at the Strathmore University Advancement Office and as
                              the Executive Director of Kilimani Project Foundation.
                            {% endblocktranslate %}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 speakers-card">
          <div class="card border-0 bg-transparent">
            <div class="card-header p-0">
                <a href="#speaker_modal_7" type="button" class="d-block" data-bs-toggle="modal" data-bs-target="#speaker_modal_7">
                    <img class="speaker-avatar" src="{% static 'images/assets/event/Anastasija_Nikiforova.png' %}">

                    <div class="speaker-hover-content">
                      <img class="pb-5" src="{% static 'images/assets/icon-plus-circle.svg' %}" width="50" height="50">
                      <ul class="speakers-social-lists list-inline p-0 mb-0">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/anastasija-nikiforova-466b99b3/">
                          <i class="fab fa-linkedin-in"></i></a>
                        </li>
                      </ul>
                    </div>
                </a>
            </div>
            <div class="card-body border-0">
              <h4 class="speaker-title">Dr. Anastasija Nikiforova</h4>
              <p class="speaker-designation">
                {% translate "Researcher , PhD in Computer Science – Data Processing Systems and Data Networking" %}
              </p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="speaker_modal_7" tabindex="-1" aria-labelledby="speaker_modal_7" aria-hidden="true">
              <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body pb-5">
                    <div class="row">
                      <div class="col-lg-4 col-md-7">
                        <div class="mdl-speaker-avatar">
                          <img src="{% static 'images/assets/event/Anastasija_Nikiforova.png' %}" alt="Dr. Anastasija Nikiforova"> 
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="mdl-speaker-details p-3">
                          <h2>Dr. Anastasija Nikiforova</h2>
                            
                          <p class="my-2">{% translate "Researcher , PhD in Computer Science – Data Processing Systems and Data Networking" %}</p>
                            
                          <ul class="mdl-speaker-social-list list-inline m-0">
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/anastasija-nikiforova-466b99b3/">
                              <i class="fab fa-linkedin-in"></i></a>
                            </li>
                          </ul> 
                
                          <span class="xs-hr-line"></span>

                          <p>
                            {% blocktranslate %}
                            Assistant professor of Information Systems at University of Tartu (Institute of Computer Science),
                            a part of European Open Science Cloud Task Force FAIR Metrics and Data Quality and a visiting
                            researcher at Delft University of Technology, Faculty Technology Policy and Management.
                            Expert of the COST – European Cooperation in Science & Technology, as well as Latvian Council
                            of Sciences in Natural Sciences – Computer Science and Informatics, Engineering and Technology-Electrical
                            Engineering, Electronics, Information and Communication Technologies (ICT), and Social Sciences – Economics and Business.
                            {% endblocktranslate %}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>     
        
        <div class="col-lg-3 col-md-4 speakers-card">
          <div class="card border-0 bg-transparent">
            <div class="card-header p-0">
                <a href="#speaker_modal_8" type="button" class="d-block" data-bs-toggle="modal" data-bs-target="#speaker_modal_8">
                    <img class="speaker-avatar" src="{% static 'images/assets/event/Constant CAP.png' %}">

                    <div class="speaker-hover-content">
                      <img class="pb-5" src="{% static 'images/assets/icon-plus-circle.svg' %}" width="50" height="50">
                      <ul class="speakers-social-lists list-inline p-0 mb-0">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/constantcap/">
                          <i class="fab fa-linkedin-in"></i></a>
                        </li>
                      </ul>
                    </div>
                </a>
            </div>
            <div class="card-body border-0">
              <h4 class="speaker-title">Mr. Constant CAP</h4>
              <p class="speaker-designation">
                {% translate "Senior Product Manager at Code for Africa's sensors AFRICA citizen science program" %}
              </p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="speaker_modal_8" tabindex="-1" aria-labelledby="speaker_modal_8" aria-hidden="true">
              <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body pb-5">
                    <div class="row">
                      <div class="col-lg-4 col-md-7">
                        <div class="mdl-speaker-avatar">
                          <img src="{% static 'images/assets/event/Constant CAP.png' %}" alt="Mr. Constant CAP"> 
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="mdl-speaker-details p-3">
                          <h2>Mr. Constant CAP</h2>
                            
                          <p class="my-2">{% translate "Senior Product Manager at Code for Africa's sensors AFRICA citizen science program" %}</p>
                            
                          <ul class="mdl-speaker-social-list list-inline m-0">
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/constantcap/">
                              <i class="fab fa-linkedin-in"></i></a>
                            </li>
                          </ul> 
                
                          <span class="xs-hr-line"></span>

                          <p>
                            {% blocktranslate %}
                            He has a Master degree in Urban and Regional Planning from the University
                            of Nairobi, Kenya and an undergraduate Education degree in Geography and
                            Mathematics from the same. He is a Graduate Member of the Town and County
                            Planners Association of Kenya  and a member of the International Society
                            of Urban and Regional Planners (ISOCARP). He has previously worked at the
                            Strathmore University Advancement Office and as the Executive Director of
                            Kilimani Project Foundation.
                            {% endblocktranslate %}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>     
    
      </div>

      <div class="my-3 text-center">
        <a class="btn btn__primary btn__small" href="{% url 'civa-speakers' %}">
          {% translate "View all speakers" %}
        </a>
      </div>
    </div>
</section>


<section class="py-5">
  <div class="container-xl">
      <div class="row justify-content-center py-3">
          <div class="col-12 col-md-8">
              <h3 class="section-title">
                {% translate "ICAC News Feeds" %}
              </h3>
          </div>
          <div class="col-12 col-md-4 d-none d-md-block">
              <a class="float-end btn btn__small btn__primary" role="button" href="{% localized_slugurl 'blog' %}">{% translate "More articles" %}</a>
          </div>
      </div>

      <div class="row py-3">
          <div class="col-12 col-lg-4 col-md-6 article-card">
              <div class="card border-0">
                  <div class="card-header article-preview-img p-0">
                      <a href="#" class="d-block">
                          <img src="{% static 'images/assets/acl-default-img.png' %}">
                      </a>
                  </div>
                  <div class="card-body">
                      <div class="article-meta d-flex align-items-center">
                          <div class="article__date">21/03/2022</div>
                          <div class="fas fa-circle text_primary mx-2" style="font-size: 5px;"></div>
                          <div class="article__category text_primary font-weight-bold">ICAC 2023</div>
                      </div>
                      <h5 class="article-title py-3">
                          <a href="" class="d-block text-black">
                              Mauris dolor leo, laoreet non eros vitae
                          </a>
                      </h5>
                      <div class="article-exerpt">
                          Mauris dolor leo, laoreet non eros vitae, aliquet scelerisque nisi. 
                          Curabitur velit felis, commodo id erat vel, dignissim facilisis nisi.
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-12 col-lg-4 col-md-6 article-card">
              <div class="card border-0">
                  <div class="card-header article-preview-img p-0">
                      <a href="#" class="d-block">
                          <img src="{% static 'images/assets/acl-default-img.png' %}">
                      </a>
                  </div>
                  <div class="card-body">
                      <div class="article-meta d-flex align-items-center">
                          <div class="article__date">21/03/2022</div>
                          <div class="fas fa-circle text_primary mx-2" style="font-size: 5px;"></div>
                          <div class="article__category text_primary font-weight-bold">ICAC 2023</div>
                      </div>
                      <h5 class="article-title py-3">
                          <a href="" class="d-block text-black">
                              Mauris dolor leo, laoreet non eros vitae
                          </a>
                      </h5>
                      <div class="article-exerpt">
                          Mauris dolor leo, laoreet non eros vitae, aliquet scelerisque nisi. 
                          Curabitur velit felis, commodo id erat vel, dignissim facilisis nisi.
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-12 col-lg-4 col-md-6 article-card">
              <div class="card border-0">
                  <div class="card-header article-preview-img p-0">
                      <a href="#" class="d-block">
                          <img src="{% static 'images/assets/acl-default-img.png' %}">
                      </a>
                  </div>
                  <div class="card-body">
                      <div class="article-meta d-flex align-items-center">
                          <div class="article__date">21/03/2022</div>
                          <div class="fas fa-circle text_primary mx-2" style="font-size: 5px;"></div>
                          <div class="article__category text_primary font-weight-bold">ICAC 2023</div>
                      </div>
                      <h5 class="article-title py-3">
                          <a href="" class="d-block text-black">
                              Mauris dolor leo, laoreet non eros vitae
                          </a>
                      </h5>
                      <div class="article-exerpt">
                          Mauris dolor leo, laoreet non eros vitae, aliquet scelerisque nisi. 
                          Curabitur velit felis, commodo id erat vel, dignissim facilisis nisi.
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="mt-5 text-center d-md-none">
          <a class="btn btn__small btn__primary" role="button" href="{% localized_slugurl 'blog' %}">{% translate "More articles" %}</a>
      </div>
  </div>
</section>

<section class="civa-form__section">
  <div class="container-xl">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-white text-center py-5">
        <div class="h1 pt-lg-5">{% translate "Join the International Conference on African Cities" %}</div>
        <div class="mt-5 text-center">
          <a href="#" class="btn btn__primary btn__big">
              {% translate "Register to attend" %}
          </a>
        </div>
        <p class="font-size-18 pt-5">
          {% blocktranslate %}
            If you wish to have more information,<br> 
            you can contact us directly on :<br>
          {% endblocktranslate %}
          <a class="text-white" href="mailto:info@africancitieslab.org">
            <strong>info@africancitieslab.org</strong>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

