{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% elif self.title %}
        {{ self.title }}
    {% else %}
        {% translate "Venue & Contact | African Cities Conference" %} - African Cities Lab
    {% endif %}
{% endblock title %}
{% block meta_tag_description %}
  <meta name="robots" content="noindex,nofollow">
{% endblock %}
{% block static_meta_tag %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "African Cities Conference" %} - African Cities Lab{% endif %}">
<meta name="twitter:description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}">
<meta name="twitter:site" content="@AfricanCtiesLab"/>
<meta name="twitter:image" content="{% static 'images/assets/acl-logo-square256x256.png' %}">

<meta property="og:title" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "African Cities Conference" %} - African Cities Lab{% endif %}" />
<meta property="og:description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
<meta property="og:site_name" content="African Cities Lab" />
<meta property="og:image" content="{% static 'images/assets/acl-logo-square256x256.png' %}"/>

<meta itemprop="name" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "African Cities Conference" %} - African Cities Lab{% endif %}">
<meta itemprop='description' content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}"/>
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .shadow-sm {
        box-shadow: unset !important;
    }
    .civa-form__section {
      background-image: linear-gradient(rgba(64, 39, 129, 0.9),rgba(64, 39, 129, 0.6)) ,url({% static 'images/assets/conference_form_bg.jpg' %});
    }
    .page-banner {
      background-image: linear-gradient(rgba(84,84,84,0.5) 12%, rgba(0,0,0,.5) 100%),
        url({% static 'images/assets/icac-banner-image.jpg' %});
      background-position: top center;
    }
  </style>
{% endblock css %}

{% block javascript %}
  {{ block.super }}
  <script defer src="{% static 'js/subnavigation.js' %}"></script>
{% endblock javascript %}

{% block content %}

<div class="subnavigation">
    <div class="hz-scroll-container">
        <div class="container-fluid hz-scroll-content">
            <div class="row no-gutters">
                <div class="overflow-wrap col-10 col-xl-11">
                    <nav aria-labelledby="nav2">
                      <label id="nav2">
                        {% url 'the-international-conference-of-african-cities-2023' as url %}
                        <a class="{% if request.path == url %}active{% endif %}" href="{% url 'the-international-conference-of-african-cities-2023' %}">
                          {% translate "ACC 2023" %}
                        </a>
                        <span class="visuallyhidden">secondary menu</span>
                      </label>
                      <ul class="list-inline">
                        <!--li class="list-inline-item">
                          {% url 'acc-agenda' as url %}
                          <a class="{% if request.path == url %}active{% endif %}" href="{% url 'acc-agenda' %}">{% translate "Program" %}</a>
                        </li-->
                        <li class="list-inline-item">
                          {% url 'acc-speakers' as url %}
                          <a class="{% if request.path == url %}active{% endif %}" href="{% url 'acc-speakers' %}">{% translate "Speakers" %}</a>
                        </li>
                        <!--li class="list-inline-item">
                          {% url 'acc-guests' as url %}
                          <a class="{% if request.path == url %}active{% endif %}" href="{% url 'acc-guests' %}">{% translate "Special guests" %}</a>
                        </li-->
                        <li class="list-inline-item">
                          {% url 'acc-commitee' as url %}
                          <a class="{% if request.path == url %}active{% endif %}" href="{% url 'acc-commitee' %}">{% translate "Committee" %}</a>
                        </li>
                        <li class="list-inline-item">
                          {% url 'acc-papers' as url %}
                          <a class="{% if request.path == url %}active{% endif %}" href="{% url 'acc-papers' %}">{% translate "Call for papers" %}</a>
                        </li>
                        <!--li class="list-inline-item">
                            {% url 'acc-registration' as url %}
                            <a class="{% if request.path == url %}active{% endif %}" href="{% url 'acc-registration' %}">{% translate "Register" %}</a>
                        </li-->
                        <!--li class="list-inline-item">
                            {% url 'acc-informations' as url %}
                            <a class="{% if request.path == url %}active{% endif %}" href="{% url 'acc-informations' %}">{% translate "Venue & Contact" %}</a>
                        </li-->
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
        <button class="overflowButton js-scroll-button" tabindex="-1">Scroll Subnavigation</button>
    </div>
</div>

<section class="page-banner"> 
  <div class="container-fluid">
      <div class="row py-5">
          <div class="col-12 col-md-6"> 
              <div class="position-relative h1">
                  {% translate "Venue & Contact" %}
                  <span class="dash-accent"></span>
              </div>
          </div>
      </div>
  </div>
  <div class="acl-sharpes right-sharpe">
      <img class="d-none d-lg-block" src="{% static 'images/assets/outline-sharpe-right.svg' %}">
  </div>
</section>

<section class="civa-form__section">
  <div class="container-xl">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-white text-center">
        <div class="h1 pt-lg-5">
          {% blocktranslate %}
          Join African Cities Conference (ACC) - Digital Cities
          {% endblocktranslate %}
        </div>
        <div class="mt-5 text-center">
          <a class="btn btn__primary btn__small my-4" href="{% url 'acc-papers' %}">
            {% translate "Call for papers" %}
          </a>
        </div>
        <p class="font-size-16 pt-3 pb-5">
          {% blocktranslate %}
            If you wish to have more information,<br> 
            you can contact us directly on :<br>
          {% endblocktranslate %}
          <a class="text-white" href="mailto:info@africancitieslab.org">
            <strong>contact@africancitieslab.org</strong>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
  
{% endblock content %}
  