{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% elif self.title %}
        {{ self.title }}
    {% else %}
        {% translate "Sponsors | The International Conference of African Cities" %} - African Cities Lab
    {% endif %}
{% endblock title %}
{% block meta_tag_description %}
  <meta name="robots" content="noindex,nofollow">
{% endblock %}
{% block static_meta_tag %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "The International Conference of African Cities" %} - African Cities Lab{% endif %}">
<meta name="twitter:description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}">
<meta name="twitter:site" content="@AfricanCtiesLab"/>
<meta name="twitter:image" content="{% static 'images/assets/acl-logo-square256x256.png' %}">

<meta property="og:title" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "The International Conference of African Cities" %} - African Cities Lab{% endif %}" />
<meta property="og:description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
<meta property="og:site_name" content="African Cities Lab" />
<meta property="og:image" content="{% static 'images/assets/acl-logo-square256x256.png' %}"/>

<meta itemprop="name" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "The International Conference of African Cities" %} - African Cities Lab{% endif %}">
<meta itemprop='description' content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}"/>
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .shadow-sm {
        box-shadow: unset !important;
    }
    .civa-form__section {
      background-image: linear-gradient(rgba(64, 39, 129, 0.9),rgba(64, 39, 129, 0.6)) ,url({% static 'images/assets/conference_form_bg.jpg' %});
    }
    .page-banner__right {
        background-image: url({% static 'images/assets/icac-banner-image.jpg' %});
    }
  </style>
{% endblock css %}

{% block javascript %}
  {{ block.super }}
  <script defer src="{% static 'js/subnavigation.js' %}"></script>
{% endblock javascript %}

{% block content %}

<div class="subnavigation">
    <div class="hz-scroll-container">
        <div class="container-fluid hz-scroll-content">
            <div class="row no-gutters">
                <div class="overflow-wrap col-10 col-xl-11">
                    <nav aria-labelledby="nav2">
                        <label id="nav2">
                            {% url 'the-international-conference-of-african-cities-2023' as url %}
                            <a class="{% if request.path == url %}active{% endif %}" href="{% url 'the-international-conference-of-african-cities-2023' %}">
                              {% translate "CIVA 2023" %}
                            </a>
                            <span class="visuallyhidden">secondary menu</span>
                        </label>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                              {% url 'civa-agenda' as url %}
                              <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-agenda' %}">{% translate "Agenda" %}</a>
                            </li>
                            <li class="list-inline-item">
                              {% url 'civa-speakers' as url %}
                              <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-speakers' %}">{% translate "Speakers" %}</a>
                            </li>
                            <li class="list-inline-item">
                              {% url 'civa-sponsors' as url %}
                              <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-sponsors' %}">{% translate "Sponsors" %}</a>
                            </li>
                            <li class="list-inline-item">
                              {% url 'civa-guests' as url %}
                              <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-guests' %}">{% translate "Special guests" %}</a>
                            </li>
                            <li class="list-inline-item">
                              {% url 'civa-commitee' as url %}
                              <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-commitee' %}">{% translate "Organization Committee" %}</a>
                            </li>
                            <li class="list-inline-item">
                              {% url 'civa-papers' as url %}
                              <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-papers' %}">{% translate "Call for papers" %}</a>
                            </li>
                            <li class="list-inline-item">
                                {% url 'civa-registration' as url %}
                                <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-registration' %}">{% translate "Attend" %}</a>
                            </li>
                            <li class="list-inline-item">
                                {% url 'civa-informations' as url %}
                                <a class="{% if request.path == url %}active{% endif %}" href="{% url 'civa-informations' %}">{% translate "Venue & Contact" %}</a>
                            </li>
                          </ul>
                    </nav>
                </div>
            </div>
        </div>
        <button class="overflowButton js-scroll-button" tabindex="-1">Scroll Subnavigation</button>
    </div>
</div>

<section class="page-banner__area bg_primary mt-5">
    <div class="row justify-content-between align-item-center">
        <div class="page-banner__left align-self-center">
            <h1 class="page-hero__title text-white">{% translate "Sponsors" %}</h1>
        </div>
        <div class="page-banner__right">
            <div class="d-none d-lg-block banner-angle__left">
                <img class="d-none d-lg-block" src="{% static 'images/assets/banner-red-angle-left.svg' %}">
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container-xl py-5">

        <div class="text-center h1 mb-3">
            {% blocktranslate %}
                Big thanks to our sponsors <br>
            {% endblocktranslate %}
        </div>

        <div class="row pt-4">
            <div class="col-12 col-lg-4 col-md-6 d-flex p-4">
                <div class="card image-box text-center">
                    <div class="card-header">
                        <img src="{% static "images/assets/partners/seco-small.png" %}">
                    </div>
                    <div class="card-body p-0">
                        <h6 class="py-3">{% translate "State Secretariat for Economic Affairs" %}</h6>
                    </div>  
                    <div class="card-footer bg-white border-0">
                        <a href="https://seco.admin.ch/seco/en/home.html" class="font-weight-500 pt-3 text_primary"> {% translate "Visit website" %} <i class="fas fa-external-link-alt mx-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 d-flex p-4">
                <div class="card image-box text-center">
                    <div class="card-header">
                        <img src="{% static "images/assets/partners/epfl.png" %}">
                    </div>
                    <div class="card-body p-0">
                        <h6 class="py-3">{% translate "École Polytechnique Fédérale de Lausanne" %}</h6>
                    </div>  
                    <div class="card-footer bg-white border-0">
                        <a href="https://epfl.ch" class="font-weight-500 text_primary"> {% translate "Visit website" %} <i class="fas fa-external-link-alt mx-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 d-flex p-4">
                <div class="card image-box text-center">
                    <div class="card-header">
                        <img src="{% static "images/assets/partners/semecity.png" %}">
                    </div>
                    <div class="card-body p-0">
                        <h6 class="py-3">{% translate "Sèmè City" %}</h6>
                    </div>  
                    <div class="card-footer bg-white border-0">
                        <a href="https://semecity.bj/en" class="font-weight-500  pt-3 text_primary"> {% translate "Visit website" %} <i class="fas fa-external-link-alt mx-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 d-flex p-4">
                <div class="card image-box text-center">
                    <div class="card-header">
                        <img src="{% static "images/assets/partners/um6p.png" %}">
                    </div>
                    <div class="card-body p-0">
                        <h6 class="py-3">{% translate "UM6P" %}</h6>
                    </div>  
                    <div class="card-footer bg-white border-0">
                        <a href="https://um6p.ma" class="font-weight-500  pt-3 text_primary"> {% translate "Visit website" %} <i class="fas fa-external-link-alt mx-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 d-flex p-4">
                <div class="card image-box text-center">
                    <div class="card-header">
                        <img src="{% static "images/assets/partners/ucar.png" %}">
                    </div>
                    <div class="card-body p-0">
                        <h6 class="py-3">{% translate "University of Carthage" %}</h6>
                    </div>  
                    <div class="card-footer bg-white border-0">
                        <a href="http://www.ucar.rnu.tn" class="font-weight-500  pt-3 text_primary"> {% translate "Visit website" %} <i class="fas fa-external-link-alt mx-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 d-flex p-4">
                <div class="card image-box text-center">
                    <div class="card-header">
                        <img src="{% static "images/assets/partners/knust.png" %}">
                    </div>
                    <div class="card-body p-0">
                        <h6 class="py-3">{% translate "Kwame Nkrumah University of Science and Technology" %}</h6>
                    </div>  
                    <div class="card-footer bg-white border-0">
                        <a href="https://www.knust.edu.gh" class="font-weight-500  pt-3 text_primary"> {% translate "Visit website" %} <i class="fas fa-external-link-alt mx-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 d-flex p-4">
                <div class="card image-box text-center">
                    <div class="card-header">
                        <img src="{% static "images/assets/partners/ur.png" %}">
                    </div>
                    <div class="card-body p-0">
                        <h6 class="py-3">{% translate "University of Rwanda" %}</h6>
                    </div>  
                    <div class="card-footer bg-white border-0">
                        <a href="https://ur.ac.rw" class="font-weight-500  pt-3 text_primary"> {% translate "Visit website" %} <i class="fas fa-external-link-alt mx-2"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-lg-4 col-md-6 d-flex p-4">
                <div class="card image-box text-center">
                    <div class="card-header">
                        <img src="{% static "images/assets/partners/uct.png" %}">
                    </div>
                    <div class="card-body p-0">
                        <h6 class="py-3">{% translate "University of Cape Town" %}</h6>
                    </div>  
                    <div class="card-footer bg-white border-0">
                        <a href="https://www.uct.ac.za" class="font-weight-500 text_primary"> {% translate "Visit website" %} <i class="fas fa-external-link-alt mx-2"></i></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="civa-form__section">
    <div class="container-xl">
      <div class="row justify-content-center">
        <div class="col-lg-7 text-white text-center py-5">
          <div class="h1 pt-lg-5">{% translate "Join the International Conference of African Cities (CIVA) - Digital Cities" %}</div>
          <div class="mt-5 text-center">
            <a href="#" class="btn btn__primary btn__big">
                {% translate "Register to attend" %}
            </a>
          </div>
          <p class="font-size-18 pt-5">
            {% blocktranslate %}
              If you wish to have more information,<br> 
              you can contact us directly on :<br>
            {% endblocktranslate %}
            <a class="text-white" href="mailto:info@africancitieslab.org">
              <strong>info@africancitieslab.org</strong>
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  
{% endblock content %}
  