{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}

{% block title %}
    {% translate "African Cities: What role for the youth?" %} - African Cities Lab
{% endblock title %}
{% block meta_tag_description %}
  <meta name="description" content="{% translate 'On October 11, 2022, African Cities Lab, Sèmè City and the Center of Urban Systems of Mohammed VI Polytechnic University will organise a webinar on the theme: African Cities: What role for the youth?.' %}" />
{% endblock %}

{% block static_meta_tag %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "African Cities: What role for the youth?" %} - African Cities Lab{% endif %}">
<meta name="twitter:description" content="{% translate 'On October 11, 2022, African Cities Lab, Sèmè City and the Center of Urban Systems of Mohammed VI Polytechnic University will organise a webinar on the theme: African Cities: What role for the youth?.' %}">
<meta name="twitter:site" content="@AfricanCtiesLab" />
<meta name="twitter:image" content="{% static 'images/assets/webinar-2/african-cities-what-role-for-the-youth-preview.png' %}">

<meta property="og:title" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "African Cities: What role for the youth?" %} - African Cities Lab{% endif %}" />
<meta property="og:description" content="{% translate 'On October 11, 2022, African Cities Lab, Sèmè City and the Center of Urban Systems of Mohammed VI Polytechnic University will organise a webinar on the theme: African Cities: What role for the youth?.' %}" />
<meta property="og:site_name" content="African Cities Lab" />
<meta property="og:image" content="{% static 'images/assets/webinar-2/african-cities-what-role-for-the-youth-preview.png' %}" />

<meta itemprop="name" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "African Cities: What role for the youth?" %} - African Cities Lab{% endif %}">
<meta itemprop='description' content="{% translate 'On October 11, 2022, African Cities Lab, Sèmè City and the Center of Urban Systems of Mohammed VI Polytechnic University will organise a webinar on the theme: African Cities: What role for the youth?.' %}" />
<meta itemprop='image' content="{% static 'images/assets/webinar-2/african-cities-what-role-for-the-youth-preview.png' %}" />
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    #single-event {
      background-image: linear-gradient(285deg, rgba(64, 39, 129,0.1) 15%, rgba(64, 39, 129,1) 100%),
        url({% static 'images/assets/webinar-2/african-cities-what-role-for-the-youth.jpeg' %});
    }
    #video_player .btn-close{
      color: #fff;
      background: unset;
    }
  </style>
{% endblock css %}

{% block content %}


  <section id="single-event">
    <div class="container-lg">
      <div class="row align-item-center">
        <div class="col-12 col-md-10 col-xl-7">
          <div class="meta-badge bg-transparent" style="border: 1px solid #fff">{% translate "Webinar" %}</div>

          <h1 class="pt-3 font-size-3-50em">
            {% blocktranslate %}
              African Cities: <br>What role for the youth?
            {% endblocktranslate %}
          </h1>

          <ul class="event-meta my-3">
            <li class="h5 mb-3">{% translate "October 11, 2022" %}</li>
            <li class="h5">{% translate "Online" %}</li>
          </ul>
          <div class="my-5">
            <a href="{% url 'subscribe-webinar' %}" class="btn btn__primary btn__small">
              {% translate "Register now" %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-5">
    <div class="container-fluid">
      <div class="row py-md-5">
        <div class="col-12 col-lg-10">
          <div class="event-overview font-size-16">
            <h3 class="section-title mb-3">{% translate "Overview" %}</h3>
            <div class="text-justify">
              {% blocktranslate %}
              By 2050, 35&#37; of the world population will be young and African, compared to 15&#37; in 2000.
              The accelerated urbanisation that Africa has been experiencing in recent years goes along with an
              increase in the youngest part of its population, bringing new challenges to the cities.
              Today, 60&#37; of the African population is under the age of 24. This peculiarity of the continent
              is an essential fact to be taken into account in urban planning. Young people should have an important
              role in the development of African cities models. It is therefore legitimate to position them as actors
              and authors of the transformation of spaces and living environments that respond to the urban challenges
              facing the continent (sustainability, well-being, access to essential education services and inclusion).
              <br>In this webinar entitled "African cities: what place for young people?" experts from the four corners
              of the continent will answer the questions of:
              {% endblocktranslate %}
            </div>

            <ul class="py-4">
              <li>{% translate "Youth engagement through different movements;" %}</li>
              <li>{% translate "Gender and equity in urban areas;" %}</li>
              <li>{% translate "Urban youth activities." %}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="event-agenda acl-section-pattern">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-10">

          <h3 class="section-title">{% translate "On the agenda" %}</h3>

          <div class="p-md-4">
            <p><span class="text_primary">* </span>{% translate "This agenda is subject to change" %}</p>

            <div class="row mt-3 border-bottom_grey">
              <div class="col-12 col-sm-8 p-3 py-4">
                <p class="font-size-18 font-weight-500"> {% translate "Introduction and welcome" %}</p>
              </div>
              <div class="col-12 col-sm-4 p-3 py-4">
                <p class="font-weight-500" ><span class="speaker-ico"></span>{% translate "Speaker:" %} Jérôme CHENAL</p>
              </div>
            </div>
            <div class="row border-bottom_grey">
              <div class="col-12 col-sm-8 p-3 py-4">
                <!--div class="meta-badge">{% translate "10.00 - 10.40 AM" %}</div-->
                <p class="font-size-18 font-weight-500"><span class="text_primary font-size-14">[FR]</span> {% translate "Is there an urban youth? A reflection in the Maghreb context" %}</p>
              </div>
              <div class="col-12 col-sm-4 p-3 py-4">
                <p class="font-weight-500" ><span class="speaker-ico"></span>{% translate "Speaker:" %} Pr. Johannes Frische</p>

              </div>
            </div>
            <div class="row border-bottom_grey">
              <div class="col-12 col-sm-8 p-3 py-4">
                <!--div class="meta-badge">{% translate "10.40 - 11.00 AM" %}</div-->
                <p class="font-size-18 font-weight-500"><span class="text_primary font-size-14">[EN]</span>  {% translate "Challenging Cities: Young Men, Masculinity and Violence" %}</p>
              </div>
              <div class="col-12 col-sm-4 p-3 py-4">
                <p class="font-weight-500" ><span class="speaker-ico"></span>{% translate "Speaker:" %} Pr. Deevia Bhana </p>
                <small>{% translate "DSI/NRF South African Research Chair in Gender and Childhood Sexuality." %}</small>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-sm-8 p-3 py-4">
                <div class="meta-badge">{% translate "QUESTIONS & DISCUSSION" %}</div>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-12 col-sm-8 p-3 py-4">
                <p class="font-weight-500 font-size-16" ><span class="moderator-ico"></span>{% translate "Moderator:" %} Dr Seddik DARAI</p>
              </div>
            </div>

            <span class="text_primary">* </span>{% translate "FR ===> French language session" %}; <span class="text_primary">* </span>{% translate "EN ===> English language session" %}

          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="event-speakers py-5">
    <div class="container-fluid position-relative pb-5">

      <h3 class="section-title mb-3">{% translate "Speakers" %}</h3>

      <div class="row event-speakers__list py-5">

        <div class="col-lg-3 col-md-4 speakers-card">
          <div class="card border-0 bg-transparent">
            <div class="card-header p-0">
                <a href="#speaker_modal_1" type="button" class="d-block" data-bs-toggle="modal" data-bs-target="#speaker_modal_1">
                    <img class="speaker-avatar" src="{% static 'images/assets/webinar-2/Pr. Deevia Bhana.jpg' %}">

                    <div class="speaker-hover-content">
                      <img class="pb-5" src="{% static 'images/assets/icon-plus-circle.svg' %}" width="50" height="50">
                      <ul class="speakers-social-lists list-inline p-0 mb-0">

                      </ul>
                    </div>
                </a>
            </div>
            <div class="card-body border-0">
              <h4 class="speaker-title">Pr. Deevia Bhana</h4>
              <p class="speaker-designation">
                {% translate "DSI/NRF South African Research Chair in Gender and Childhood Sexuality." %}
              </p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="speaker_modal_1" tabindex="-1" aria-labelledby="speaker_modal_1" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body pb-5">
                    <div class="row">
                      <div class="col-lg-4 col-md-7">
                        <div class="mdl-speaker-avatar">
                          <img src="{% static 'images/assets/webinar-2/Pr. Deevia Bhana.jpg' %}" alt="Pr. Deevia Bhana">
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="mdl-speaker-details p-3">
                          <h2>Pr. Deevia Bhana</h2>

                          <p class="my-2">{% translate "DSI/NRF South African Research Chair in Gender and Childhood Sexuality." %}</p>

                          <ul class="mdl-speaker-social-list list-inline m-0">
                            <li class="list-inline-item"></li>
                          </ul>

                          <span class="xs-hr-line"></span>

                          <p>
                            {% blocktranslate %}
                            Deevia Bhana is the DSI/NRF South African Research Chair in Gender and Childhood Sexuality. She has written extensively on the
                            experience of gender and sexuality in the young life course bringing a broad interdisciplinary social science lens to understanding how
                            gender and sexuality is experienced by children and young people and the implications thereof for addressing violence, sex education
                            and sexual health interventions. Her distinctive contributions and impact are reflected in several international keynotes, invited talks
                            and her active role in science engagement. She collaborates with researchers across the social sciences including Women and Gender
                            Studies, Anthropology, Sociology and Education. Her publications, include 11 books, and over 147 book chapters and articles in peer-
                            reviewed journals. Her work appears in leading journals such as AIDS Education &amp; Prevention; British Educational Research Journal;
                            British Journal of Sociology of Education; Gender &amp; Education; International Journal of Educational Development; International
                            Journal of Inclusive Education; Journal of Southern African Studies; Sexualities; Social Science and Medicine, Youth Studies.
                            {% endblocktranslate %}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 speakers-card">
          <div class="card border-0 bg-transparent">
            <div class="card-header p-0">
                <a href="#speaker_modal_2" type="button" class="d-block" data-bs-toggle="modal" data-bs-target="#speaker_modal_2">
                    <img class="speaker-avatar" src="{% static 'images/assets/event/Tarik Akdim.jpeg' %}">

                    <div class="speaker-hover-content">
                      <img class="pb-5" src="{% static 'images/assets/icon-plus-circle.svg' %}" width="50" height="50">
                      <ul class="speakers-social-lists list-inline p-0 mb-0">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/akdim-tariq-57b27393/?originalSubdomain=ma">
                          <i class="fab fa-linkedin-in"></i></a>
                        </li>
                      </ul>
                    </div>
                </a>
            </div>
            <div class="card-body border-0">
              <h4 class="speaker-title">Mr. Tariq AKDIM</h4>
              <p class="speaker-designation">
                {% translate "Doctoral student, Researcher at UIT Ibn Tofail, president of the LOGOS club, economist expert in territorial development and associate professor at SupMTI Rabat." %}
              </p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="speaker_modal_2" tabindex="-1" aria-labelledby="speaker_modal_3" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body pb-5">
                    <div class="row">
                      <div class="col-lg-4 col-md-7">
                        <div class="mdl-speaker-avatar">
                          <img src="{% static 'images/assets/event/Tarik Akdim.jpeg' %}" alt="Mr. Tariq AKDIM">
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="mdl-speaker-details p-3">
                          <h2>Mr. Tariq AKDIM</h2>

                          <p class="my-2">{% translate "Doctoral student, Researcher at UIT Ibn Tofail, president of the LOGOS club, economist expert in territorial development and associate professor at SupMTI Rabat." %}</p>

                          <ul class="mdl-speaker-social-list list-inline m-0">
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/akdim-tariq-57b27393/?originalSubdomain=ma">
                              <i class="fab fa-linkedin-in"></i></a>
                            </li>
                          </ul>

                          <span class="xs-hr-line"></span>

                          <p>
                            {% blocktranslate %}
                            Tariq AKDIM, is a territorial economist, researcher, strategy and development policy consultant. Teacher of economic policy, social innovation and research culture in several higher institutes in Rabat and President of the LOGOS think club. He is also Editorial Director of the ADRAR VOICE Review.
                            He was a lecturer at AlAkhawayn University in Ifrane. Currently, his research interests focus on development models and dynamics of the territories, territorial resilience and socio-spatial disparities. He is a columnist and executive in the Territorial Development Support Directorate.
                            Tariq AKDIM published his first book in August 2018, entitled "Metropolitan Areas, Territories and Regional Project in Morocco".
                            {% endblocktranslate %}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="my-5 text-center">
        <a class="btn btn__primary btn__big" href="{% url 'webinar-registration' %}">
          {% translate "Register now" %}
        </a>
      </div>
    </div>
  </section>

{% endblock content %}
