{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}

{% block title %}
    {% translate "How to build resilient African Cities?" %} - African Cities Lab
{% endblock title %}
{% block meta_tag_description %}
  <meta name="description" content="{% translate "On November 24, 2022, African Cities Lab, Sèmè City and the Center of Urban Systems of Mohammed VI Polytechnic University will organise a webinar on the theme: How to build resilient African Cities?." %}" />
{% endblock %}

{% block static_meta_tag %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "How to build resilient African Cities?" %} - African Cities Lab{% endif %}">
<meta name="twitter:description" content="{% translate "On November 24, 2022, African Cities Lab, Sèmè City and the Center of Urban Systems of Mohammed VI Polytechnic University will organise a webinar on the theme: How to build resilient African Cities?." %}">
<meta name="twitter:site" content="@AfricanCtiesLab" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />

<meta property="og:title" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "How to build resilient African Cities?" %} - African Cities Lab{% endif %}" />
<meta property="og:description" content="{% translate "On November 24, 2022, African Cities Lab, Sèmè City and the Center of Urban Systems of Mohammed VI Polytechnic University will organise a webinar on the theme: How to build resilient African Cities?." %}" />
<meta property="og:site_name" content="African Cities Lab" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />

<meta itemprop="name" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "How to build resilient African Cities?" %} - African Cities Lab{% endif %}">
<meta itemprop='description' content="{% translate "On November 24, 2022, African Cities Lab, Sèmè City and the Center of Urban Systems of Mohammed VI Polytechnic University will organise a webinar on the theme: How to build resilient African Cities?." %}" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    #single-event {
      background-image: linear-gradient(285deg, rgba(64, 39, 129,0.1) 15%, rgba(64, 39, 129,1) 100%),
        url({% static 'images/assets/webinar-3/how-to-build-africa-green-cities-face-a-number-of-constraints.jpeg' %});
    }
    #video_player .btn-close{
      color: #fff;
      background: unset;
    }

  </style>
{% endblock css %}

{% block content %}


  <section id="single-event">
    <div class="container-lg">
      <div class="row align-item-center">
        <div class="col-12 col-lg-10 col-xl-8">
          <div class="meta-badge bg-transparent" style="border: 1px solid #fff">{% translate "Webinar" %}</div>

          <h1 class="pt-3 font-size-3-50em">
            {% blocktranslate %}
            How to build resilient African Cities?
            {% endblocktranslate %}
          </h1>

          <div class="row">
            <div class="col-12 col-md-4 mt-3">
              <div class="d-inline-flex align-items-start">
                <img width="50" height="33" src="{% static 'images/assets/big-pointer.svg' %}">
                <div class="font-size-18 d-inline-block font-weight-bold px-3">
                  {% blocktranslate %}
                    November 24 <br>2022
                  {% endblocktranslate %}
                </div>
              </div>
              <div class="mt-3 d-inline-flex">
                <img width="12" height="30" src="{% static 'images/assets/small-pointer.svg' %}">
                <span class="font-size-18 font-weight-500 p-3">{% translate "Online" %}</span>
              </div>
            </div>

            <div class="col-12 col-md-8 mt-3 d-none d-md-block">
              <div class="row my-3">
                <div class="col-12 col-md-4 d-flex align-items-start">
                  <img width="12" height="30" src="{% static 'images/assets/small-pointer.svg' %}">
                  <div class="font-size-16 font-weight-500 px-3 d-inline-block">
                    {% blocktranslate %}
                    10AM | 12PM <br>
                    GMT + 1
                    {% endblocktranslate %}
                  </div>
                </div>
                <div class="col-12 col-md-8">
                  <span class="font-size-18 font-weight-bold">{% translate "Session I:" %}</span>
                  <p class="font-size-16">
                    {% blocktranslate %}
                    Digital Technologies for Urban Resilience in Africa
                    {% endblocktranslate %}
                  </p>
                </div>
              </div>
              <div class="row my-3">
                <div class="col-12 col-md-4 d-flex align-items-start">
                  <img width="12" height="30" src="{% static 'images/assets/small-pointer.svg' %}">
                  <div class="font-size-16 font-weight-500 px-3 d-inline-block">
                    {% blocktranslate %}
                    3PM | 5PM <br>
                    GMT + 1
                    {% endblocktranslate %}
                  </div>
                </div>
                <div class="col-12 col-md-8">
                  <span class="font-size-18 font-weight-bold">{% translate "Session II:" %}</span>
                  <p class="font-size-16">
                    {% blocktranslate %}
                    Environmental impact of cities
                    {% endblocktranslate %}
                  </p>
                </div>
              </div>
            </div>

          </div>

          <!--div class="my-5">
            <a href="{% url 'webinar-registration' %}" class="btn btn__primary btn__small">
              {% translate "Register now" %}
            </a>
          </div-->
        </div>
      </div>
    </div>
  </section>

  <section class="pt-5">
    <div class="container-fluid">
      <div class="row py-md-5">
        <div class="col-12 col-lg-11">
          <div class="event-overview font-size-16">
            <h3 class="section-title mb-3">{% translate "Overview" %}</h3>
            <div class="text-justify">
                <p>
                {% blocktranslate %}
                A future planet will have 80&#37; of the global population living in densely packed cities. According to the OECD, 
                African cities are expected to house an additional 950 million people by 2050. With cities housing more than 
                half of the world's population, urban areas will play a critical role to fight against climate change. 
                This need is reinforced by the release of the third part of the sixth: The Intergovernmental Panel on Climate 
                Change - IPCC report, which places Africa among the regions with the fastest urban growth and calls for a 
                profound transformation of cities to deal with climate change and its consequences.
                {% endblocktranslate %}
                </p>
                <p>
                {% blocktranslate %}
                With many African cities already struggling to meet basic human needs, development and climate challenges are increasingly 
                becoming urban issues. The ability to shift from business as usual to a more transformative approach is critical to the 
                development of sustainable cities. However, researchers and policy makers need to be more concerned about the future of 
                African cities by helping municipal governments, private and public investors, and donors make informed decisions 
                about urban planning and policy.
                {% endblocktranslate %}
                </p>
                <p>
                {% blocktranslate %}
                Join us for a live discussion with global experts on the most recent research and thinking on resilient cities. 
                Our webinar will broaden the discussion on priority topics that contribute to the successful development of African cities 
                and make cities more sustainable and resilient.
                {% endblocktranslate %}
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="event-agenda acl-section-pattern">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-11">

          <h3 class="section-title">{% translate "On the agenda" %}</h3>

          <ul class="nav nav-tabs" id="agenda-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="one-tab" data-bs-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="true">
                  <h4>{% translate "Session I" %}</h4>
                  <span>{% translate "10am - 12pm" %}</span> GMT+1
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="two-tab" data-bs-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false">
                  <h4>{% translate "Session II" %}</h4>
                  <span>{% translate "3pm - 5pm" %}</span> GMT+1
              </a>
            </li>
          </ul>

          <div class="tab-content" id="agenda-content">
            <div class="tab-pane p-md-4 fade show active" id="one" role="tabpanel" aria-labelledby="one-tab">

              <img class="d-none d-md-inline-block" width="12" height="30" src="{% static 'images/assets/small-pointer.svg' %}">
              <div class="h5 d-inline-block px-2 py-4">{% translate "Digital Technologies for Urban Resilience in Africa" %}</div>

              <div>
                <h6 class="d-inline-block">{% translate "Language:" %}</h6>
                <span>{% translate "French session" %}</span>
              </div>

              <div class="row mt-3 border-bottom_grey">
                <div class="col-12 col-sm-8 p-3 py-4">
                  <p class="font-size-18 font-weight-500"> {% translate "Opening Statement" %}</p>
                </div>
                <div class="col-12 col-sm-4 p-3 py-4">
                  <p class="font-weight-500" ><span class="speaker-ico"></span>{% translate "Speaker:" %} Dr. Jérôme CHENAL</p>
                </div>
              </div>
              <div class="row border-bottom_grey">
                <div class="col-12 col-sm-8 p-3 py-4">
                  <!--div class="meta-badge"></div-->
                  <p class="font-size-18 font-weight-500"> {% translate "How to combat traffic congestion & pollution for future sustainable cities?" %}</p>
                </div>
                <div class="col-12 col-sm-4 p-3 py-4">
                  <!--p class="font-weight-500" ><span class="speaker-ico"></span>{% translate "Speaker:" %} </p-->
                  <!--small>
                    
                  </small-->
                </div>
              </div>
              <div class="row border-bottom_grey">
                <div class="col-12 col-sm-8 p-3 py-4">
                  <!--div class="meta-badge"></div-->
                  <p class="font-size-18 font-weight-500"> {% translate "The role of Data hub in building resilient cities" %}</p>
                </div>
                <div class="col-12 col-sm-4 p-3 py-4">
                  <!--p class="font-weight-500" ><span class="speaker-ico"></span>{% translate "Speaker:" %} </p-->
                  <!--small></small-->
                </div>
              </div>
              <div class="row border-bottom_grey">
                <div class="col-12 col-sm-8 p-3 py-4">
                  <!--div class="meta-badge"></div-->
                  <p class="font-size-18 font-weight-500"> {% translate "Digital Transport for Africa is part of Urban Mobility" %}</p>
                </div>
                <div class="col-12 col-sm-4 p-3 py-4">
                  <p class="font-weight-500" ><span class="speaker-ico"></span>{% translate "Speaker:" %} Rob De Jong</p>
                  <!--small></small-->
                </div>
              </div>
              <div class="row border-bottom_grey">
                <div class="col-12 col-sm-8 p-3 py-4">
                  <!--div class="meta-badge"></div-->
                  <p class="font-size-18 font-weight-500"> {% translate "The impact of digital economic development on carbon productivity" %}</p>
                </div>
                <div class="col-12 col-sm-4 p-3 py-4">
                  <!--p class="font-weight-500" ><span class="speaker-ico"></span>{% translate "Speaker:" %} </p-->
                  <!--small></small-->
                </div>
              </div>
              <div class="row border-bottom_grey">
                <div class="col-12 col-sm-8 p-3 py-4">
                  <div class="meta-badge">{% translate "QUESTIONS & DISCUSSION" %}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-8 py-4 p-3">
                  <!--p class="font-weight-500 font-size-16" ><span class="moderator-ico"></span>{% translate "Moderator:" %} </p-->
                </div>
              </div>
            </div>

            <div class="tab-pane p-md-4 fade" id="two" role="tabpanel" aria-labelledby="two-tab">

              <img class="d-none d-md-inline-block" width="12" height="30" src="{% static 'images/assets/small-pointer.svg' %}">
              <div class="h5 d-inline-block px-2 py-4">{% translate "Environmental impact of cities" %}</div>

              <div>
                <h6 class="d-inline-block">{% translate "Language:" %}</h6>
                <span>{% translate "English session" %}</span>
              </div>

              <div class="row mt-3 border-bottom_grey">
                <div class="col-12 col-sm-8 p-3 py-4">
                  <!--div class="meta-badge"></div-->
                  <p class="font-size-18 font-weight-500"> {% translate "Street transformations, Biodiversity," %}</p>
                </div>
                <div class="col-12 col-sm-4 py-4 p-3">
                  <p class="font-weight-500" ><span class="speaker-ico"></span>{% translate "Speaker:" %} Nadine Kuhla Von Bergmann</p>
                  <!--small></small-->
                </div>
              </div>
              <div class="row border-bottom_grey">
                <div class="col-12 col-sm-8 p-3 py-4">
                  <!--div class="meta-badge"></div-->
                  <p class="font-size-18 font-weight-500"> {% translate "Cities for forest: the relation between cities and forests " %}</p>
                </div>
                <div class="col-12 col-sm-4 py-4 p-3">
                  <p class="font-weight-500" ><span class="speaker-ico"></span>{% translate "Speaker:" %} Johan Mottelson </p>
                  <!--small></small-->
                </div>
              </div>
              <div class="row border-bottom_grey">
                <div class="col-12 col-sm-8 py-4 p-3">
                  <!--div class="meta-badge"></div-->
                  <p class="font-size-18 font-weight-500"> {% translate "Sustainable energy in Africa" %}</p>
                </div>
                <div class="col-12 col-sm-4 py-4 p-3">
                  <!--p class="font-weight-500" ><span class="speaker-ico"></span>{% translate "Speaker:" %} </p-->
                  <!--small></small-->
                </div>
              </div>
              <div class="row border-bottom_grey">
                <div class="col-12 col-sm-8 py-4 p-3">
                  <!--div class="meta-badge"></div-->
                  <p class="font-size-18 font-weight-500"> {% translate "Nature will be an integral part of cities in the future" %}</p>
                </div>
                <div class="col-12 col-sm-4 py-4 p-3">
                  <!--p class="font-weight-500" ><span class="speaker-ico"></span>{% translate "Speaker:" %} </p-->
                  <!--small></small-->
                </div>
              </div>
              <div class="row border-bottom_grey">
                <div class="col-12 col-sm-8 py-4 p-3">
                  <div class="meta-badge">{% translate "QUESTIONS & DISCUSSION" %}</div>
                </div>
              </div>
              <div class="row mt-3 border-bottom_grey">
                <div class="col-12 col-sm-8 p-3 py-4">
                  <p class="font-size-18 font-weight-500"> {% translate "Closing statement" %}</p>
                </div>
                <div class="col-12 col-sm-4 p-3 py-4">
                  <p class="font-weight-500" ><span class="speaker-ico"></span>{% translate "Speaker:" %} Dr. Jérôme CHENAL</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-8 py-4 p-3">
                  <!--p class="font-weight-500 font-size-16" ><span class="moderator-ico"></span>{% translate "Moderator:" %} </p-->
                </div>
              </div>

            </div>
          </div>

          <p class="font-size-18">**{% translate "This agenda is the object of modification" %}</p>
        
        </div>
      </div>
    </div>
  </section>

  <section class="event-speakers py-5">
    <div class="container-fluid position-relative pb-5">

      <h3 class="section-title mb-3">{% translate "Speakers" %}</h3>

      <div class="row event-speakers__list py-3">

        <p class="font-size-18 py-3">{% translate "To be announced very soon" %}</p>
        
      </div>

      <div class="my-5 text-center">
        <!--a class="btn btn__primary btn__big" href="{% url 'webinar-registration' %}">
          {% translate "Register now" %}
        </a-->
      </div>
    </div>
  </section>

{% endblock content %}
