@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");

body {
  color: #606060;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

a {
  color: #527fb9;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus {
  text-decoration: none;
}

a:focus,
a:hover {
  color: #ec1c23;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0 none;
}

a,
button,
input {
  outline: medium none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button,
input {
  color: #606060;
}

label {
  font-size: 15px;
  font-weight: 400;
  color: #606060;
}

*::-moz-selection {
  background: #b3d4fc;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  color: #fff;
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
  color: #fff;
}

p {
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container h6,
.content-container ul {
  margin-bottom: 1rem;
}

footer ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #969696;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #969696;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #969696;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #969696;
}

input,
select,
textarea {
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

hr.thick {
  height: 5px;
}

.section-divider {
  background-color: #be3712 !important;
}

/*----------------------------------------*/
/*  Navbar and Header CSS
/*----------------------------------------*/
.masthead {
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.masthead .intro-text {
  font-family: "Open Sans", sans-serif;
  padding-top: 250px;
  padding-bottom: 200px;
}

.masthead a {
  color: #a7cdfd;
}

.masthead a:hover {
  color: #ec1c23;
}

.search-btn {
  background-color: #be3712 !important;
}

.navbar {
  font-family: "Open Sans", sans-serif;
}

#main-nav {
  background-color: #be3712 !important;
}

.navbar-toggler {
  color: #be3712;
}

.nav-bar-hr {
  color: white;
}

@media screen and (min-width: 991px) {
  .nav-bar-hr {
    display: none;
  }

  .fixed-top-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

.language-select {
  color: #666;
  cursor: pointer;
  text-align: center;
}

/*----------------------------------------*/
/*  Contents CSS
/*----------------------------------------*/
@media screen and (max-width: 768px) {
  .content-container {
    margin-top: 0% !important;
  }
}

/*----------------------------------------*/
/*  Latest Courses CSS
/*----------------------------------------*/
.section-title h2 {
  font-size: 30px;
  color: #0e0e0e;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.section-title > img {
  margin-bottom: 2px;
}

.courses-container {
  max-width: 90% !important;
}

.course-content {
  padding: 22px 30px 25px;
  text-align: left;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}

.course-img img {
  width: 100%;
}

.course-content h3 {
  font-size: 22px;
  color: #303030;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
}

.course-content p {
  font-size: 14px;
  color: #606060;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.course-content .default-btn {
  font-size: 14px;
  padding: 9px 16px;
  transition: all 0.5s ease 0s;
}

.course-content .default-btn:hover {
  background: #2c2b5e;
  color: #fff;
}

.course-img {
  position: relative;
}

.course-img a {
  display: block;
  line-height: 0;
  position: relative;
}

.course-img a:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(236, 28, 35, 0.3);
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.course-hover,
.blog-hover {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  opacity: 0;
  transform: translate(-50% -50%);
  margin: auto;
  z-index: 1;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.course-hover i {
  color: #fff;
  font-size: 20px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.course-img a:hover::after,
.course-img:hover .course-hover {
  opacity: 1;
}

.single-course {
  transform: scaleY(0.9) !important;
  transition: 0.3s;
}

.latest-courses:hover .single-course {
  opacity: 0.75 !important;
  transform: scaleY(0.9) !important;
}

.latest-courses .single-course:hover {
  opacity: 1 !important;
  /* transform: scaleY(1.1) !important; */
  transform: scaleX(1.1) !important;
  /* transform-origin: bottom !important; */
  /* height: 120% !important; */
}

.course-content {
  background: #fff;
}

/*----------------------------------------*/
/*  Partners CSS
/*----------------------------------------*/

.partner-container {
  position: relative;
  text-align: center;
  color: white;
}

.partner-bottom-left {
  position: absolute;
  bottom: 8px;
  left: 30px;
}

.partner-gradient {
  position: relative;
  display: inline-block;
}

.partner-gradient:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0.65)),
    color-stop(100%, rgba(0, 0, 0, 0))
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgb(185 0 0 / 0%) 0%,
    rgb(159 0 0 / 0%) 50%,
    rgb(205 0 0 / 96%) 100%
  );
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
}

/*----------------------------------------*/
/*  News CSS
/*----------------------------------------*/
.single-blog {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}

.blog-img {
  line-height: 0;
  position: relative;
}

.blog-img a:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(236, 28, 35, 0.5);
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.blog-img img {
  width: 100%;
}

.blog-title:hover {
  color: red !important;
}

.blog-hover i {
  color: #fff;
  font-size: 20px;
  z-index: 1;
  opacity: 0;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.blog-img:hover .blog-hover {
  opacity: 1;
}

.blog-img:hover .link-icon {
  opacity: 1;
}

.blog-img > a,
.single-post-img a {
  display: block;
  line-height: 0;
}

/*----------------------------------------*/
/*  Footer CSS
/*----------------------------------------*/
.main-footer {
  background-color: #be3712 !important;
  padding-bottom: 104px;
  padding-top: 117px;
}

.footer-area.three .main-footer {
  padding-bottom: 50px;
}

.footer-area.two .main-footer {
  padding-top: 85px;
  padding-bottom: 60px;
}

.single-widget h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  margin-bottom: 30px;
  position: relative;
}

.single-widget h3::after {
  background: #ffffff none repeat scroll 0 0;
  bottom: -10px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 57px;
}

.single-widget h3::before {
  background: #ffffff none repeat scroll 0 0;
  bottom: -13px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 45px;
}

.single-widget p {
  color: #cacaca;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 15px;
}

.single-widget ul {
  margin-top: 25px;
}

.footer-social ul li {
  display: inline-block;
  margin-right: 13px;
}

.footer-social ul li:last-child {
  margin-right: 0px;
}

.single-widget ul li {
  color: #cacaca;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.footer-social ul li a {
  border: 1px solid #dadada;
  color: #cacaca;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 26px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.footer-area.two .footer-social ul li a {
  border: 1px solid #7a7a93;
  color: #c7c7c7;
}

.footer-social ul li:hover a,
.footer-area.two .footer-social ul li:hover a {
  border: 1px solid #ffffff;
  background: #ffffff;
  color: #be3712 !important;
}

.single-widget ul li:last-child {
  margin-right: 0px;
}

.footer-bottom p {
  color: #c7c7c7;
  font-size: 14px;
  line-height: 60px;
  margin-bottom: 2px;
  font-family: "Open Sans", sans-serif;
}

.footer-area.three .footer-bottom.two p {
  line-height: 48px;
  margin-bottom: 0;
}

.footer-area.three .footer-bottom.two .footer-social ul {
  padding: 15px 0 15px;
}

.footer-bottom p a {
  color: #fff;
  font-weight: 600;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.footer-bottom p a:hover {
  text-decoration: underline;
}

.main-footer .col-md-3:last-child {
  padding-left: 75px;
}

.footer-bottom .footer-social ul {
  padding: 17px 0 15px;
}

.single-widget.instagram a {
  position: relative;
  line-height: 0;
}

.single-widget.instagram a:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  content: "";
  background: rgba(236, 28, 35, 0.5) none repeat scroll 0 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.single-widget.instagram a:hover::after,
.single-widget.instagram a:hover i {
  opacity: 1;
}

.single-widget.instagram a i {
  position: absolute;
  z-index: 1;
  color: #fff;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.footer-link:hover {
  text-decoration: underline;
}
