{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block body %}
    <div class="container content-container py-5 mt-5">
        <h1>{% translate "About" %}</h1>
        <h2>{% translate "African Cities Lab presentation" %}</h2>
        <p>
            {% blocktranslate %}Contributing to sustainable urban development in Africa through an education tool by Africa, for Africa.{% endblocktranslate %}
        </p>
        <h3>{% translate "Vision" %}</h3>
        <p>
            {% blocktranslate %}Create a higher education ecosystem bringing together universities and professionals in the field, with a view to sustainable and resilient urban development.{% endblocktranslate %}
        </p>
        <h3>{% translate "Description" %}</h3>
        <p>
            {% blocktranslate %}The overall objective of the project is to create an African digital education Platform on urban development, offering quality MOOCs and online, continuing education training for professionals. It will also act as a forum for the exchange of digital educational resources and the management and governance of African cities to foster sustainable urban development.{% endblocktranslate %}
        </p>
        <p>
            {% blocktranslate %}Anchored on African soil, initially under the supervision of EPFL, the Platform will gather leading universities in the Anglophone and Francophone regions in order to create a network of institutions in digital education and have impact on the entire continent. African Cities Lab (ACL) is a joint initiative led by EPFL,{% endblocktranslate %}
        </p>
        <ul>
            <li>
                {% blocktranslate %}the <a href="https://www.knust.edu.gh">Kwame Nkrumah University of Science and Technology (Ghana)</a>,{% endblocktranslate %}
            </li>
            <li>
                {% blocktranslate %}the <a href="https://www.um6p.ma/en">Mohammed VI Polytechnic University (Maroc)</a>,{% endblocktranslate %}
            </li>
            <li>
                {% blocktranslate %}the <a href="https://semecity.bj/en">Sèmè City campus (Benin)</a>,{% endblocktranslate %}
            </li>
            <li>
                {% blocktranslate %}the <a href="http://www.ucar.rnu.tn">University of Carthage (Tunisia)</a>,{% endblocktranslate %}
            </li>
            <li>
                {% blocktranslate %}the <a href="https://www.uct.ac.za">University of Cape Town (South Africa)</a>, and{% endblocktranslate %}
            </li>
            <li>
                {% blocktranslate %}the <a href="https://ur.ac.rw">University of Rwanda</a>{% endblocktranslate %}
            </li>
        </ul>
        <p>
            {% blocktranslate %}to contribute to sustainable urban development on the continent.{% endblocktranslate %}
        </p>
        <p>
            {% blocktranslate %}The initiative, funded by the <a href="https://seco.admin.ch/seco/en/home.html">Swiss State Secretariat for Economic Affairs (SECO)</a>, aims to create a digital education platform and its content on urban planning and urban development in Africa. The English-French bilingual ACL platform based on open edX and hosted by the partners in Africa, will offer quality MOOCs and online training for professionals. It will also act as a forum for the exchange of digital educational resources and the management and governance of African cities.{% endblocktranslate %}
        </p>
    </div>
{% endblock body %}
