{% extends "base.html" %}
{% load static i18n wagtailcore_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% else %}
        {{ self.title }}
    {% endif %}
{% endblock title %}
{% block css %}
    {{ block.super }}
    <style>
        .page-banner__right { 
            background-image: linear-gradient(rgba(191, 55, 18, 0.4),rgba(191, 55, 18, 0.4)), url({% static 'images/assets/bg-pattern.png' %});
        } 
        .acl-conference {
            background-image: url({% static 'images/assets/conference-bg.jpg' %});
        }
    </style>
{% endblock css %}

{% block content %}

    <section class="page-banner__area"> 
        <div class="container-fluid position-relative">
            <div class="row justify-content-center justify-content-lg-between align-item-center">
                <div class="col-lg-7 p-lg-5 align-self-center"> 
                    <p class="font-weight-bold font-size-2-45em">{% translate "By 2050, African cities will be home to " %}
                        <span class="text_primary">{% translate "2.5 billion people" %}</span>.
                    </p>
                    <p class="font-size-18 pt-3">
                        <span class="font-weight-bold h1">{% translate "700 million" %}</span> {% translate "new homes" %}, 
                        <span class="font-weight-bold h1">{% translate "300,000 schools" %} </span> 
                        {% translate "and almost" %}  <span class="font-weight-bold h1">{% translate "100 million" %}</span> {% translate "health centers remain to be built." %}
                    </p>    
                    <div class="banner-angle__left"> 
                        <img class="d-none d-lg-block" src="{% static 'images/assets/banner-angle-left.svg' %}">
                    </div>

                </div>
                <div class="col-lg-5 d-none d-lg-block page-banner__right"></div>
            </div>
        </div> 
    </section>

    <section class="p-lg-5 position-relative">
        <!--div class="acl-sharpes red-left__sharpe">
            <img class="d-none d-lg-block" src="{% static 'images/assets/red-sharpe-left.svg' %}">
        </div-->  
        <div class="container-fluid pt-5">
            <div class="row justify-content-around">
                <div class="col-12 col-md-3 col-lg-4">
                    <img src="{% static 'images/assets/building.png' %}">
                </div>
                <div class="col-12 col-md-9 col-lg-8 pt-5 p-lg-5">

                    <h2 class="section-title mb-3">{% translate "Our Mission" %}</h2>

                    <h3 class="text_primary">{% translate "Training new generations of actors to build the African cities of the future" %}</h3>
                    <p class="py-3 font-size-18 text-justify">
                        {% blocktranslate %}
                        We deeply believe that the challenge of building sustainable African cities 
                        that offer the population quality access to essential services essential 
                        services will not be achieved without an adequate training of the actors 
                        of the African city of tomorrow. This is why we have created the largest 
                        online learning platform learning platform on the theme of urban and sustainable 
                        development in Africa.
                        {% endblocktranslate %} 
                    </p> 

                    <div class="banner-counter row justify-content-center justify-content-md-between text-center mt-5">
                        <div class="stats-item col-md-4 col-lg-3 mt-3">
                            <h3 class="stats-title">
                                <span>+ </span><span class="counter" >5000</span>
                            </h3>
                            <span class="banner-counter-title font-size-18">{% translate "Professionals trained in 2024" %}</span>
                        </div>
                        <div class="stats-item col-md-4 col-lg-3 mt-3">
                            <h3 class="stats-title">
                                <span class="counter">13</span>
                            </h3>
                            <span class="banner-counter-title font-size-18">{% translate "Moocs released in 2023" %}</span>
                        </div> 
                        <div class="stats-item col-md-4 col-lg-3 mt-3">
                            <h3 class="stats-title">
                                <span class="counter">6</span>
                            </h3>
                            <span class="banner-counter-title font-size-18">{% translate "African university partners" %}</span>
                        </div>  
                    </div> 
                 </div> 
            </div> 
        </div>
    </section> 


    <section class="py-5">
        <div class="container p-md-5">
             <div class="row d-flex justify-content-center">
                 <div class="col-12 col-lg-10 text-center"> 
                     <h3 class="section-title">{% translate "The ACL Platform" %}</h3>

                     <div class="font-size-18 py-3 text-align-left__max-576">
                        {% blocktranslate %}
                        The African Cities Lab e-learning platform is accessible from French and 
                        English-speaking Africa. It allows all actors involved in the construction, 
                        development and operation of urban areas to access quality educational content
                        on sustainable urbanization to meet the challenges of African cities of 2050.
                        {% endblocktranslate %} 
                     </div>
                 </div>
             </div> 
        </div>

        <div class="container-xl pb-5">
             <div class="row justify-content-lg-center">
                 <div class="col-12 col-md-6 col-lg-4 platform-feature__card">
                     <div class="card"> 
                         <div class="card-body">  
                             <h3 class="feature-card__title text_primary py-3" >
                                {% translate "The MOOCs" %}
                             </h3>
                             <p class="feature-card__exerpt">
                                {% blocktranslate %}
                                It is an online course offer, accessible free of charge, which addresses 
                                the issues of urban space planning in all its aspects. The courses offered 
                                on the platform are divided into thirteen (13) themes and taught by experts 
                                from universities in six (6) French and English-speaking African countries.
                                {% endblocktranslate %} 
                             </p>
                         </div> 
                     </div> 
                 </div>
                 <div class="col-12 col-md-6 col-lg-4 platform-feature__card">
                     <div class="card"> 
                         <div class="card-body">  
                             <h3 class="feature-card__title text_primary py-3">
                                {% translate "Online training courses" %}
                             </h3>
                             <p class="feature-card__exerpt">
                                {% blocktranslate %}
                                These are in-depth courses, intended for a public of experts with with the 
                                objective of improving the professional practices of the actors actors involved 
                                in the construction of African cities of today and tomorrow. of today and tomorrow.
                                {% endblocktranslate %} 
                             </p>
                         </div> 
                     </div> 
                 </div>
                 <div class="col-12 col-md-6 col-lg-4 platform-feature__card">
                     <div class="card"> 
                         <div class="card-body">  
                             <h3 class="feature-card__title text_primary py-3">
                                {% translate "Hybrid training courses" %}
                             </h3>
                             <p class="feature-card__exerpt">
                                 
                             </p>
                         </div> 
                     </div> 
                 </div> 
             </div> 
        </div>
    </section>

    <section class="acl-conference">  
   
        <div class="img-overlay__leftToRight"></div>

        <div class="acl-sharpes top-right__sharpe">
            <img class="d-none d-lg-block" src="{% static 'images/assets/sharpe-triange__.svg' %}">
        </div> 

        <div class="container position-relative">
            <div class="row  p-3 py-5 p-md-5">
                <div class="col-12 col-lg-8 pt-lg-3">
                    <h3 class="section-title">
                        {% translate "The International Conference of African Cities (ICAC)" %}
                    </h3>
                    <div class="font-size-18 py-3">
                        {% blocktranslate %}
                        African digital cities are presented as a rational response to future demographic projections.
                        Challenging the current vision of cities in Africa Digital cities seem to be major players in 
                        the urbanization of Africa. African Cities Lab creates the "International Conference on African 
                        Cities (ICAC) - Digital Cities Cities", a major event that aims to increase the scope and 
                        influence of research and research and entrepreneurial activities on the African continent 
                        related to the digitization of cities, as well as to promote scientific excellence in Africa. 
                        The first edition will take place in 2023 and will be held in Cotonou, Benin.
                        {% endblocktranslate %}
                    </div>
                </div>
            </div>
        </div> 
    </section>

    <section> 
        <div class="container p-lg-5">
            <div class="row d-flex justify-content-center pt-5">
                <div class="col-12 col-md-10 text-center"> 
                    <h3 class="section-title">{% translate "African Cities Lab Webinars" %}</h3>

                    <div class="py-3 font-size-18 text-justify">
                        {% blocktranslate %}
                        Through a series of 3 webinars, the partners of the African Cities Lab project, 
                        led by EPFL, are setting the table for the political and scientific dialogue in 
                        the run-up to the Cotonou conference in 2023. The objective is to discuss the 
                        major themes that make up the African digital city in order to set the framework 
                        for political and scientific debate. This webinar series will present research, 
                        trends cases and critical insights on how cities are or could be more effective 
                        in harnessing effective in leveraging digital to achieve the ODD locally.
                        {% endblocktranslate %} 
                    </div>
                    <div class="my-5 text-center">
                        <a href="{% url 'events' %}" class="btn btn__primary btn__small btn-arrow">
                            {% translate "Participate to the 1st webinar" %}<i class="fas fa-arrow-right mx-2"></i>
                        </a> 
                    </div>
                </div>
            </div> 
        </div>
    </section>

     <!-- Start Partners Area-->
     <section class="our-partners">
        {% include "home/parts/partners_section.html" %}
    </section>
    <!-- End Partners Area -->
    
{% endblock content %}