{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% elif self.title %}
        {{ self.title }}
    {% else %}
        {% translate "Contact" %}
    {% endif %}
{% endblock title %}
{% block css %}
    {{ block.super }}
    <style>
        .page-hero__container{
            background-image: linear-gradient(rgba(191, 55, 18, 0.4),rgba(191, 55, 18, 0.4)) ,url({% static 'images/assets/bg-pattern.png' %});
        }
    </style>
{% endblock css %}

{% block content %}

    <!-- Page banner area-->
    <section class="page-hero__container">
        {% include "home/parts/page_header.html" with page_title=self.title %} 
    </section>
    <!-- End Page banner area -->

    <section class="py-5">
        <div class="container p-md-5">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-4">  
                    <div class="font-size-18">
                        {{ page.body|richtext }}
                    </div>

                    <div class="social-media__wrapper">
                        <h3 class="mt-5">{% translate "Follow us on" %}</h3>
                        <ul class="list-inline my-3">
                            <li class="list-inline-item mx-2"><a  href="https://twitter.com/AfricanCtiesLab" class="text_primary"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item mx-2"><a href="https://www.linkedin.com/company/african-cities-lab/?viewAsMember=true" class="text_primary"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item mx-2"><a href="https://www.facebook.com/African-Cities-Lab-103073095772023" class="text_primary"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item mx-2"><a href="https://instagram.com/africancitieslab?igshid=YmMyMTA2M2Y=" class="text_primary"><i class="fab fa-instagram"></i></a></li>
                            <li class="list-inline-item mx-2"><a href="https://medium.com/@African_Cities_Lab" class="text_primary"><i class="fab fa-medium-m"></i></a></li>
                            <li class="list-inline-item mx-2"><a href="https://www.youtube.com/channel/UC22_61it3OdPBNj3CwkndUA" class="text_primary"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>  
                </div>

                <div class="col-12 col-lg-6 px-md-5">  
                    <form action="{% pageurl page %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>{% translate "Your Full name" %}</label>
                            <input type="text" class="form-control">
                        </div>  
                        <div class="form-group">
                            <label>{% translate "E-mail" %}</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>{% translate "Subject" %}</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>{% translate "Your Message" %}</label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn__primary btn__small">{% translate "Submit" %}</button>
                        </div>
                    </form> 
                </div>
            </div> 
        </div>
    </section>

     <!-- Start Partners Area-->
     <section class="our-partners">
        {% include "home/parts/partners_section.html" %}
    </section>
    <!-- End Partners Area -->
    
{% endblock content %}
