{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block body %}
    <div class="container content-container py-5 mt-5">
        <h1>{% translate "Online courses" %}</h1>
        <p>
            {% blocktranslate %}The first African Cities Lab courses will be available the first semester of 2023.{% endblocktranslate %}
        </p>
        <h2>{% translate "Themes" %}</h2>
        <h2>{% translate "Institutions" %}</h2>
        <h2>{% translate "Languages" %}</h2>
        <h2>{% translate "Speakers" %}</h2>
    </div>
{% endblock body %}
