{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% else %}
        {{ self.title }}
    {% endif %}
{% endblock title %} 
{% block content %}

    <section id="single-event">  
        <div class="post-hero__container">  
            <div class="container-fluid">
                <div class="row align-items-lg-center justify-content-center justify-content-lg-between">
                    <div class="col-12 col-lg-5 py-5 px-3 text-white">
                        <h1 class="event-title"> {{ self.title }} </h1> 

                        <div class="event-desc">
                            <p class="event-datetime pb-4">
                                <span>{{ page.event_date }}</span> {{ page.event_time }} GMT
                            </p>  
                            <p class="event-location"> {{ page.event_location }} </p>
                        </div>
                        <div class="mt-5">
                            <a href="#event-form__view" class="btn btn__primary btn__small btn-arrow">
                                {% translate "Register now" %}<i class="fas fa-arrow-right mx-2"></i>
                            </a>
                        </div>
                    </div> 
                    <div class="col-12 col-lg-7 p-4 pl-lg-8rem">
                        {% image page.preview_image original class="event-thumbail" %} 
                    </div> 
                </div>  
            </div>
        </div>

        <div class="container p-3 p-md-5">
            <div class="row justify-content-center justify-content-lg-between">
                <div class="post-content__body col-12 col-lg-6"> 
                    {{ page.body|richtext }}
                </div>

                <div id="event-form__view" class="col-12 col-lg-5 p-5"> 
                 <div class="card">
                     <div class="card-header bg-white p-lg-4">
                         <h4>{% translate "Register for the webinar" %}</h4>
                     </div>
                     <div class="card-body p-lg-4">
                         <form> 
                             <div class="form-group">
                                 <label>{% translate "Full name" %}</label>
                                 <input type="text" class="form-control">
                             </div>
                             <div class="form-group">
                                 <label>{% translate "Job Title" %}</label>
                                 <input type="text" class="form-control">
                             </div>
                             <div class="form-group">
                                 <label>{% translate "Email" %}</label>
                                 <input type="email" class="form-control">
                             </div>
                             <div class="form-group">
                                 <label>{% translate "Phone" %}</label>
                                 <input type="tel" class="form-control">
                             </div>
                             <div class="form-group">
                                 <label>{% translate "Country" %}</label>
                                 <input type="text" class="form-control">
                             </div>
                             <div class="mt-lg-3"> 
                                 <button type="submit" class="btn btn__primary btn__small">{% translate "Submit" %}</button>
                             </div>
                         </form>
                     </div>
                 </div>
             </div>
            </div> 
        </div>
    </section>

    <!-- Start Partners Area-->
    <section class="our-partners">
        {% include "home/parts/partners_section.html" %}
    </section>
    <!-- End Partners Area -->

{% endblock content %}
