{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
  {% if self.seo_title %}
    {{ self.seo_title }}
  {% elif self.title %}
    {{ title }}
  {% endif %}
{% endblock title %} 
{% block css %}
    {{ block.super }}
    <style>
        .page-banner__right { 
            background-image: linear-gradient(rgba(191, 55, 18,0.65),rgba(191, 55, 18, 0.7)), url({% static 'images/assets/bg-pattern.png' %});
        }  
    </style>
{% endblock css %}

{% block content %}

    
  <section id="single-event" class="page-banner__area"> 
    <div class="row justify-content-between align-item-center">
      <div class="home-banner__left pt-5"> 
        <div class="meta-badge">{% translate "Webinar" %}</div>

        <h1 class="event-title"> {% translate "Integration of artificial intelligence in the development of smart cities in Africa" %} </h1> 

        <div class="event-desc">
            <p class="event-datetime __black-ico pb-3">
                <span>{% translate "5 July 2022" %}</span> {% translate "10am - 4pm" %} GMT +1
            </p>  
            <p class="event-location __black-ico">{% translate "Online" %}</p>
        </div>
        <div class="mt-4">
            <a href="{% url 'subscribe' %}" class="btn btn__primary btn__small btn-arrow">
                {% translate "Register now" %}<i class="fas fa-arrow-right mx-2"></i>
            </a>
        </div>
      </div>
      <div class="page-banner__right">
          <div class="d-none d-lg-block banner-angle__left"> 
              <img class="d-none d-lg-block" src="{% static 'images/assets/banner-angle-left.svg' %}">
          </div>
      </div> 
    </div> 
  </section>

  <section>  
    <div class="container p-lg-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-10">  
              <div class="event-overview font-size-18">
                <h3 class="section-title text-center mb-3">{% translate "Overview" %}</h3>
                <div>
                  {% blocktranslate %}
                    In the era of new technologies, the growth of African cities will be not only sustainable but also smart.
                    The rapid urban growth represents one of the greatest challenges of the 21st century in Africa.
                    In the time where a new paradigm of urban development is taking place, but where intrinsic challenges remain, the role of digital tools and smart cities as key urban development actors in Africa is yet to be established.
                    The application systems of Artificial Intelligence (AI) are presented as a tool to address future demographic projections and the inability of the public sector to respond alone structurally to a strong augmentation of the demand for infrastructure and urban housing services.
                    In this webinar, you will discover:
                  {% endblocktranslate %} 
                </div>
                
                <ul class="py-4">
                  <li>{% translate "the data availability for AI in African cities" %}</li>
                  <li>{% translate "the applications of AI in the different aspects of the city" %}</li>
                  <li>{% translate "the best practices in the implementation of AI in Africa" %}</li>
                </ul>
              </div>

              <div class="event-speakers py-5">
                <h3 class="section-title text-center mb-3">{% translate "Speakers" %}</h3>

                <div class="row event-speakers__list">

                  <div class="col-12 col-md-6 speakers-card">
                      <div class="card border-0"> 
                          <div class="card-header py-4 border-0 bg-white"> 
                              <img src="{% static 'images/assets/event/Anastasija_Nikiforova.png' %}"> 
                          </div> 
                          <div class="card-body">
                              <h5 class="speakers-name">
                                Anastasija Nikiforova
                              </h5>
                              <div class="speakers-title my-3">
                                {% translate "Researcher , PhD in Computer Science – Data Processing Systems and Data Networking" %}
                              </div> 
                              <div class="speakers-function"> 
                                {% blocktranslate %}
                                Assistant professor of Information Systems at University of Tartu (Institute of Computer Science), 
                                a part of European Open Science Cloud Task Force FAIR Metrics and Data Quality and a visiting 
                                researcher at Delft University of Technology, Faculty Technology Policy and Management. 
                                Expert of the COST – European Cooperation in Science & Technology, as well as Latvian Council 
                                of Sciences in Natural Sciences – Computer Science and Informatics, Engineering and Technology-Electrical 
                                Engineering, Electronics, Information and Communication Technologies (ICT), and Social Sciences – Economics and Business.
                                {% endblocktranslate %} 
                              </div>
                          </div> 
                          <div class="card-footer bg-white border-0">
                            <a href="https://www.linkedin.com/in/anastasija-nikiforova-466b99b3/" class="text_primary"><i class="fab fa-linkedin-in"></i></a>
                          </div> 
                      </div>
                  </div>
                  
                  <div class="col-12 col-md-6 speakers-card">
                    <div class="card border-0"> 
                        <div class="card-header py-4 border-0 bg-white"> 
                            <img src="{% static 'images/assets/event/Constant CAP.jpg' %}"> 
                        </div> 
                        <div class="card-body">
                            <h5 class="speakers-name">
                              Constant CAP 
                            </h5>
                            <div class="speakers-title my-3">
                              {% translate "Senior Product Manager at Code for Africa’s Africa.Sensors environmental monitoring program." %}
                            </div> 
                            <div class="speakers-function"> 
                              {% blocktranslate %}
                              He has a Master degree in Urban and Regional Planning from the University of Nairobi, Kenya and an undergraduate Education degree in Geography and Mathematics from the same. He is a Graduate Member of the Town and County Planners Association of Kenya  and a member of the International Society of Urban and Regional Planners (ISOCARP). He has previously worked at the Strathmore University Advancement Office and as the Executive Director of Kilimani Project Foundation.
                              {% endblocktranslate %} 
                            </div>
                        </div> 
                        <div class="card-footer bg-white border-0">
                          <a href="https://www.linkedin.com/in/constantcap/" class="text_primary"><i class="fab fa-linkedin-in"></i></a>
                        </div> 
                    </div>  
                  </div>

                  <div class="col-12 col-md-6 speakers-card">
                    <div class="card border-0"> 
                      <div class="card-header py-4 border-0 bg-white"> 
                          <img src="{% static 'images/assets/event/Dr. Oualid-Ali.jpg' %}"> 
                      </div> 
                      <div class="card-body">
                          <h5 class="speakers-name">
                            Oualid Ali
                          </h5>
                          <div class="speakers-title my-3">
                            {% translate "Founder and President at the Future Cities Council" %}
                          </div> 
                          <div class="speakers-function"> 
                            {% blocktranslate %}
                            He's a futurist, technologist, future cities expert, and considered as one of the international well-recognized experts in the fields of Future foresight, Scenarios planning, Trends watching, Emerging technologies & innovations, Industrial Revolution 4.0, Future cities (Smart, Sustainable and innovative Cities), Education 4.0, Artificial Intelligence (AI), etc.
                            {% endblocktranslate %} 
                          </div>
                      </div> 
                      <div class="card-footer bg-white border-0">
                        <a href="https://www.linkedin.com/in/dr-oualid-ali-490809106/?originalSubdomain=ca" class="text_primary">
                          <i class="fab fa-linkedin-in"></i>
                        </a>
                      </div> 
                  </div>  
                </div>

                <div class="col-12 col-md-6 speakers-card">
                  <div class="card border-0"> 
                    <div class="card-header py-4 border-0 bg-white"> 
                        <img src="{% static 'images/assets/event/Willy Franck SOB.jpg' %}"> 
                    </div> 
                    <div class="card-body">
                        <h5 class="speakers-name">
                          Willy Franck SOB
                        </h5>
                        <div class="speakers-title my-3">
                          {% translate "Founder GeOsm Family - The First Open Geospatial Knowledge Infrastructure" %}
                        </div> 
                        <div class="speakers-function"> 
                          {% blocktranslate %}
                          Graduated in 2013 from the school of surveyors in Le Mans (France). He is the promoter of GeOsm (https://geo.sm/) the very first geolocated social network aimed at players in the digital ecosystem in order to achieve sustainable development through open innovation. Recently deployed on a global scale, this open platform for technological innovations aims to accelerate the appropriation of geospatial data by those actors who depend heavily on it (startups, universities, municipalities, civil society). His expertise is recognized by several international institutions where he regularly works as a consultant. These include: The World Bank, GIZ, UNESCO, UN-Habitat, AFD, etc.
                          {% endblocktranslate %} 
                        </div>
                    </div> 
                    <div class="card-footer bg-white border-0">
                      <a href="https://www.linkedin.com/in/willy-franck-sob-b400bb85/" class="text_primary"><i class="fab fa-linkedin-in"></i></a>
                    </div> 
                  </div>
                </div>

              </div>

              <!--div class="event-agenda font-size-18">
                <h3 class="section-title text-center mb-3">{% translate "On the agenda" %}</h3>

                <div></div>
              </div-->

              <div class="my-5 text-center">
                <p class="pt-5">
                  <a class="btn btn__primary btn__big" href="{% url 'subscribe' %}" role="button">
                    {% translate "Register now" %}
                  </a>
                </p> 
              </div> 
            </div> 
         </div>
        </div> 
    </div>
</section>

<!-- Start Partners Area-->
  <section class="our-partners">
    {% include "home/parts/partners_section.html" %}
  </section>
<!-- End Partners Area -->

{% endblock content %}
