{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% elif self.title %}
        {{ self.title }}
    {% else %}
        {% translate "Events" %}
    {% endif %}
{% endblock title %}
{% block css %}
    {{ block.super }}
    <style>
        .page-hero__container{
            background-image: linear-gradient(rgba(191, 55, 18, 0.4),rgba(191, 55, 18, 0.4)) ,url({% static 'images/assets/bg-pattern.png' %});
        }
    </style>
{% endblock css %}

{% block content %}

    <!-- Page banner area-->
    <section class="page-hero__container">
        {% include "home/parts/page_header.html" with page_title=self.title %}
    </section>
    <!-- End Page banner area -->

    <section class="upcoming-events">

        <div class="container-lg p-md-5">

            <ul class="events-listing-list">
                {% for event in page.localized.get_children %} 

                <li class="events-listing__item">

                    <a href="{% pageurl event %}" class="d-block">

                        <div class="events-listing__logo"> 
                            {% image event.specific.preview_image original %} 
                        </div>

                        <div class="events-listing__desc">

                            <h2 class="event-title">{{ event.title }}</h2>
                            
                            <p class="event-date py-2 text-black">{{ event.specific.event_date }}</p>

                            <p class="event-location text-black font-weight-700">{{ event.specific.event_location }}</p>
                            
                            <div class="event-summary pt-3 text-black">{{ event.specific.summary }}</div>
                        </div>
                    </a> 
                </li>
                {% empty %}
                    <div class="col-12 my-5">
                        <div class="row justify-content-center">
                            <div class="nothing-to-show h1">
                                {% translate "nothing" %}<br>
                                {% translate "to" %}<br>
                                {% translate "show" %}
                                <span class="dash-accent"></span>
                            </div>  
                        </div> 
                    </div>
                {% endfor %} 
            </ul> 
        </div>
    </section>

    <!-- Start Partners Area-->
    <section class="our-partners">
        {% include "home/parts/partners_section.html" %}
    </section>
    <!-- End Partners Area -->

{% endblock content %}
