{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% elif self.title %}
        {{ self.title }}
    {% else %}
        {% translate "Events" %} - African Cities Lab
    {% endif %}
{% endblock title %}

{% block static_meta_tag %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Events" %} - African Cities Lab{% endif %}">
<meta name="twitter:description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}">
<meta name="twitter:site" content="@AfricanCtiesLab" />
<meta name="twitter:image" content="{% static 'images/assets/acl-logo-square256x256.png' %}">

<meta property="og:title" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Events" %} - African Cities Lab{% endif %}" />
<meta property="og:description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
<meta property="og:site_name" content="African Cities Lab" />
<meta property="og:image" content="{% static 'images/assets/acl-logo-square256x256.png' %}" />

<meta itemprop="name" content=" {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Events" %} - African Cities Lab{% endif %}">
<meta itemprop='description' content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
<meta itemprop='image' content="{% static 'images/assets/acl-logo-square256x256.png' %}" />
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .page-hero__container{
      background-image: linear-gradient(rgba(191, 55, 18, 0.4),rgba(191, 55, 18, 0.4)) ,url({% static 'images/assets/bg-pattern.png' %});
    }
    .page-banner__right {
      background-image: url({% static 'images/assets/konza-city.jpg' %});
    }
  </style>
{% endblock css %}

{% block content %}

  <section class="page-banner__area bg_primary">
    <div class="row justify-content-between align-item-center">
        <div class="page-banner__left align-self-center">
            <h1 class="page-hero__title text-white">{% translate "Webinars" %}</h1>
        </div>
        <div class="page-banner__right">
            <div class="d-none d-lg-block banner-angle__left">
                <img class="d-none d-lg-block" src="{% static 'images/assets/banner-red-angle-left.svg' %}">
            </div>
        </div>
    </div>
  </section>

  <section class="upcoming-events">

    <div class="container-xl p-md-5">

        <ul class="events-listing-list">

          <li class="events-listing__item">

            <a href="{% url 'how-to-build-resilient-african-cities' %}" class="d-block">

                <div class="events-listing__logo"> 
                  <img src="{% static 'images/assets/webinar-3/how-to-build-africa-green-cities-face-a-number-of-constraints.jpeg' %}">
                </div>

                <div class="events-listing__desc"> 

                    <h2 class="event-title"> {% translate "How to build resilient African Cities in response to climate change?" %}</h2>
                    
                    <p class="event-date py-2 font-size-16 font-weight-500 text_primary">{% translate "November 24, 2022" %}</p>

                    <p class="event-location text-black font-size-16 font-weight-500">{% translate "Online" %}</p>
                    
                    <div class="event-summary py-3 text-black">
                      {% blocktranslate %}
                      Our planet will host 80&#37; of the global population living in densely packed cities. According to the OECD, 
                      African cities are expected to house an additional 950 million people by 2050. With cities housing more than 
                      half of the world's population, urban areas will play a critical role to fight against climate change. 
                      This need is reinforced by the release of the third part of the sixth: The Intergovernmental Panel on Climate 
                      Change - IPCC report, which places Africa among the regions with the fastest urban growth and calls for a 
                      profound transformation of cities to deal with climate change and its consequences.
                      {% endblocktranslate %}
                    </div>

                    <a class="text_link" href="{% url 'how-to-build-resilient-african-cities' %}"> {% translate "Learn more" %}</a>
                </div>
            </a> 
          </li>

            <li class="events-listing__item">

              <a href="{% url 'african-cities-what-role-for-the-youth' %}" class="d-block">

                  <div class="events-listing__logo"> 
                    <img src="{% static 'images/assets/webinar-2/african-cities-what-role-for-the-youth.jpeg' %}">
                  </div>

                  <div class="events-listing__desc"> 

                      <h2 class="event-title"> {% translate "African Cities: What role for the youth?" %}</h2>
                      
                      <p class="event-date py-2 font-size-16 font-weight-500 text_primary">{% translate "October 11, 2022" %}</p>

                      <p class="event-location text-black font-size-16 font-weight-500">{% translate "Online" %}</p>
                      
                      <div class="event-summary py-3 text-black">
                        {% blocktranslate %}
                        By 2050, 35&#37; of the world's population will be young and African, compared to 15&#37; in 2000. 
                        The accelerated urbanisation that Africa has experienced in recent years goes along with an increase 
                        in the youngest part of its population, bringing new challenges to the cities. 
                        Today, 60&#37; of the African population is under the age of 24. This peculiarity of the African continent 
                        is an essential fact to be taken into account in urban planning.
                        {% endblocktranslate %}
                      </div>

                      <a class="text_link" href="{% url 'african-cities-what-role-for-the-youth' %}"> {% translate "Learn more" %}</a>
                  </div>
              </a> 
            </li>
            
            <li class="events-listing__item">

                <a href="{% url 'integration-of-open-data-and-artificial-intelligence-in-the-development-of-smart-cities-in-Africa' %}" class="d-block">

                    <div class="events-listing__logo"> 
                      <img src="{% static 'images/assets/integration-of-open-data-and-artificial-intelligence-in-the-development-of-smart-cities-in-Africa.jpg' %}">
                    </div>

                    <div class="events-listing__desc">

                        <h2 class="event-title">{% translate "Integration of open data and artificial intelligence in the development of smart cities in Africa" %}</h2>
                        
                        <p class="event-date py-2 font-size-16 font-weight-500 text_primary">{% translate "July 5, 2022" %}</p>

                        <p class="event-location text-black font-size-16 font-weight-500">{% translate "Online" %}</p>
                        
                        <div class="event-summary py-3 text-black">  
                          {% blocktranslate %}
                              In the era of new technologies, the growth of African cities will not only be sustainable but also smart.
                              The rapid urban growth represents one of the greatest challenges of the 21st century in Africa.
                              A new paradigm of urban development is taking place, where intrinsic challenges remain....
                          {% endblocktranslate %}
                        </div>

                        <a class="text_link" href=""> {% translate "Learn more" %}</a>
                    </div>
                </a> 
            </li>
            
        </ul> 
    </div>
  </section>



  <!-- Start Partners Area-->
    <section class="our-partners">
      {% include "home/parts/partners_section.html" %}
    </section>
  <!-- End Partners Area -->

{% endblock content %}
