{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container content-container py-5 mt-5">
        <h1>{% translate "Get involved" %}</h1>
        <h2>{% translate "Events" %}</h2>
        <p>
            {% blocktranslate %}To come{% endblocktranslate %}
        </p>
        <h2>{% translate "Calls for proposal" %}</h2>
        <p>
            {% blocktranslate %}CLOSED - call for projects to produce MOOCs on African cities and urban development {% endblocktranslate %}
        </p>
        <p>
            <a href="https://www.epfl.ch/research/domains/exaf/acl_call_proposals/">
                https://www.epfl.ch/research/domains/exaf/acl_call_proposals/
            </a>
        </p>
        <h2>{% translate "Careers" %}</h2>
        <p>
            {% blocktranslate %}Working for the project African Cities Lab means being part of an innovative initiative with prestigious partners across the African continent.{% endblocktranslate %}
        </p>
        <p>
            {% blocktranslate %}*put the list of jobs with title and location*{% endblocktranslate %}
        </p>
        <ul>
            <li>{% blocktranslate %}Lausanne, Switzerland{% endblocktranslate %}</li>
            <li>{% blocktranslate %}Cotonou, Benin.{% endblocktranslate %}</li>
        </ul>
    </div>
{% endblock content %}
