{% extends "base.html" %}
{% load home_tags i18n static wagtailcore_tags wagtailimages_tags %}
{% block css %}
    {{ block.super }}
    <style>
     header.masthead{
         background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)) ,url({% static 'images/assets/header_bg.jpg' %});
     }
    </style>
{% endblock css %}
{% block content %}
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 mx-auto position-relative">
                                <p class="mb-2 text-uppercase h1 text-white">
                                    <strong>{% translate "Welcome to African Cities Lab" %}</strong>
                                </p>
                                <p class="mb-3 text-white">
                                    {% translate "Explore a collection of courses on urban development offered by African Universities" %}
                                </p>
                            </div>
                            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative">
                                <form disabled>
                                    <div class="row">
                                        <div class="col-12 col-md-9 mb-2 mb-md-0 px-0">
                                            <input class="form-control form-control-lg rounded-0"
                                                   type="text"
                                                   placeholder="{% translate 'EX: Architecture specialization' %}"/>
                                        </div>
                                        <div class="col-12 col-md-3 px-0">
                                            <button class="col-12 btn search-btn btn-lg float-start rounded-0 text-white"
                                                    type="submit">
                                                {% translate "Search" %}
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Start Courses Area -->
    <div class="py-5 text-center bg-light" id="courses">
        <div class="container courses-container">
            <div class="col-12 d-flex justify-content-center mb-4">
                <div class="col-1 d-flex justify-content-center bg-light rounded-pill opacity-100">
                    <hr class="col-10 section-divider my-0 rounded-pill opacity-100 thick" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="section-title mb-3">
                        <h2>{% translate "African cities lab Courses" %}</h2>
                        {% comment %}
                            <h6 class="mt-2">{% translate "Check the latest courses" %}</h6>
                        {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 my-3">
                    <p>
                        {% translate "Coming soon..." %}
                    </p>
                </div>
            </div>
            {% comment %}
                <div class="col-12 my-3 text-end">
                    <a class="btn btn-primary rounded-pill opacity-75" href="{% url 'courses' %}">{% translate "View all courses" %}</a>
                </div>
            {% endcomment %}
        </div>
    </div>
    <!-- End Courses Area -->
    <hr class="m-0" />
    <!-- Start Partners Area-->
    <div class="text-center py-5 bg-light" id="partners">
        <div class="container">
            <div class="col-12 d-flex justify-content-center mb-4">
                <div class="col-1 d-flex justify-content-center bg-light rounded-pill opacity-100">
                    <hr class="col-10 section-divider my-0 rounded-pill opacity-100 thick" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="section-title mb-5">
                        <h2>{% translate "Partners" %}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% static "images/assets/partners/epfl.png" as epfl_logo_path %}
                {% include "home/partner.html" with url="https://epfl.ch" img_path=epfl_logo_path full_name="École Polytechnique Fédérale de Lausanne" %}
                {% static "images/assets/partners/um6p.png" as um6p_logo_path %}
                {% include "home/partner.html" with url="https://um6p.ma" img_path=um6p_logo_path full_name="Université Mohammed VI Polytechnique" %}
                {% static "images/assets/partners/knust.png" as knust_logo_path %}
                {% include "home/partner.html" with url="https://www.knust.edu.gh" img_path=knust_logo_path full_name="Université des sciences et technologies Kwame Nkrumah" %}
                {% static "images/assets/partners/semecity.png" as semecity_logo_path %}
                {% include "home/partner.html" with url="https://semecity.bj/en" img_path=semecity_logo_path full_name="Sèmè City" %}
                {% static "images/assets/partners/ucar.png" as ucar_logo_path %}
                {% include "home/partner.html" with url="http://www.ucar.rnu.tn" img_path=ucar_logo_path full_name="Université de Carthage" %}
                {% static "images/assets/partners/uct.png" as uct_logo_path %}
                {% include "home/partner.html" with url="https://www.uct.ac.za" img_path=uct_logo_path full_name="Université de Cape Town" %}
                {% static "images/assets/partners/ur.png" as ur_logo_path %}
                {% include "home/partner.html" with url="https://ur.ac.rw" img_path=ur_logo_path full_name="Université du Rwanda" %}
            </div>
        </div>
    </div>
    <!-- End Partners Area -->
    <!-- Start News Section -->
    <section class="text-center section-ptb py-5" id="news">
        <div class="container">
            <div class="col-12 d-flex justify-content-center mb-4">
                <div class="col-1 d-flex justify-content-center bg-light rounded-pill opacity-100">
                    <hr class="col-10 section-divider my-0 rounded-pill opacity-100 thick" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="section-title mb-3">
                        <h2>{% translate "News" %}</h2>
                        <h6 class="mt-2">{% translate "Latest News" %}</h6>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                {% for new in news %}
                    <div class="col-md-6 mb-2">
                        <div class="single-blog">
                            <div class="row p-3">
                                <div class="col-lg-5 col-md-12">
                                    <div class="blog-img">
                                        <a href="{{ new.url }}" class="position-relative">
                                            {% image new.main_image original class="article-image" %}
                                            <div class="article-pub-date bg-warning text-center py-3">
                                                <h5 class="mb-0 text-white">{{ new.date|date:"d" }}</h5>
                                                <p class="mb-0 text-white">
                                                    {{ new.date|date:"M" }}
                                                </p>
                                            </div>
                                        </a>
                                        <div class="blog-hover">
                                            <a href="{{ new.url }}">
                                                <i class="fa fa-link link-icon"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 mt-3">
                                    <a href="{{ new.url }}">
                                        <h5 class="text-black blog-title text-start">{{ new.title }}</h5>
                                    </a>
                                    <p class="text-start mt-1">
                                        {{ new.summary }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12 my-3">
                        <p>
                            {% translate "Coming soon..." %}
                        </p>
                    </div>
                {% endfor %}
            </div>
            <div class="col-12 mb-3 mt-3 view-all-button">
                <a class="btn btn-primary rounded-pill opacity-75"
                   href="{% localized_slugurl 'news' %}">
                    {% translate "View all Posts" %}
                </a>
            </div>
        </div>
    </section>
    <!-- End News Section -->
{% endblock content %}
