{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% else %}
        {{ self.title }}
    {% endif %}
{% endblock title %}
{% block css %}
    {{ block.super }}
    {% image page.main_image original as tmp_photo %}
    <style>
        .page-header-section{
            background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) ,url({{ tmp_photo.url }});
        }
    </style>
{% endblock css %}
{% block content %}
    <section class="page-header-section">
        <div class="page-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-white text-center">
                            <p class="mt-5 h1 font-weight-bold text-white">
                                {{ self.title }}
                            </p>
                            <div class="mt-3">
                                <p class="text-white">
                                    <a class="text-white" href="{% url 'home' %}">{% translate "Home" %}</a>
                                    -  {{ page.get_parent.title }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container content-container py-5">
        <div class="col-12 d-flex justify-content-center">
            <div class="col-1 d-flex justify-content-center bg-light rounded-pill opacity-100">
                <hr class="col-10 section-divider my-0 rounded-pill opacity-100 thick" />
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-10 col-12 px-0">
                <figure class="figure mb-0">
                    {% image page.main_image original class="img-fluid" %}
                </figure>
                <p class="lead p-4 bg-dark text-white">
                    {{ page.summary }}
                </p>
            </div>
            <div class="col-lg-10 col-12">
                <p class="text-muted fst-italic">
                    {{ page.date }}
                </p>
                <hr />
                {% for block in page.body %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
