{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% elif self.title %}
        {{ self.title }}
    {% else %}
        {% translate "Contact" %} - African Cities Lab
    {% endif %} 
{% endblock title %}
{% block css %}
  {{ block.super }}
  <style>
    .page-hero__container{
      background-image: linear-gradient(rgba(191, 55, 18, 0.4),rgba(191, 55, 18, 0.4)) ,url({% static 'images/assets/bg-pattern.png' %});
    }
    .page-banner__right { 
        background-image: url({% static 'images/assets/acl-contact-banner.jpg' %});
    } 
  </style>
{% endblock css %}

{% block hellobar %}
    <div class="hellobar d-none">
        <span class="content-hellobar">
            <span class="badge-hellobar">{% translate "Webinar" %}</span> 

            {% translate "Integration of open data and artificial intelligence in the development of smart cities in Africa." %}  

            <a class="link-hellobar mx-2 font-weight-bold text-white" href="{% url 'subscribe' %}">{% translate "Register now" %}<i class="fas fa-arrow-right mx-2"></i></a>
        </span>
        <span id="close_hellobar"><a href="#">+</a></span>
    </div> 
{% endblock hellobar %} 

{% block content %}

  <!-- Page banner area
  <section class="page-hero__container">
    <div class="container p-md-5">
        <div class="row px-lg-5 pt-5 align-items-end">
            <div class="col">
                <h1 class="page-hero__title">{% translate "Contact" %}</h1> 
            </div>
        </div>
    </div>  
    <div class="page-hero__shape">
        <img src="{% static "images/assets/sharpe-on-hero.svg" %}"> 
    </div>  
  </section>
  < End Page banner area -->

    <section class="page-banner__area bg_primary"> 
        <div class="row justify-content-between align-item-center">
            <div class="page-banner__left align-self-center"> 
                <h1 class="page-hero__title text-white">{% translate "Contact" %}</h1> 
            </div>
            <div class="page-banner__right">
                <div class="d-none d-lg-block banner-angle__left"> 
                    <img class="d-none d-lg-block" src="{% static 'images/assets/banner-red-angle-left.svg' %}">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container p-md-5">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">  
                    <h3 class="section-title text-center">{% translate "We’re here to help" %}</h3>
                    <div class="text-center font-size-18 mb-5">{% translate "Please contact us in case of any query. We are happy to help" %}.</div> 

                    <div class="row justify-content-around">
                        <div class="col-12 col-lg-5 col-md-6 icon-box box_shadow_level_1 m-4">
                            <div class="card"> 
                                <div class="card-body">
                                    <div class="icon-box__title">
                                        <h5 class="pb-3">{% translate "Email Us To Get Information" %}</h5>
                                    </div> 
                                    <div class="icon-box__desc font-size-16">
                                        <a class="d-block text_primary mb-2" href="mailto:info@africancitieslab.org">
                                            <strong>info@africancitieslab.org</strong>
                                        </a>
                                        <a class="d-block text_primary" href="mailto:contact@africancitieslab.org">
                                            <strong>contact@africancitieslab.org</strong>
                                        </a>
                                    </div>  
                                </div> 
                            </div>    
                        </div> 
                        <div class="col-12 col-lg-5 col-md-6 icon-box box_shadow_level_1 m-4">
                            <div class="card"> 
                                <div class="card-body">
                                    <div class="icon-box__title">
                                        <h5>{% translate "Follow us on" %}</h5>
                                    </div> 
                                    <div class="icon-box__desc social-media__wrapper">
                                        <ul class="list-inline my-3">
                                            <li class="list-inline-item mx-2"><a  href="https://twitter.com/AfricanCtiesLab" class="text_primary"><i class="fab fa-twitter"></i></a></li>
                                            <li class="list-inline-item mx-2"><a href="https://www.linkedin.com/company/african-cities-lab/?viewAsMember=true" class="text_primary"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li class="list-inline-item mx-2"><a href="https://www.facebook.com/African-Cities-Lab-103073095772023" class="text_primary"><i class="fab fa-facebook-f"></i></a></li>
                                            <li class="list-inline-item mx-2"><a href="https://instagram.com/africancitieslab?igshid=YmMyMTA2M2Y=" class="text_primary"><i class="fab fa-instagram"></i></a></li>
                                            <li class="list-inline-item mx-2"><a href="https://medium.com/@African_Cities_Lab" class="text_primary"><i class="fab fa-medium-m"></i></a></li>
                                            <li class="list-inline-item mx-2"><a href="https://www.youtube.com/channel/UC22_61it3OdPBNj3CwkndUA" class="text_primary"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>  
                                </div> 
                            </div>    
                        </div> 
                    <div>
                </div>  
            </div> 
        </div>
    </section>

  <!-- Start Partners Area-->
  <section class="our-partners">
    {% include "home/parts/partners_section.html" %}
  </section>
  <!-- End Partners Area -->

{% endblock content %}
