{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}
{% block title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% elif self.title %}
        {{ self.title }}
    {% else %}
        {% translate "Events" %} - African Cities Lab
    {% endif %} 
{% endblock title %}
{% block meta_tag_description %}
  <meta name="description" content="{% translate 'On July 5, 2022, African Cities Lab, Sèmè City and the Center of Urban Systems of Mohammed VI Polytechnic University will organise a webinar on the theme: Integration of open data and artificial intelligence in the development of smart cities in Africa.' %}" />
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .page-hero__container{
      background-image: linear-gradient(rgba(191, 55, 18, 0.4),rgba(191, 55, 18, 0.4)) ,url({% static 'images/assets/bg-pattern.png' %});
    }
    .page-banner__right { 
      background-image: url({% static 'images/assets/konza-city.jpg' %});
    } 
  </style>
{% endblock css %}

{% block content %}

  <!-- Page banner area
  <section class="page-hero__container">
    {% include "home/parts/page_header.html" with page_title=title %}
  </section>
  <End Page banner area -->

  <section class="page-banner__area bg_primary"> 
      <div class="row justify-content-between align-item-center">
          <div class="page-banner__left align-self-center"> 
              <h1 class="page-hero__title text-white">{% translate "Events" %}</h1> 
          </div>
          <div class="page-banner__right">
              <div class="d-none d-lg-block banner-angle__left"> 
                  <img class="d-none d-lg-block" src="{% static 'images/assets/banner-red-angle-left.svg' %}">
              </div>
          </div>
      </div>
  </section>

  <section class="upcoming-events">

    <div class="container-lg p-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-8 text-center"> 
            <h3 class="section-title mb-3">{% translate "Register to the webinar" %}</h3> 
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <!-- message if email is sent -->
            {% if messages %}
            {% for message in messages %}
              <div class="my-5 alert alert-success">
                <h5 class="m-0">
                  {{ message }}
                </h5>
              </div>
            {% endfor %}
          {% endif %}

          <form action="{% url 'subscribe' %}" method="post">
            {% csrf_token %}
            <div class="form-group" required="required">
              <label>{% translate "Last name" %}</label>
              <input type="text" name="LNAME" class="form-control">
            </div>
            <div class="form-group" required="required">
              <label>{% translate "First name" %}</label>
              <input type="text" name="FNAME" class="form-control">
            </div>
            <div class="form-group" required="required">
              <label>{% translate "Email" %}</label>
              <input type="email" name="EMAIL" class="form-control">
            </div>
            <div class="form-group">
              <label>{% translate "Institution" %}</label>
              <input type="text" name="INSTITUT" class="form-control">
            </div>
            <div class="form-group">
              <label>{% translate "Function" %}</label>
              <input type="text" name="FUNCTION" class="form-control">
            </div>
            <div class="form-group">
              <label>{% translate "Title" %}</label>
              <input type="text" name="TITLE" class="form-control">
            </div>
            <div class="form-group" required="required">
              <label>{% translate "Country" %}</label>
              <input type="text" name="COUNTRY" class="form-control">
            </div>
            <div class="form-group">
              <label>{% translate "LinkedIn account" %}</label>
              <input type="text" name="LINKEDIN" class="form-control">
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn__primary btn__small">{% translate "Register" %}</button>
            </div>
          </form>

        </div>
      </div> 
    </div>
  </section>

  <!-- Start Partners Area-->
  <section class="our-partners">
    {% include "home/parts/partners_section.html" %}
  </section>
  <!-- End Partners Area -->

{% endblock content %}
