{% load i18n countries%} 
<form id="moocs_list_form" method="post" action="{% url 'moocs-registered' %}">
    {% csrf_token %}
    <div class="form-group">
        <input name="MOOCS" type="text" value="" class="form-control" disabled required/>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-md-6 form-group"> 
          <input type="text" name="LNAME" class="form-control" placeholder="{% translate 'Last Name' %}" required>
        </div>
        <div class="col-12 col-md-6 form-group">
          <input type="text" name="FNAME" class="form-control" placeholder="{% translate 'First Name' %}" required>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-md-8 form-group">
            <input type="email" name="EMAIL" class="form-control" placeholder="{% translate 'Email Address' %}" required>
        </div>
        <div class="col-12 col-md-4 form-group">
            {% get_countries as countries %}
            <select name="COUNTRY" class="form-select" required>
                <option disabled selected>{% translate "Select your country" %}</option>
                {% for country in countries %}
                    <option value="{{ country.name }}">{{ country.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-md-6 form-group"> 
            <input type="text" name="INSTITUT" class="form-control" placeholder="{% translate 'Organization Name' %}" required>
        </div>
        <div class="col-12 col-md-6 form-group">
            <input type="text" name="FUNCTION" class="form-control" placeholder="{% translate 'Function' %}" required>
        </div>
    </div>
    <p class="mb-4">
        {% translate "By submitting your info in the form above, you agree to our" %}
        <a class="text_primary" href="{% url 'terms-conditions' %}">{% translate "Terms & Condition" %}</a>
        </a> {% translate "and" %} <a class="text_primary" href="{% url 'gdpr' %}">{% translate "GDPR" %}</a>.
        {% translate "We may use this info to contact you and/or use data from third parties to personalize your experience." %}
      </p>
    <div class="row justify-content-center">
        <div class="col-md-6"> 
            <button id="moocs-form_submit" type="submit" class="btn w-100 btn__primary btn__small">{% translate "Send" %}</button>
        </div>
    </div> 
</form>