{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}

{% block title %}
    {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Villes africaines : Environnement et enjeux de développement durable" %} - African Cities Lab{% endif %}
{% endblock title %}
{% block meta_tag_description %}
<meta name="robots" content="noindex,nofollow">
  <meta name="description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
{% endblock %}

{% block static_meta_tag %}
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    
  </style>
{% endblock css %}

{% block content %}


    <section id="moocs_page">
        <div class="moocs-page__banner">
            <div class="container-lg p-3 p-md-5">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-8 col-md-10">
                        <h1 class="moocs-title">Villes africaines :<br> Environnement et enjeux de développement durable</h1>

                        <div class="moocs-university">
                            Offert par : <span class="font-weight-500">École Polytechnique Fédérale de Lausanne</span>
                        </div>

                        <a id="moocs_register_link" href="https://apps.courses.africancitieslab.org/authn/login?next=%2Fcourses%2Fcourse-v1%3AEPFL%2BVA_EDD%2B2022%2Fabout" target="_blank" class="btn btn__secondary btn__big">
                            S'inscrire gratuitement
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="moocs-page__main">
            <div class="container-lg p-3 p-md-5">
                <div class="row justify-content-lg-between">
                    <div class="col-12 col-lg-7 order-5 order-lg-1">
                        <div class="moocs-overview font-size-16 py-4">
                            <div class="pb-5">
                                <h3 class="mb-3">Description</h3>
                                <p class="pb-3">
                                    Ce cours, conçu en 2015, propose une lecture de l’environnement urbain en Afrique à travers les 
                                    thématiques les plus pertinentes pour mesurer le niveau de développement d’un pays : eau et vie
                                    urbaine, assainissement (eaux usées et pluviales), gestion des déchets solides, agriculture 
                                    urbaine. Après avoir analysé les différents enjeux de celles-ci, nous aborderons les liens entre 
                                    environnement urbain et santé.
                                </p>
                                <p class="pb-3">
                                    Pour chacune des thématiques énoncées, nous présenterons une étude de cas.
                                </p>
                                <p class="pb-3">
                                    L’entrée du cours n’est pas disciplinaire, mais thématique. Le cours articule différents échelles de lecture 
                                    de la ville (régional, inter urbain et intra urbain) pour dégager les caractéristiques et les disparités.
                                </p>
                            </div>
                            <div class="pb-5">
                                <h3 class="mb-3">Déroulement</h3>
                                <p class="pb-3">
                                    Le cours est subdivisé en 5 semaines :
                                </p>
                                <ul>
                                    <li><strong>Semaine 1</strong> - Eau et vie urbaine</li>
                                    <li><strong>Semaine 2</strong> - Gestion des déchets solides</li>
                                    <li><strong>Semaine 3</strong> - Agriculture urbaine</li>
                                    <li><strong>Semaine 4</strong> - Environnement urbain, santé et développement</li>
                                    <li><strong>Semaine 5</strong> - Finalisation</li>
                                </ul>
                            </div>
                            <div class="pb-5">
                                <h3 class="mb-3">Enseignants</h3>
                                
                                <div class="row">
                                    <div class="col-12 instructor-card p-3">
                                        <div class="card">

                                            <div class="card-header">
                                                <div class="instructor-profil">
                                                    <img src="{% static 'images/assets/moocs/instructors/N.Yemadji.png' %}" alt="Dr. N’Diékhor Yemadji"> 
                                                </div>
                                            </div>

                                            <div class="card-body">
                                                <h5 class="instructor-name">Dr. N’Diékhor Yemadji</h5>
                                                <div class="instructors-desc pt-3">
                                                    <p>
                                                        Dr N’Diékhor Yemadji est géographe, spécialiste en aménagement urbain et de la gestion de l’environnement urbain 
                                                        dans les milieux défavorisés en lien avec la santé. Il est actuellement Enseignant-chercheur à la Faculté des 
                                                        Sciences Humaines et Sociales de l’Université de N’Djaména (Tchad) et comme expert sur de nombreux projets de 
                                                        développement urbain au Tchad.
                                                    </p>
                                                    <p class="pt-3">
                                                        Sa double casquette de chercheur et d’expert dans des projets urbains l’ont amené à effectuer, plusieurs missions, 
                                                        associant des experts internationaux et nationaux sur différents types d’enjeux urbains : « Etude de définition 
                                                        d’appuis au projet eau et assainissement de N’Djaména (Tchad) » dans laquelle il a élaboré la Notice d’Impacts 
                                                        environnemental et social du projet ; Agenda 21 de la Ville de N’Djaména où il a abordé les enjeux liées à la 
                                                        pollution des eaux et des sols et préconisés des actions, « Elaboration des PUR des huit villes septentrionales du Tchad ».
                                                    </p>
                                                    <p class="pt-3"> 
                                                        Ses études et sa thèse de doctorat sur l’eau et la vie urbaine à N’Djaména (Tchad) lui donne une connaissance des enjeux 
                                                        urbains et notamment ceux liés à l’approvisionnement en eau potable, à l’assainissement des eaux pluviales et usées et 
                                                        à la gestion des déchets solides en lien avec la santé. Il enseigne et mène des recherches aujourd'hui à l'Université 
                                                        de N’Djaména.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 instructor-card p-3">
                                        <div class="card"> 
                                            <div class="card-header">
                                                <div class="instructor-profil">
                                                    <img src="{% static 'images/assets/moocs/instructors/Jerome-chenal.png' %}" alt="Mr. Jérôme Chenal">
                                                </div>
                                            </div> 
                                            <div class="card-body">
                                                <h5 class="instructor-name">Dr Jérôme Chenal</h5>
                                                <div class="instructors-desc pt-3">
                                                    <p>
                                                    Maître d'enseignement et de recherche, Communauté d'études pour l'aménagement du territoire, 
                                                    Responsable d'unité EXAF, Maître d'enseignement et de recherche, SAR - Enseignement, Maître 
                                                    d'enseignement et de recherche, EDAR, Maître d'enseignement et de recherche, SHS.
                                                    </p>
                                                    <p class="pt-3">
                                                        Dr Jérôme Chenal est urbaniste, spécialiste en planification urbaine et restructuration de quartiers précaires. 
                                                        Il est actuellement le Directeur de la CEAT à l'Ecole polytechnique fédérale de Lausanne et comme expert sur 
                                                        de nombreux projets de développement en Afrique (Tchad, Sénégal, Mauritanie, Guinée, …).
                                                    </p>
                                                    <p class="pt-3"> 
                                                        Sa double casquette de chercheur et d’expert dans des projets urbains l’ont amené à la direction de l’étude 
                                                        de « La restructuration du quartier précaire de la kebbe d’El Mina (Nouakchott, Mauritanie) » dans laquelle 
                                                        il a abordé la question de la planification des réseaux d’eau et des normes de distribution de l’eau dans des 
                                                        conditions de restructuration, mais également dans des cas d’extension urbaine (Cameroun, Mauritanie).
                                                    </p>
                                                    <p class="pt-3"> 
                                                        Sa thèse de doctorat sur la planification de ville en Afrique de l’Ouest avait notamment comme terrains d’étude 
                                                        Dakar et Abidjan, ce qui en fait un observateur privilégié de ces contextes et lui donne une connaissance des 
                                                        problèmes urbains et notamment ceux liés aux services urbains (eau, électricité, drainage, gestion des déchets…). 
                                                        Il enseigne et mène également des recherches à l'Ecole Polytechnique Fédérale de Lausanne.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 order-1 order-lg-5 py-4">
                        <div class="moocs-featured__img">
                            <img src="{% static 'images/assets/moocs/villes-africaines-environnement-et-enjeux-de-developpement-durable.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="recommended-moocs">
            <div class="container-lg px-3 px-md-5 pb-5">
                <h3 class="section-title mb-3">Voir aussi</h3>
                <div class="row justify-content-center">
                
                    <div class="col-12 col-lg-4 col-md-6 moocs-card">
                        <div class="card">
                            <div class="card-header p-0 border-0"> 
                                <div class="ribbon-wrapper">
                                    <div class="ribbon">NEW</div>
                                </div> 
                                <a href="{% url 'planification-a-la-gestion-urbaine' %}" class="d-block">
                                    <img src="{% static 'images/assets/moocs/villes-africaines-2-planification-et-gestion-urbaines.png' %}"> 
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="moocsCard-university d-flex align-items-center">
                                    <img class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                    <div class="university__divider"></div> 
                                    <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                                </div> 
                                <!--div class="moocsCard-meta py-2">
                                    <div class="meta__values">
                                        <i class="fas fa-tags text_primary"></i>
                                        <span class="meta__unit">{% translate "Sanitation" %}</span>
                                    </div>
                                </div--> 
                                <h5 class="moocsCard-title">
                                    <a href="{% url 'planification-a-la-gestion-urbaine' %}" class="d-block">
                                        {% translate "Villes africaines 2 : Planification et gestion urbaines" %}
                                    </a> 
                                </h5>
                            </div>
                            <div class="card-footer">
                                Début: 1 janv. 2023
                            </div>
                        </div> 
                    </div>

                    <div class="col-12 col-lg-4 col-md-6 moocs-card">
                        <div class="card">
                            <div class="card-header p-0 border-0"> 
                                <a href="{% url 'mobilites-et-transports-urbains' %}" class="d-block">
                                    <img src="{% static 'images/assets/moocs/villes-africaines-mobilites-et-transports-urbains.png' %}"> 
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="moocsCard-university d-flex align-items-center">
                                    <img class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                    <div class="university__divider"></div> 
                                    <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                                </div> 
                                <!--div class="moocsCard-meta py-2">
                                    <div class="meta__values">
                                        <i class="fas fa-tags text_primary"></i>
                                        <span class="meta__unit">{% translate "Sanitation" %}</span>
                                    </div>
                                </div--> 
                                <h5 class="moocsCard-title">
                                    <a href="{% url 'mobilites-et-transports-urbains' %}" class="d-block">
                                        {% translate "Villes africaines : Mobilités et transports urbains" %}
                                    </a> 
                                </h5>
                            </div>
                            <div class="card-footer">
                                Début: 1 janv. 2023
                            </div>
                        </div> 
                    </div>

                    <div class="col-12 col-lg-4 col-md-6 moocs-card">
                        <div class="card">
                            <div class="card-header p-0 border-0"> 
                                <a href="{% url 'restructuration-des-quartiers-precaires' %}" class="d-block">
                                    <img src="{% static 'images/assets/moocs/villes-africaines-restructuration-des-quartiers-precaires.png' %}"> 
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="moocsCard-university d-flex align-items-center">
                                    <img class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                    <div class="university__divider"></div> 
                                    <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                                </div> 
                                <!--div class="moocsCard-meta py-2">
                                    <div class="meta__values">
                                        <i class="fas fa-tags text_primary"></i>
                                        <span class="meta__unit">{% translate "Sanitation" %}</span>
                                    </div>
                                </div--> 
                                <h5 class="moocsCard-title">
                                    <a href="{% url 'restructuration-des-quartiers-precaires' %}" class="d-block">
                                        {% translate "Villes africaines : Restructuration des quartiers précaires" %}
                                    </a> 
                                </h5>
                            </div>
                            <div class="card-footer">
                                Début: 1 janv. 2023
                            </div>
                        </div> 
                    </div>
                </div>

                <p class="pt-3 font-size-16">Vous trouverez <a href="https://moocs.epfl.ch/" class="text_primary" target="_blank">ici</a> plus d'informations sur les MOOCs de l'EPFL.</p>
            </div>
        </div>
    </section>

{% endblock content %}
