{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}

{% block title %}
    {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Villes africaines : Introduction à la planification urbaine" %} - African Cities Lab{% endif %}
{% endblock title %}
{% block meta_tag_description %}
  <meta name="robots" content="noindex,nofollow">
  <meta name="description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
{% endblock %}

{% block static_meta_tag %}
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>

  </style>
{% endblock css %}

{% block content %}

    <section id="moocs_page">

        <div class="moocs-page__banner">
            <div class="container-lg p-3 p-md-5">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-8 col-md-10">
                        <h1 class="moocs-title">Villes africaines : <br> Introduction à la planification urbaine</h1>

                        <div class="moocs-university">
                            Offert par : <span class="font-weight-500">École Polytechnique Fédérale de Lausanne</span>
                        </div>

			<div style="display: none">
			    <form id="class_enroll_form" method="post" data-remote="true" action="https://courses.africancitieslab.org/change_enrollment" target="_blank">
				<fieldset class="enroll_fieldset">
				    <legend class="sr">Enroll</legend>
				    <input name="course_id" type="hidden" value="course-v1:EPFL+VA_IPU+2022">
				    <input name="enrollment_action" type="hidden" value="enroll">
				</fieldset>
				<div class="submit">
				    <input name="submit" type="submit" value="enroll">
				</div>
			    </form>
			</div>
                        <a id="moocs_register_link" href="#" class="btn btn__secondary btn__big"  onclick="document.getElementById('class_enroll_form').submit.click();">
                            S'inscrire gratuitement
                        </a>
                    </div>
                </div>
            </div>

            {% comment %}
            <div class="moocs-page__top">
                <div class="position-relative">
                    <div class="moocs-content__top">
                        <div class="page-top__inner">
                            <div class="block-content">
                                <h1>{% translate "Villes africaines : Introduction à la planification urbaine" %}</h1>

                                <div class="mt-5">
                                    <a href="" class="btn btn__primary btn__small">
                                        {% translate "Learn more" %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="moocs-details">
                        <div class="page-top__inner">
                            <div class="moocs-details__card">
                                <div class="field-details moocs-img__field">
                                    <img src="{% static 'images/assets/moocs/introduction-a-la-planification-urbaine.jpeg' %}">
                                </div>
                                <div class="field-details moocs-date-range__field">
                                    <div class="label-inline">
                                        <i class="far fa-calendar-alt  "></i>
                                        <span class="mx-2 font-size-16">Début: 1 janv. 2023</span>
                                    </div>
                                </div>
                                <div class="field-details">
                                    <div class="label-inline moocs-modality__field">
                                        <i class="fas fa-chalkboard-teacher  "></i>
                                        <span class="mx-2 font-size-16">{% translate "Online" %}</span>
                                    </div>
                                    <div class="label-inline moocs-price__field">
                                        <i class="fas fa-money-bill-wave-alt  "></i>
                                        <span class="mx-2 font-size-16">{% translate "Free" %}</span>
                                    </div>
                                </div>
                                <div class="field-details moocs-topics__field">
                                    <div class="label-inline">
                                        <i class="fas fa-tags  "></i>
                                        <span class="mx-2 font-size-16">{% translate "Time commitment" %}</span>
                                    </div>
                                    <ul class="field-details field-type-list list-inline">
                                        <li class="list-inline-item mx-2 font-size-16">{% translate "5-6 heures / semaine" %}</li>
                                    </ul>
                                </div>
                                <div class="field-details moocs-topics__field">
                                    <div class="label-inline">
                                        <i class="fas fa-tags  "></i>
                                        <span class="mx-2 font-size-16">{% translate "Topics" %}</span>
                                    </div>
                                    <ul class="field-details field-type-list list-inline">
                                        <li class="list-inline-item mx-2 font-size-16">{% translate "Building" %}</li>
                                    </ul>
                                </div>
                                <div class="field-details moocs-language__field">
                                    <div class="label-inline">
                                        <i class="far fa-comment "></i>
                                        <span class="mx-2 font-size-16">{% translate "Course language" %}</span>
                                    </div>
                                    <ul class="field-details field-type-list list-inline">
                                        <li class="list-inline-item mx-2 font-size-16">{% translate "French" %}</li>
                                    </ul>
                                </div>
                                <div class="field-details moocs-university__field">
                                    <ul class="list-inline d-flex justify-content-center mt-2">
                                        <li>
                                            <div>
                                                <div class="field-details moocs-logo__field">
                                                    <img src="{% static "images/assets/partners/epfl.png" %}">
                                                </div>
                                                <div class="field-details moocs-name__field">
                                                    <p>{% translate "École Polytechnique Fédérale de Lausanne" %}</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endcomment %}
        </div>

        <div class="moocs-page__main">
            <div class="container-lg p-3 p-md-5">
                <div class="row justify-content-lg-between">
                    <div class="col-12 col-lg-7 order-5 order-lg-1">
                        <div class="moocs-overview font-size-16 py-4">
                            <div class="pb-5">
                                <h3 class="mb-3">Au sujet de ce cours</h3>
                                <p>
                                    Ce cours, conçu en 2014, permet d'apprendre les bases de la planification urbaine à
                                    travers ses dimensions techniques, environnementales, sociales, économiques et symboliques.
                                    Le cours parle uniquement des villes africaines et même si celles-ci ont valeurs d'exemple
                                    pour les ville du Sud, voire toutes les villes, nous nous efforçons à remettre les problématiques
                                    dans un contexte africain.
                                </p>
                            </div>
                            <div class="pb-5">
                                <h3 class="mb-3">Déroulement</h3>
                                <p class="pb-3">
                                    Le cours est subdivisé en 12 semaines :
                                </p>
                                <ul>
                                    <li><strong>Semaine 1</strong> - Urbanisation en Afrique</li>
                                    <li><strong>Semaine 2</strong> - Introduction à la planification et à la ville africaine</li>
                                    <li><strong>Semaine 3</strong> - Les thématiques urbaines</li>
                                    <li><strong>Semaine 4</strong> - Le fonctionnement urbain</li>
                                    <li><strong>Semaine 5</strong> - La planification et ses outils</li>
                                    <li><strong>Semaine 6</strong> - Le futur des villes ou comment planifier ?</li>
                                    <li><strong>Semaine 7</strong> - Les outils et les méthodes</li>
                                    <li><strong>Semaine 8</strong> - Les actions de l'urbanisme opérationnel - les lotissements</li>
                                    <li><strong>Semaine 9</strong> - Les actions de l'urbanisme opérationnel - la restructuration et les projets urbains</li>
                                    <li><strong>Semaine 10</strong> - Les coûts et les financements des villes</li>
                                    <li><strong>Semaine 11</strong> - Gouvernances - quels partenariats ?</li>
                                    <li><strong>Semaine 12</strong> - Conclusions</li>
                                </ul>
                            </div>
                            <div class="pb-5">
                                <h3 class="mb-3">Objectifs d'apprentissage</h3>
                                <ul>
                                    <li><strong>Appréhender la gestion et la planification de la ville dans toute sa complexité</li></strong>
                                    <li><strong>Analyser les enjeux et défis posés par les transformations urbaines en Afrique dans une perspective de développement durable</li></strong>
                                    <li><strong>Proposer des méthodes de diagnostic de la ville et élaborer des outils de planification appropriés</li></strong>
                                    <li><strong>Comprendre les problématiques environnementales de la ville en relation avec les changements climatiques et les enjeux internationaux</li></strong>
                                </ul>
                            </div>
                            <div class="pb-5">
                                <h3 class="mb-3">Enseignants</h3>

                                <div class="row">
                                    <div class="col-12 instructor-card p-3">
                                        <div class="col-12 instructor-card p-3">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="instructor-profil">
                                                        <img src="{% static 'images/assets/moocs/instructors/Jerome-chenal.png' %}" alt="Dr. Jérôme Chenal">
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="instructor-name">Dr Jérôme Chenal</h5>
                                                    <div class="instructors-desc pt-3">
                                                        <p>
                                                        Maître d'enseignement et de recherche, Communauté d'études pour l'aménagement du territoire,
                                                        Responsable d'unité EXAF, Maître d'enseignement et de recherche, SAR - Enseignement, Maître
                                                        d'enseignement et de recherche, EDAR, Maître d'enseignement et de recherche, SHS.
                                                        </p>
                                                        <p class="pt-3">
                                                            Dr Jérôme Chenal est urbaniste, spécialiste en planification urbaine et restructuration de quartiers précaires.
                                                            Il est actuellement le <strong>Directeur de la CEAT</strong> à l'Ecole polytechnique fédérale de Lausanne et comme expert sur
                                                            de nombreux projets de développement en Afrique (Tchad, Sénégal, Mauritanie, Guinée, …).
                                                        </p>
                                                        <p class="pt-3">
                                                            Sa double casquette de chercheur et d’expert dans des projets urbains l’ont amené à la direction de l’étude
                                                            de « La restructuration du quartier précaire de la kebbe d’El Mina (Nouakchott, Mauritanie) » dans laquelle
                                                            il a abordé la question de la planification des réseaux d’eau et des normes de distribution de l’eau dans des
                                                            conditions de restructuration, mais également dans des cas d’extension urbaine (Cameroun, Mauritanie).
                                                        </p>
                                                        <p class="pt-3">
                                                            Sa thèse de doctorat sur la planification de ville en Afrique de l’Ouest avait notamment comme terrains d’étude
                                                            Dakar et Abidjan, ce qui en fait un observateur privilégié de ces contextes et lui donne une connaissance des
                                                            problèmes urbains et notamment ceux liés aux services urbains (eau, électricité, drainage, gestion des déchets…).
                                                            Il enseigne et mène également des recherches à l'Ecole Polytechnique Fédérale de Lausanne.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
			    <div class="pb-5">
                                <h3 class="mb-3">Comment naviguer dans ce cours</h3>
                                <p class="pb-3">
				    S’il s’agit de votre premier cours sur la plateforme edX, nous vous suggérons de vous inscrire au <a href="https://www.edx.org/course/demox-edx-demox-1" target="_blank">cours démo d’edX</a>. Ce cours démo vous permet d’explorer la plateforme edX, d’apprendre comment répondre aux questions d’exercices et de suivre votre progrès.
                                </p>
			    </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 order-1 order-lg-5 py-4">
                        <div class="moocs-featured__img">
                            <img src="{% static 'images/assets/moocs/villes-africaines-introduction-a-la-planification-urbaine.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="recommended-moocs">
            <div class="container-lg px-3 px-md-5 pb-5">
                <h3 class="section-title mb-3">Voir aussi</h3>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-4 col-md-6 moocs-card">
                        <div class="card">
                            <div class="card-header p-0 border-0">
                                <div class="ribbon-wrapper">
                                    <div class="ribbon">NEW</div>
                                </div>
                                <a href="{% url 'planification-a-la-gestion-urbaine' %}" class="d-block">
                                    <img src="{% static 'images/assets/moocs/villes-africaines-2-planification-et-gestion-urbaines.png' %}">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="moocsCard-university d-flex align-items-center">
                                    <img class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                    <div class="university__divider"></div>
                                    <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                                </div>
                                <!--div class="moocsCard-meta py-2">
                                    <div class="meta__values">
                                        <i class="fas fa-tags text_primary"></i>
                                        <span class="meta__unit">{% translate "Sanitation" %}</span>
                                    </div>
                                </div-->
                                <h5 class="moocsCard-title">
                                    <a href="{% url 'planification-a-la-gestion-urbaine' %}" class="d-block">
                                        {% translate "Villes africaines 2 : Planification et gestion urbaines" %}
                                    </a>
                                </h5>
                            </div>
                            <div class="card-footer">
                                Début: 1 janv. 2023
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-6 moocs-card">
                        <div class="card">
                            <div class="card-header p-0 border-0">
                                <a href="{% url 'mobilites-et-transports-urbains' %}" class="d-block">
                                    <img src="{% static 'images/assets/moocs/villes-africaines-mobilites-et-transports-urbains.png' %}">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="moocsCard-university d-flex align-items-center">
                                    <img class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                    <div class="university__divider"></div>
                                    <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                                </div>
                                <!--div class="moocsCard-meta py-2">
                                    <div class="meta__values">
                                        <i class="fas fa-tags text_primary"></i>
                                        <span class="meta__unit">{% translate "Sanitation" %}</span>
                                    </div>
                                </div-->
                                <h5 class="moocsCard-title">
                                    <a href="{% url 'mobilites-et-transports-urbains' %}" class="d-block">
                                        {% translate "Villes africaines : Mobilités et transports urbains" %}
                                    </a>
                                </h5>
                            </div>
                            <div class="card-footer">
                                Début: 1 janv. 2023
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-6 moocs-card">
                        <div class="card">
                            <div class="card-header p-0 border-0">
                                <a href="{% url 'systemes-dinformation-geographique-partie-1' %}" class="d-block">
                                    <img src="{% static 'images/assets/moocs/systeme-dinformation-geographique-partie-1.png' %}">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="moocsCard-university d-flex align-items-center">
                                    <img class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                    <div class="university__divider"></div>
                                    <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                                </div>
                                <!--div class="moocsCard-meta py-2">
                                    <div class="meta__values">
                                        <i class="fas fa-tags text_primary"></i>
                                        <span class="meta__unit">{% translate "Sanitation" %}</span>
                                    </div>
                                </div-->
                                <h5 class="moocsCard-title">
                                    <a href="{% url 'systemes-dinformation-geographique-partie-1' %}" class="d-block">
                                        {% translate "Systèmes d'Information Géographique - Partie 1" %}
                                    </a>
                                </h5>
                            </div>
                            <div class="card-footer">
                                Début: 1 janv. 2023
                            </div>
                        </div>
                    </div>
                </div>

                <p class="pt-3 font-size-16">Vous trouverez <a href="https://moocs.epfl.ch/" class="text_primary" target="_blank">ici</a> plus d'informations sur les MOOCs de l'EPFL.</p>
            </div>
        </div>

    </section>


{% endblock content %}
