{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}

{% block title %}
    {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Villes africaines 2 : Planification et gestion urbaines" %} - African Cities Lab{% endif %}
{% endblock title %}
{% block meta_tag_description %}
<meta name="robots" content="noindex,nofollow">
  <meta name="description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
{% endblock %}

{% block static_meta_tag %}
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>

  </style>
{% endblock css %}

{% block content %}

    <section id="moocs_page">

        <div class="moocs-page__banner">
            <div class="container-lg p-3 p-md-5">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-8 col-md-10">
                        <h1 class="moocs-title">Villes africaines 2 : <br> Planification et gestion urbaines</h1>

                        <div class="moocs-university">
                            Offert par : <span class="font-weight-500">École Polytechnique Fédérale de Lausanne</span>
                        </div>

                        <a id="moocs_register_link" href="https://apps.courses.africancitieslab.org/authn/login?next=%2Fcourses%2Fcourse-v1%3AEPFL%2BVA_PGU%2B2022%2Fabout" target="_blank" class="btn btn__secondary btn__big">
                            S'inscrire gratuitement
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="moocs-page__main">
            <div class="container-lg p-3 p-md-5">
                <div class="row justify-content-lg-between">
                    <div class="col-12 col-lg-7 order-5 order-lg-1">
                        <div class="moocs-overview font-size-16 py-4">
                            <div class="pb-5">
                                <h3 class="mb-3">Au sujet de ce cours</h3>
                                <p class="font-weight-bold pb-3">
                                    Ce cours, conçu en 2023, prolonge les connaissances de base acquises en planification
                                    urbaine à travers ses dimensions techniques, environnementale et sociale. Il fait suite
                                    au cours « Villes africaines : introduction à la planification urbaine ».
                                </p>
                                <p class="pb-3">
                                    “Villes africaines” propose un cours sur la gestion et la planification urbaine. Après un
                                    passage par les grandes thématiques urbaines (changement climatique, infrastructures et services,
                                    énergie, droit à la ville, foncier, habitat, économie informelle), nous ferons une lecture critique
                                    des outils actuellement utilisés dans la gestion et planification urbaines. Nous verrons ensuite
                                    comment gérer et planifier une ville plus inclusive, productive, résiliente et respectueuse de
                                    l’environnement, et faiblement consommatrice en ressources.
                                </p>
                                <p class="pb-3">
                                    Enfin, nous aborderons successivement les questions du financement des villes, le jeu des acteurs
                                    dans la gouvernance des projets urbains, et la mise en œuvre des documents de planification urbaine.
                                </p>
                                <p>
                                    La planification urbaine ne relevant pas d’une unique discipline, l’approche du cours n’est donc
                                    disciplinaire, mais consiste à discuter des articulations entre les principales entrées thématiques
                                    permettant de comprendre et accompagner les processus de fabrication de la ville. Le cours est dispensé
                                    par deux enseignants ayant une bonne expérience dans le domaine, et enrichi par la contribution de
                                    plusieurs experts internationaux chevronnés. Il a pour objectif global de présenter une approche
                                    pérationnelle d’élaboration de documents de planification, en particulier des schémas directeurs.
                                </p>
                            </div>
			    <div class="pb-5">
                                <h3 class="mb-3">Déroulement</h3>
				<p class="pb-3">
                                    Le cours est subdivisé en 7 semaines :
                                </p>
                                <ul>
                                    <li><strong>Semaine 1</strong> - Le processus d'élaboration d'un Schéma Directeur d'Aménagement et d'Urbanisme (SDAU)</li>
                                    <li><strong>Semaine 2</strong> - Réaliser un diagnostic urbain</li>
                                    <li><strong>Semaine 3</strong> - La planification des flux : transports, télécommunications, économie</li>
                                    <li><strong>Semaine 4</strong> - La planification spatiale</li>
                                    <li><strong>Semaine 5</strong> - Les acteurs de la gouvernance urbaine</li>
                                    <li><strong>Semaine 6</strong> - Vers des propositions</li>
                                    <li><strong>Semaine 7</strong> - Épilogue</li>
                                </ul>
			    </div>
			    <div class="pb-5">
                                <h3 class="mb-3">Objectifs d'apprentissage</h3>
                                <ul>
                                    <li>Comprendre le processus d’élaboration d’un schéma directeur d’urbanisme</li>
                                    <li>Développer un diagnostic urbain efficace pour l’élaboration d’un document d’urbanisme</li>
                                    <li>Définir une approche appropriée pour la planification des transports et l’intégration de l’économie informelle</li>
                                    <li>Définir une approche d’organisation spatiale intégrée et durable</li>
                                    <li>Comprendre les rôles des différents acteurs de la mise en œuvre des schémas directeurs</li>
                                </ul>
                            </div>
                            <div class="pb-5">
                                <h3 class="mb-3">Enseignants</h3>

                                <div class="row">
                                    <div class="col-12 instructor-card p-3">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="instructor-profil">
                                                    <img src="{% static 'images/assets/moocs/instructors/Jerome-chenal.png' %}" alt="Dr. Jérôme Chenal">
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="instructor-name">Dr Jérôme Chenal</h5>
                                                <div class="instructors-desc pt-3">
                                                    <p>
                                                    Maître d'enseignement et de recherche, Communauté d'études pour l'aménagement du territoire,
                                                    Responsable d'unité EXAF, Maître d'enseignement et de recherche, SAR - Enseignement, Maître
                                                    d'enseignement et de recherche, EDAR, Maître d'enseignement et de recherche, SHS.
                                                    </p>
                                                    <p class="pt-3">
                                                        Dr Jérôme Chenal est urbaniste, spécialiste en planification urbaine et restructuration de quartiers précaires.
                                                        Il est actuellement le Directeur de la CEAT à l'Ecole polytechnique fédérale de Lausanne et comme expert sur
                                                        de nombreux projets de développement en Afrique (Tchad, Sénégal, Mauritanie, Guinée, …).
                                                    </p>
                                                    <p class="pt-3">
                                                        Sa double casquette de chercheur et d’expert dans des projets urbains l’ont amené à la direction de l’étude
                                                        de « La restructuration du quartier précaire de la kebbe d’El Mina (Nouakchott, Mauritanie) » dans laquelle
                                                        il a abordé la question de la planification des réseaux d’eau et des normes de distribution de l’eau dans des
                                                        conditions de restructuration, mais également dans des cas d’extension urbaine (Cameroun, Mauritanie).
                                                    </p>
                                                    <p class="pt-3">
                                                        Sa thèse de doctorat sur la planification de ville en Afrique de l’Ouest avait notamment comme terrains d’étude
                                                        Dakar et Abidjan, ce qui en fait un observateur privilégié de ces contextes et lui donne une connaissance des
                                                        problèmes urbains et notamment ceux liés aux services urbains (eau, électricité, drainage, gestion des déchets…).
                                                        Il enseigne et mène également des recherches à l'Ecole Polytechnique Fédérale de Lausanne.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 instructor-card p-3">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="instructor-profil">
                                                    <img src="{% static 'images/assets/moocs/instructors/Armel-Kemajou.jpeg' %}" alt="Mr. Armel Kemajou">
                                                </div>
                                            </div>

                                            <div class="card-body">
                                                <h5 class="instructor-name">Dr. Armel Kemajou</h5>
                                                <div class="instructors-desc pt-3">
                                                    <p>
                                                        Armel est architecte, spécialisé dans le développement urbain en Afrique. Il a rejoint la Banque mondiale en
                                                        janvier 2021, au sein de la pratique mondiale Urban, Resilience and Land. Auparavant, Armel a travaillé comme
                                                        chercheur PHD pour l'École polytechnique fédérale de Lausanne (EPFL) pendant quatre ans, où il a développé des
                                                        recherches sur les mécanismes de développement des périphéries urbaines dans certaines grandes villes d'Afrique
                                                        de l'Ouest et du Centre. Il a également travaillé dans le secteur privé dans le domaine de l'architecture et du
                                                        design urbain dans la région de l'Afrique centrale. Armel a obtenu son diplôme d'architecte et d'urbaniste à
                                                        l'Ecole Africaine des Métiers de l'Architecture et de l'Urbanisme (EAMAU) au Togo, et son PHD en architecture
                                                        et sciences urbaines à l'EPFL, respectivement en 2013 et 2020.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pb-5">
				<h3 class="mb-3">Comment naviguer dans ce cours</h3>
				<p class="pb-3">
				    S’il s’agit de votre premier cours sur la plateforme edX, nous vous suggérons de vous inscrire au <a href="https://www.edx.org/course/demox-edx-demox-1">cours démo d’edX</a>. Ce cours démo vous permet d’explorer la plateforme edX, d’apprendre comment répondre aux questions d’exercices et de suivre votre progrès.
				</p>
			    </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 order-1 order-lg-5 py-4">
                        <div class="moocs-featured__img">
                            <img src="{% static 'images/assets/moocs/villes-africaines-2-planification-et-gestion-urbaines.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="recommended-moocs">
            <div class="container-lg px-3 px-md-5 pb-5">
                <h3 class="section-title mb-3">Voir aussi</h3>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-4 col-md-6 moocs-card">
                        <div class="card">
                            <div class="card-header p-0 border-0">
                                <a href="{% url 'introduction-a-la-planification-urbaine' %}" class="d-block">
                                    <img src="{% static 'images/assets/moocs/villes-africaines-introduction-a-la-planification-urbaine.png' %}">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="moocsCard-university d-flex align-items-center">
                                    <img class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                    <div class="university__divider"></div>
                                    <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                                </div>
                                <!--div class="moocsCard-meta py-2">
                                    <div class="meta__values">
                                        <i class="fas fa-tags text_primary"></i>
                                        <span class="meta__unit">{% translate "Sanitation" %}</span>
                                    </div>
                                </div-->
                                <h5 class="moocsCard-title">
                                    <a href="{% url 'introduction-a-la-planification-urbaine' %}" class="d-block">
                                        {% translate "Villes africaines : Introduction à la planification urbaine" %}
                                    </a>
                                </h5>
                            </div>
                            <div class="card-footer">
                                Début: 1 janv. 2023
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-6 moocs-card">
                        <div class="card">
                            <div class="card-header p-0 border-0">
                                <a href="{% url 'mobilites-et-transports-urbains' %}" class="d-block">
                                    <img src="{% static 'images/assets/moocs/villes-africaines-mobilites-et-transports-urbains.png' %}">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="moocsCard-university d-flex align-items-center">
                                    <img class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                    <div class="university__divider"></div>
                                    <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                                </div>
                                <!--div class="moocsCard-meta py-2">
                                    <div class="meta__values">
                                        <i class="fas fa-tags text_primary"></i>
                                        <span class="meta__unit">{% translate "Sanitation" %}</span>
                                    </div>
                                </div-->
                                <h5 class="moocsCard-title">
                                    <a href="{% url 'mobilites-et-transports-urbains' %}" class="d-block">
                                        {% translate "Villes africaines : Mobilités et transports urbains" %}
                                    </a>
                                </h5>
                            </div>
                            <div class="card-footer">
                                Début: 1 janv. 2023
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-6 moocs-card">
                        <div class="card">
                            <div class="card-header p-0 border-0">
                                <a href="{% url 'systemes-dinformation-geographique-partie-1' %}" class="d-block">
                                    <img src="{% static 'images/assets/moocs/systeme-dinformation-geographique-partie-1.png' %}">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="moocsCard-university d-flex align-items-center">
                                    <img class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                    <div class="university__divider"></div>
                                    <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                                </div>
                                <!--div class="moocsCard-meta py-2">
                                    <div class="meta__values">
                                        <i class="fas fa-tags text_primary"></i>
                                        <span class="meta__unit">{% translate "Sanitation" %}</span>
                                    </div>
                                </div-->
                                <h5 class="moocsCard-title">
                                    <a href="{% url 'systemes-dinformation-geographique-partie-1' %}" class="d-block">
                                        {% translate "Systèmes d'Information Géographique - Partie 1" %}
                                    </a>
                                </h5>
                            </div>
                            <div class="card-footer">
                                Début: 1 janv. 2023
                            </div>
                        </div>
                    </div>
                </div>

                <p class="pt-3 font-size-16">Vous trouverez <a href="https://moocs.epfl.ch/" class="text_primary" target="_blank">ici</a> plus d'informations sur les MOOCs de l'EPFL.</p>
            </div>
        </div>

    </section>

{% endblock content %}
