{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}

{% block title %}
    {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Villes africaines : Restructuration des quartiers précaires" %} - African Cities Lab{% endif %}
{% endblock title %}
{% block meta_tag_description %}
<meta name="robots" content="noindex,nofollow">
  <meta name="description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
{% endblock %}

{% block static_meta_tag %}
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    
  </style>
{% endblock css %}

{% block content %}

    <section id="moocs_page">
        <div class="moocs-page__banner">
            <div class="container-lg p-3 p-md-5">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-8 col-md-10">
                        <h1 class="moocs-title">Villes africaines :<br> Restructuration des quartiers précaires</h1>

                        <div class="moocs-university">
                            Offert par : <span class="font-weight-500">École Polytechnique Fédérale de Lausanne</span>
                        </div>

                        <a id="moocs_register_link" href="https://apps.courses.africancitieslab.org/authn/login?next=%2Fcourses%2Fcourse-v1%3AEPFL%2BVA_RCP%2B2022%2Fabout" target="_blank" class="btn btn__secondary btn__big">
                            S'inscrire gratuitement
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="moocs-page__main">
            <div class="container-lg p-3 p-md-5">
                <div class="row justify-content-lg-between">
                    <div class="col-12 col-lg-7 order-5 order-lg-1">
                        <div class="moocs-overview font-size-16 py-4">
                            <div class="pb-5">
                                <h3 class="mb-3">Description</h3>
                                <p class="pb-3">
                                    L’objet de ce cours, conçu en 2015, est l’étude de la restructuration des quartiers précaires des villes africaines. 
                                    Il s’agit, en partant de la compréhension de leur formation, de leur organisation et de leur fonctionnement, 
                                    d’examiner les modes d’intervention qui visent leur revalorisation et intégration dans les structures formelles 
                                    des villes qui les accueillent.
                                </p>
                                <p class="pb-3">
                                    La croissance rapide des villes s’est accompagnée, sur l’ensemble des continents, de mécanismes parfois 
                                    déroutants de production urbaine qui ont mis à mal les équilibres territoriaux et sociaux des agglomérations.
                                </p>
                                <p class="pb-3">
                                    A l’heure actuelle, près d’un milliard de personnes dans le monde, vivent dans des quartiers précaires, en raison 
                                    des mauvaises conditions d’accueil et de la pénurie de logements. Cela est particulièrement vrai des villes africaines, 
                                    où la croissance s’opère principalement en périphérie, par la création de quartiers précaires où se concentre la pauvreté urbaine.
                                </p>
                                <p class="pb-3">
                                    L’existence et l’extension de ce type de quartiers interrogent sur la capacité de ces villes à intégrer les 
                                    populations pauvres, en même temps qu’elles révèlent les limites des politiques urbaines à planifier et réguler 
                                    le développement des grandes agglomérations. La question est devenue si préoccupante que la question de la 
                                    restructuration des quartiers précaires dépasse aujourd’hui le cadre strict d’une intervention physique pour 
                                    se poser comme une question de développement à part entière.
                                </p>
                                <p>
                                    Quelle lecture peut-on faire de l’existence et de la prolifération des quartiers précaires en Afrique? 
                                    Quelles ont été, jusqu’ici, les approches et réponses apportées par les gouvernants et les bailleurs? 
                                    Quels modes et quels outils ont été expérimentés pour leur restructuration? Et quelles leçons peut-on 
                                    tirer de la mise oeuvre des diverses opérations initiées au cours des années passes?
                                </p>
                            </div>
                            <div class="pb-5">
                                <h3 class="mb-3">Déroulement</h3>
                                <p class="pb-3">
                                    Le cours est subdivisé en 5 semaines :
                                </p>
                                <ul>
                                    <li><strong>Semaine 1</strong> - Les quartiers précaires des villes d'Afrique : problématique et genèse</li>
                                    <li><strong>Semaine 2</strong> - État des lieux, situation, diversité</li>
                                    <li><strong>Semaine 3</strong> - Quelles approches et quelles réponses ?</li>
                                    <li><strong>Semaine 4</strong> - Méthodologies, modes et outils de restructuration des quartiers précaires</li>
                                    <li><strong>Semaine 5</strong> - Finalisation</li>
                                </ul>
                            </div>
                            <div class="pb-5">
                                <h3 class="mb-3">Enseignants</h3>
                                
                                <div class="row">
                                    <div class="col-12 instructor-card p-3">
                                        <div class="card">

                                            <div class="card-header">
                                                <div class="instructor-profil">
                                                    <img src="{% static 'images/assets/moocs/instructors/Isagha-Diagana.png' %}" alt="Dr. Isagha Diagana"> 
                                                </div>
                                            </div>

                                            <div class="card-body">
                                                <h5 class="instructor-name">Dr. Isagha Diagana</h5>
                                                <div class="instructors-desc pt-3">
                                                   <p>
                                                    Isagha Diagana est Docteur en Géographie, aménagement et urbanisme de l’Université Lumière Lyon II. Depuis plus de 20 ans, 
                                                    il cumule les charges d’Enseignant-Chercheur à l’Université de Nouakchott et celles d’expert en urbanisme et en aménagement.
                                                   </p>
                                                   <p class="pt-3">
                                                    En qualité d’enseignant, il anime depuis octobre 1994 à l’Université de Nouakchott, des enseignements et des recherches 
                                                    sur la ville en Afrique en général, et sur les villes en Mauritanie en particulier. En tant qu’expert, Isagha Diagana a 
                                                    accompagné l’évolution de la capitale mauritanienne, Nouakchott, dans la conception et le dimensionnement du vaste 
                                                    programme de restructuration des quartiers précaires, mis en oeuvre entre 2003 et 2012 avec le concours de la Banque mondiale. 
                                                    Il a en outre assumé de hautes fonctions administratives, en relation avec le pilotage et le suivi des opérations de 
                                                    restructuration des quartiers précaires.
                                                   </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 instructor-card p-3">
                                        <div class="card"> 
                                            <div class="card-header">
                                                <div class="instructor-profil">
                                                    <img src="{% static 'images/assets/moocs/instructors/Jerome-chenal.png' %}" alt="Dr. Jérôme Chenal">
                                                </div>
                                            </div> 
                                            <div class="card-body">
                                                <h5 class="instructor-name">Dr Jérôme Chenal</h5>
                                                <div class="instructors-desc pt-3">
                                                    <p>
                                                    Maître d'enseignement et de recherche, Communauté d'études pour l'aménagement du territoire, 
                                                    Responsable d'unité EXAF, Maître d'enseignement et de recherche, SAR - Enseignement, Maître 
                                                    d'enseignement et de recherche, EDAR, Maître d'enseignement et de recherche, SHS.
                                                    </p>
                                                    <p class="pt-3">
                                                        Dr Jérôme Chenal est urbaniste, spécialiste en planification urbaine et restructuration de quartiers précaires. 
                                                        Il est actuellement le Directeur de la CEAT à l'Ecole polytechnique fédérale de Lausanne et comme expert sur 
                                                        de nombreux projets de développement en Afrique (Tchad, Sénégal, Mauritanie, Guinée, …).
                                                    </p>
                                                    <p class="pt-3"> 
                                                        Sa double casquette de chercheur et d’expert dans des projets urbains l’ont amené à la direction de l’étude 
                                                        de « La restructuration du quartier précaire de la kebbe d’El Mina (Nouakchott, Mauritanie) » dans laquelle 
                                                        il a abordé la question de la planification des réseaux d’eau et des normes de distribution de l’eau dans des 
                                                        conditions de restructuration, mais également dans des cas d’extension urbaine (Cameroun, Mauritanie).
                                                    </p>
                                                    <p class="pt-3"> 
                                                        Sa thèse de doctorat sur la planification de ville en Afrique de l’Ouest avait notamment comme terrains d’étude 
                                                        Dakar et Abidjan, ce qui en fait un observateur privilégié de ces contextes et lui donne une connaissance des 
                                                        problèmes urbains et notamment ceux liés aux services urbains (eau, électricité, drainage, gestion des déchets…). 
                                                        Il enseigne et mène également des recherches à l'Ecole Polytechnique Fédérale de Lausanne.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 order-1 order-lg-5 py-4">
                        <div class="moocs-featured__img">
                            <img src="{% static 'images/assets/moocs/villes-africaines-restructuration-des-quartiers-precaires.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="recommended-moocs">
            <div class="container-lg p-3 p-md-5">
                <h3 class="section-title mb-3">Voir aussi</h3>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-4 col-md-6 moocs-card">
                        <div class="card">
                            <div class="card-header p-0 border-0"> 
                                <a href="{% url 'introduction-a-la-planification-urbaine' %}" class="d-block">
                                    <img src="{% static 'images/assets/moocs/villes-africaines-introduction-a-la-planification-urbaine.png' %}"> 
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="moocsCard-university d-flex align-items-center">
                                    <img class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                    <div class="university__divider"></div> 
                                    <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                                </div> 
                                <!--div class="moocsCard-meta py-2">
                                    <div class="meta__values">
                                        <i class="fas fa-tags text_primary"></i>
                                        <span class="meta__unit">{% translate "Sanitation" %}</span>
                                    </div>
                                </div--> 
                                <h5 class="moocsCard-title">
                                    <a href="{% url 'introduction-a-la-planification-urbaine' %}" class="d-block">
                                        {% translate "Villes africaines : Introduction à la planification urbaine" %}
                                    </a> 
                                </h5>
                            </div>
                            <div class="card-footer">
                                Début: 1 janv. 2023
                            </div>
                        </div> 
                    </div>

                    <div class="col-12 col-lg-4 col-md-6 moocs-card">
                        <div class="card">
                            <div class="card-header p-0 border-0"> 
                                <div class="ribbon-wrapper">
                                    <div class="ribbon">NEW</div>
                                </div> 
                                <a href="{% url 'planification-a-la-gestion-urbaine' %}" class="d-block">
                                    <img src="{% static 'images/assets/moocs/villes-africaines-2-planification-et-gestion-urbaines.png' %}"> 
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="moocsCard-university d-flex align-items-center">
                                    <img class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                    <div class="university__divider"></div> 
                                    <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                                </div> 
                                <!--div class="moocsCard-meta py-2">
                                    <div class="meta__values">
                                        <i class="fas fa-tags text_primary"></i>
                                        <span class="meta__unit">{% translate "Sanitation" %}</span>
                                    </div>
                                </div--> 
                                <h5 class="moocsCard-title">
                                    <a href="{% url 'planification-a-la-gestion-urbaine' %}" class="d-block">
                                        {% translate "Villes africaines 2 : Planification et gestion urbaines" %}
                                    </a> 
                                </h5>
                            </div>
                            <div class="card-footer">
                                Début: 1 janv. 2023
                            </div>
                        </div> 
                    </div>
                    <div class="col-12 col-lg-4 col-md-6 moocs-card">
                        <div class="card">
                            <div class="card-header p-0 border-0"> 
                                <a href="{% url 'environnement-et-enjeux-de-developpement-durable' %}" class="d-block">
                                    <img src="{% static 'images/assets/moocs/villes-africaines-environnement-et-enjeux-de-developpement-durable.png' %}"> 
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="moocsCard-university d-flex align-items-center">
                                    <img class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                    <div class="university__divider"></div> 
                                    <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                                </div> 
                                <!--div class="moocsCard-meta py-2">
                                    <div class="meta__values">
                                        <i class="fas fa-tags text_primary"></i>
                                        <span class="meta__unit">{% translate "Sanitation" %}</span>
                                    </div>
                                </div--> 
                                <h5 class="moocsCard-title ">
                                    <a href="{% url 'environnement-et-enjeux-de-developpement-durable' %}" class="d-block">
                                        {% translate "Villes africaines : Environnement et enjeux de développement durable" %}
                                    </a> 
                                </h5>
                            </div>
                            <div class="card-footer">
                                Début: 1 janv. 2023
                            </div>
                        </div> 
                    </div>
                </div>

                <p class="pt-3 font-size-16">Vous trouverez <a href="https://moocs.epfl.ch/" class="text_primary" target="_blank">ici</a> plus d'informations sur les MOOCs de l'EPFL.</p>
            </div>
        </div>

    </section>

{% endblock content %}
