{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}

{% block title %}
    {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Sustainable Urban Systems: How can urban sustainability become possible in Africa?" %} - African Cities Lab{% endif %}
{% endblock title %}
{% block meta_tag_description %}
  <meta name="description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
{% endblock %}

{% block static_meta_tag %}
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    
  </style>
{% endblock css %}

{% block content %}

  <section id="moocs-page">

    <div class="moocs-page__top">
        <div class="position-relative">
            <div class="moocs-content__top">
                <div class="page-top__inner">
                    <div class="block-content">
                        <h1>{% translate "Sustainable Urban Systems: How can urban sustainability become possible in Africa?" %}</h1>

                        <div class="mt-5">
                            <a href="#waiting_list" class="btn btn__primary btn__small">
                                {% translate "Enroll now" %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="moocs-details">
                <div class="page-top__inner">
                    <div class="moocs-details__card">
                        <div class="field-details moocs-img__field">
                            <img src="{% static 'images/assets/moocs/urban_systems.png' %}">
                        </div>
                        <div class="field-details">
                            <div class="label-inline moocs-modality__field">
                                <i class="fas fa-chalkboard-teacher  "></i>
                                <span class="mx-2 font-size-16">{% translate "Online" %}</span>
                            </div>
                            <div class="label-inline moocs-price__field">
                                <i class="fas fa-money-bill-wave-alt  "></i>
                                <span class="mx-2 font-size-16">{% translate "Free" %}</span> 
                            </div>
                        </div>
                        <div class="field-details moocs-date-range__field">
                            <div class="label-inline">
                                <i class="far fa-calendar-alt  "></i>
                                <span class="mx-2 font-size-16">{% translate "Available soon" %}</span>
                            </div>
                        </div>
                        <div class="field-details moocs-topics__field">
                            <div class="label-inline">
                                <i class="fas fa-tags  "></i>
                                <span class="mx-2 font-size-16">{% translate "Topics" %}</span>
                            </div>
                            <ul class="field-details field-type-list list-inline">
                                <li class="list-inline-item mx-2">{% translate "Urban Systems" %}</li>
                            </ul>
                        </div>
                        <!--div class="field-details moocs-duration__field">
                            <div class="label-inline">{% translate "Duration" %}</div>
                            <div class="field-details">{% translate "1 week long" %}</div>
                        </div-->
                        <div class="field-details moocs-language__field">
                            <div class="label-inline">
                                <i class="far fa-comment  "></i>
                                <span class="mx-2 font-size-16">{% translate "Course language" %}</span>
                            </div>
                            <ul class="field-details field-type-list list-inline">
                                <li class="list-inline-item mx-2">{% translate "English" %}</li>
                            </ul>
                        </div>
                        <div class="field-details moocs-transcript__field">
                            <div class="label-inline">
                                <i class="fas fa-closed-captioning  "></i>
                                <span class="mx-2 font-size-16">{% translate "Video transcript" %}</span>
                            </div>
                            <ul class="field-details field-type-list list-inline">
                                <li class="list-inline-item mx-2">{% translate "French" %}</li>
                            </ul>
                        </div>
                        <!--div class="field-details moocs-difficulty__field">
                            <div class="label-inline">{% translate "Difficulty" %}</div>
                            <div class="field-details">{% translate "Introductory" %}</div>
                        </div-->
                        <div class="field-details moocs-university__field">
                            <h4 class="text-center">{% translate "Associated University" %}</h4>
                            <ul class="list-inline d-flex justify-content-center mt-2">
                                <li>
                                    <div>
                                        <div class="field-details moocs-logo__field">
                                            <img src="{% static "images/assets/partners/uct.png" %}">
                                        </div>
                                        <div class="field-details moocs-name__field">
                                            <div class="h6">{% translate "University of Cape Town" %}</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="moocs-page__main">
        <div class="container-xl">
            <div class="moocs-content__main">
                <div class="page-main__inner m-auto">
                    <div class="block-content">
                        <div id="moocs-overview" class="py-4">
                            <h3 class="section-title mb-3">{% translate "Course description" %}</h3>
                            
                            <p>Lorem ipsum dolor sit amet. Id totam culpa 33 nulla saepe et reiciendis nobis sed quos fuga eos repellat doloribus. 
                                Et ratione repellendus vel nesciunt nulla aut consequatur dolores sed voluptates odit nam officia accusamus et 
                                quos possimus cum laborum ullam. Et culpa consequatur et quaerat sint est iste voluptatum. Est molestiae dolorem 
                                id molestiae voluptas et fugit reiciendis At cumque odio qui quae quia est illum magni et consequatur molestiae. 
                            </p>
                            <ul>
                                <li>Est minus autem in recusandae temporibus ut temporibus itaque. </li>
                                <li>Non quas illum et doloremque ducimus est praesentium nesciunt. </li>
                                <li>Sit recusandae libero ut numquam consequatur. </li>
                                <li>Aut atque voluptatem ea dolorem dolorem. </li>
                            </ul>
                            <p>Eos officia voluptatem et perferendis atque vel architecto autem sit aspernatur voluptas  molestias vero eum 
                                perferendis fugiat et voluptatibus voluptas. Dolores dolorem est consequuntur fugit et pariatur tempore eos 
                                praesentium quia eum omnis mollitia id deleniti magni! Cum libero repellendus et quos maxime ea consequatur 
                                eaque hic dolorum quia quo illo illo. 
                            </p>
                            <p>Eos excepturi possimus et porro fuga sed laudantium natus non itaque nesciunt et voluptas consequatur. Aut 
                                impedit laboriosam ut tempora quia sed dolor dolores et nihil neque rem quasi nisi At reprehenderit 
                                praesentium. Sunt odio rem alias molestiae qui internos laudantium est aliquid omnis a ipsum omnis et nisi 
                                consequuntur! Ea illo cumque aut quod sunt ad adipisci illum. 
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="waiting_list" class="bg_secondary py-5">
        <div class="container-lg py-3">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <h3 class="section-title text-center text-white">
                        {% translate "Are you interested in this MOOC?" %}
                    </h3>

                    <div class="font-size-16 text-white my-3 text-center">
                        {% translate "Please complete this form to stay up to date on its launch." %}
                    </div>

                    <!-- MOOC Waiting List Form -->
                    {% include "home/moocs/_moocs_waiting_list.html" with moocs_title="Sustainable Urban Systems: How can urban sustainability become possible in Africa?" %}
                    <!-- End MOOC Waiting List Form -->
                </div>
            </div>
        </div>
    </div>

    <div class="py-5">
        <div class="container-lg py-5">
            <h3 class="section-title mb-3">{% translate "You may also like" %}</h3>
            <div class="row">
                <div class="col-12 col-lg-4 col-md-6 moocs-card">
                    <div class="card">
                        <div class="card-header p-0 border-0"> 
                            <a href="{% url 'digital-governance-for-a-better-public-participation-and-urban-services-delivery-in-african-cities' %}" class="d-block">
                                <img src="{% static 'images/assets/moocs/gouvernance.png' %}"> 
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="moocsCard-university d-flex align-items-center">
                                <img class="brand-icon" src="{% static "images/assets/partners/unhabitat.png" %}">
                                <div class="university__divider"></div> 
                                <div class="university__label">{% translate "UN Habitat" %}</div>
                            </div> 

                            <div class="moocsCard-meta py-2">
                                <div class="meta__values">
                                    <i class="fas fa-tags text_primary"></i>
                                    <span class="meta__unit">{% translate "Governance" %}</span>
                                </div>
                            </div> 

                            <h5 class="moocsCard-title">
                                <a href="{% url 'digital-governance-for-a-better-public-participation-and-urban-services-delivery-in-african-cities' %}" class="d-block text-black">
                                    {% translate "Digital Governance for a better public participation and urban services delivery in African cities" %}
                                </a> 
                            </h5>
                        </div>
                        <div class="card-footer border-0">
                            <i class="far fa-calendar-alt"></i> 
                            <span class="mx-3">{% translate "Available soon" %}</span>
                        </div>
                    </div> 
                </div>
                <div class="col-12 col-lg-4 col-md-6 moocs-card">
                    <div class="card">
                        <div class="card-header p-0 border-0"> 
                            <a href="{% url 'le-solaire-photovoltaïque-et-ses-applications-au-profit-du-developpement-urbain' %}" class="d-block">
                                <img src="{% static 'images/assets/moocs/energy.png' %}"> 
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="moocsCard-university d-flex align-items-center">
                                <img class="brand-icon" src="{% static "images/assets/partners/um6p.png" %}">
                                <div class="university__divider"></div> 
                                <div class="university__label">{% translate "UM6P" %}</div>
                            </div> 

                            <div class="moocsCard-meta py-2">
                                <div class="meta__values">
                                    <i class="fas fa-tags text_primary"></i>
                                    <span class="meta__unit">{% translate "Energy" %}</span>
                                </div>
                            </div> 

                            <h5 class="moocsCard-title">
                                <a href="{% url 'le-solaire-photovoltaïque-et-ses-applications-au-profit-du-developpement-urbain' %}" class="d-block text-black">{% translate "Le solaire photovoltaïque et ses application au profit du développement urbain" %}</a> 
                            </h5>
                        </div>
                        <div class="card-footer border-0">
                            <i class="far fa-calendar-alt"></i> 
                            <span class="mx-3">{% translate "Available soon" %}</span>
                        </div>
                    </div> 
                </div>
                <div class="col-12 col-lg-4 col-md-6 moocs-card">
                    <div class="card">
                        <div class="card-header p-0 border-0"> 
                            <a href="{% url 'urban-economic-development-in-the-context-of-climate-change' %}" class="d-block">
                                <img src="{% static 'images/assets/moocs/climate_change.png' %}"> 
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="moocsCard-university d-flex align-items-center">
                                <img class="brand-icon" src="{% static "images/assets/partners/um6p.png" %}">
                                <div class="university__divider"></div> 
                                <div class="university__label">{% translate "UM6P" %}</div>
                            </div> 

                            <div class="moocsCard-meta py-2">
                                <div class="meta__values">
                                    <i class="fas fa-tags text_primary"></i>
                                    <span class="meta__unit">{% translate "Climate Change" %}</span>
                                </div>
                            </div> 

                            <h5 class="moocsCard-title">
                                <a href="{% url 'urban-economic-development-in-the-context-of-climate-change' %}" class="d-block text-black">{% translate "Urban Economic Development in the Context of Climate Change" %}</a> 
                            </h5>
                        </div>
                        <div class="card-footer border-0">
                            <i class="far fa-calendar-alt"></i> 
                            <span class="mx-3">{% translate "Available soon" %}</span>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>

  </section>
 

{% endblock content %}
