{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}

{% block title %}
    {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{% translate "Systèmes d'Information Géographique - Partie 1" %} - African Cities Lab{% endif %}
{% endblock title %}
{% block meta_tag_description %}
<meta name="robots" content="noindex,nofollow">
  <meta name="description" content="{% translate 'Online training to respond to the architectural, social and environmental challenges of the future African cities.' %}" />
{% endblock %}

{% block static_meta_tag %}
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>

  </style>
{% endblock css %}

{% block content %}

    <section id="moocs_page">
        <div class="moocs-page__banner">
            <div class="container-lg p-3 p-md-5">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-8 col-md-10">
                        <h1 class="moocs-title">Systèmes d'Information Géographique <br> - Partie 1</h1>

                        <div class="moocs-university">
                            Offert par : <span class="font-weight-500">École Polytechnique Fédérale de Lausanne</span>
                        </div>

                        <a id="moocs_register_link" href="https://apps.courses.africancitieslab.org/authn/login?next=%2Fcourses%2Fcourse-v1%3AEPFL%2Bsig1%2B2022%2Fabout" target="_blank" class="btn btn__secondary btn__big">
                            S'inscrire gratuitement
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="moocs-page__main">
            <div class="container-lg p-3 p-md-5">
                <div class="row justify-content-lg-between">
                    <div class="col-12 col-lg-7 order-5 order-lg-1">
                        <div class="moocs-overview font-size-16 py-4">
                            <div>
                                <h3 class="mb-3">Au sujet de ce cours</h3>
                                <p class="pb-3">
                                    Organisé en <strong>deux parties</strong>, ce cours présente <strong>les bases théoriques et pratiques des systèmes d’information géographique.</strong>
                                </p>
                                <ul>
                                    <li>Il propose une introduction aux systèmes d’information géographique qui ne requiert
                                        pas de connaissances préalables en informatique
                                    </li>
                                    <li>Il donne la possibilité d’acquérir rapidement les notions de base qui vous permettent
                                        de créer des bases de données spatiales et de fabriquer des cartes géographiques
                                    </li>
                                    <li>Il s’agit d’un cours pratique qui repose sur l’utilisation de logiciels libres, notamment QGIS</li>
                                </ul>
                                <p class="pb-3">
                                    En somme, si vos études ou votre profession comprennent des activités liées à la gestion de territoires,
                                    à l’analyse d’objets distribués dans l’espace géographique (aménagement du territoire, biologie,
                                    santé publique, écologie, énergie, etc.), ce cours est fait pour vous!
                                </p>
                                <p class="pb-3">
                                    En suivant cette <strong>première partie du cours</strong>, vous explorerez <strong>les principes de base de la numérisation du territoire et du stockage des géodonnées</strong>. Vous apprendrez notamment à :
                                </p>
			    </div>
			    <div>
                                <h3 class="mb-3">Objectifs d'apprentissage</h3>
                                <ul>
                                    <li><strong>
                                        Caractériser des objets et/ou phénomènes spatiaux (modélisation du territoire) du point de vue de leur
                                        positionnement dans l’espace (systèmes de coordonnées et projections, relations spatiales) et en fonction
                                        de leur nature intrinsèque (mode objet ou vecteur vs. mode image ou raster),
                                    </li></strong>
                                    <li><strong>
                                        Utiliser les diverses méthodes d’acquisition de données (mesure directe, géoréférencement d’images,
                                        digitalisation, source de données existantes, etc.)
                                    </li></strong>
                                    <li><strong>
                                        Utiliser les divers modes de stockage des géodonnées – Fichiers simples et/ou bases de données relationnelles
                                    </li></strong>
                                    <li><strong>Utiliser des outils de modélisation des données pour décrire et implémenter une base de données</li></strong>
                                    <li><strong>Créer des requêtes dans le langage d’interrogation et de manipulation des données</li></strong>
                                </ul>
                            </div>
			    <div class="pb-5">
                                <h3 class="mb-3">Comment naviguer dans ce cours</h3>
                                <p class="pb-3">
				    S’il s’agit de votre premier cours sur la plateforme edX, nous vous suggérons de vous inscrire au <a href="https://www.edx.org/course/demox-edx-demox-1" target="_blank">cours démo d’edX</a>. Ce cours démo vous permet d’explorer la plateforme edX, d’apprendre comment répondre aux questions d’exercices et de suivre votre progrès.
                                </p>
			    </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 order-1 order-lg-5 py-4">
                        <div class="moocs-featured__img">
                            <img src="{% static 'images/assets/moocs/systeme-dinformation-geographique-partie-1.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="recommended-moocs">
            <div class="container-lg px-3 px-md-5 pb-5">
                <h3 class="section-title mb-3">Voir aussi</h3>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-4 col-md-6 moocs-card">
                        <div class="card">
                            <div class="card-header p-0 border-0">
                                <a href="{% url 'systemes-dinformation-geographique-partie-2' %}" class="d-block">
                                    <img src="{% static 'images/assets/moocs/systeme-dinformation-geographique-partie-2.png' %}">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="moocsCard-university d-flex align-items-center">
                                    <img class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                    <div class="university__divider"></div>
                                    <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                                </div>
                                <!--div class="moocsCard-meta py-2">
                                    <div class="meta__values">
                                        <i class="fas fa-tags text_primary"></i>
                                        <span class="meta__unit">{% translate "Sanitation" %}</span>
                                    </div>
                                </div-->
                                <h5 class="moocsCard-title">
                                    <a href="{% url 'systemes-dinformation-geographique-partie-2' %}" class="d-block">
                                        {% translate "Systèmes d'Information Géographique - Partie 2" %}
                                    </a>
                                </h5>
                            </div>
                            <div class="card-footer">
                                Début: 1 janv. 2023
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-6 moocs-card">
                        <div class="card">
                            <div class="card-header p-0 border-0">
                                <a href="{% url 'restructuration-des-quartiers-precaires' %}" class="d-block">
                                    <img src="{% static 'images/assets/moocs/villes-africaines-restructuration-des-quartiers-precaires.png' %}">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="moocsCard-university d-flex align-items-center">
                                    <img class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                    <div class="university__divider"></div>
                                    <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                                </div>
                                <!--div class="moocsCard-meta py-2">
                                    <div class="meta__values">
                                        <i class="fas fa-tags text_primary"></i>
                                        <span class="meta__unit">{% translate "Sanitation" %}</span>
                                    </div>
                                </div-->
                                <h5 class="moocsCard-title">
                                    <a href="{% url 'restructuration-des-quartiers-precaires' %}" class="d-block">
                                        {% translate "Villes africaines : Restructuration des quartiers précaires" %}
                                    </a>
                                </h5>
                            </div>
                            <div class="card-footer">
                                Début: 1 janv. 2023
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-6 moocs-card">
                        <div class="card">
                            <div class="card-header p-0 border-0">
                                <a href="{% url 'environnement-et-enjeux-de-developpement-durable' %}" class="d-block">
                                    <img src="{% static 'images/assets/moocs/villes-africaines-environnement-et-enjeux-de-developpement-durable.png' %}">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="moocsCard-university d-flex align-items-center">
                                    <img class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                    <div class="university__divider"></div>
                                    <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                                </div>
                                <!--div class="moocsCard-meta py-2">
                                    <div class="meta__values">
                                        <i class="fas fa-tags text_primary"></i>
                                        <span class="meta__unit">{% translate "Sanitation" %}</span>
                                    </div>
                                </div-->
                                <h5 class="moocsCard-title ">
                                    <a href="{% url 'environnement-et-enjeux-de-developpement-durable' %}" class="d-block">
                                        {% translate "Villes africaines : Environnement et enjeux de développement durable" %}
                                    </a>
                                </h5>
                            </div>
                            <div class="card-footer">
                                Début: 1 janv. 2023
                            </div>
                        </div>
                    </div>
                </div>

                <p class="pt-3 font-size-16">Vous trouverez <a href="https://moocs.epfl.ch/" class="text_primary" target="_blank">ici</a> plus d'informations sur les MOOCs de l'EPFL.</p>
            </div>
        </div>

    </section>

{% endblock content %}
