<div class="col-12 col-lg-4 col-md-6 moocs-card">
    <div class="card">
        <div class="card-header p-0 border-0"> 
            {% if img_path %}
                <a href="{{ url }}" class="d-block">
                    <img src="{{ img_path }}">
                </a>
            {% else %}
                <a href="{{ url }}" class="d-block">
                    <img src="{% static 'images/assets/acl-default-img.png' %}">
                </a>
            {% endif %}   
        </div>
        <div class="card-body pb-0">
            <div class="moocsCard-university d-flex align-items-center">
                <img class="brand-icon" src="{{ univ_img }}">
                <div class="university__divider"></div> 
                <div class="university__label">{{ univ_name }}</div>
            </div> 
            <div class="moocsCard-meta d-flex">
                <div class="meta__unit d-flex"> 
                    <div class="meta__values mx-2">
                        <div class="label">{% translate "Topic:" %}</div>
                        <div class="value h6">{{ topic }}</div>
                    </div>
                </div>
                <div class="meta__unit d-flex"> 
                    <div class="meta__values mx-2">
                        <div class="label">{% translate "Duration:" %}</div>
                        <div class="value h6">{{ duration }}</div>
                    </div>
                </div>
            </div> 
            <div class="card-body__divider"></div>
            <h5 class="moocsCard-title py-4">
                <a href="{{ url }}" class="d-block text-black">{{ title }}</a> 
            </h5>
        </div>
        <div class="card-footer border-0">
            <i class="far fa-calendar-alt"></i> 
            <span class="mx-3">{% translate "Starting on" %} {{ date }}</span>
        </div>
    </div> 
</div>