{% extends "base.html" %}

{% load i18n static %}

{% block title %}
    500  - African Cities Lab
{% endblock title %}

{% block content %}
    <section class="404-page">
        <div class="container p-md-5">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-12 col-md-6 col-lg-4">
                    <h2>Oops... Internal Server Error</h2>
                    <div class="h1 py-3">Looks like something went wrong!</div>
                    <p>
                        We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.
                    </p>
                    <div class="my-5">
                        <a href="{% url 'home' %}" class="btn btn__primary btn__big">Go to homepage</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 py-5 text-center">
                    <img src="{% static 'images/assets/500.png' %}" width="510" height="378">
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
