{% load static %}
{% load i18n %}
<nav id="main-nav"
     class="navbar fixed-top-navbar navbar-dark navbar-expand-md text-center py-3">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/assets/LOGO-ACL-BLANC.png' %}"
                 alt="African Cities Lab"
                 class="navbar-brand-image"
                 width="130px"
                 height="32px"/>
        </a>
        <button class="navbar-toggler navbar-toggler-right bg-warning text-black"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-responsive"
                type="button"
                aria-controls="navbar-responsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div id="navbar-responsive" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto text-uppercase">
                <hr class="nav-bar-hr" />
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'home' %}">{% translate "Home" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'courses' %}">{% translate "Courses" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'news' %}">{% translate "News" %}</a>
                </li>
            </ul>
            {% comment %}
            <div class="text-uppercase">
                <hr class="nav-bar-hr" />
                <a class="text-white mx-3" role="button" href="{% url 'login' %}">
                    <i class="fas fa-user-lock"></i>
                </a>
            </div>
            <div class="text-uppercase">
                <hr class="nav-bar-hr" />
                <a class="btn btn-warning ms-auto rounded-pill"
                   role="button"
                   href="{% url 'register' %}">{% translate "Register" %}</a>
            </div>
            {% endcomment %}
            <div class="text-uppercase">
                <hr class="nav-bar-hr" />
                <form action="{% url 'set_language' %}" method="post" class="ms-2">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <select name="language"
                            class="form-control text-white bg-black language-select"
                            onchange="this.form.submit()">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"
                                    {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.code|upper }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </div>
</nav>
