{% load static %}
{% load i18n %}
<!-- style="background-color: #00000057 !important;" -->
<nav id="mainNav" class="navbar navbar-dark navbar-expand-md py-3" style="background-color: #000000 !important;">
    <div class="container"><a class="navbar-brand" href="#page-top">ACL</a>
        <button class="navbar-toggler navbar-toggler-right bg-warning text-black" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div id="navbarResponsive" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto text-uppercase">
                <hr class="nav_bar_hr">
                <li class="nav-item"><a class="nav-link text-white" href="/">{% trans "Home" %}</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#Courses">{% trans "Courses" %}</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#Partners">{% trans "Universities" %}</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#News">{% trans "News" %}</a></li>

                <!-- todo: UI for language selector -->
                <!-- <li class="nav-item">
                    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <select name="language" class="">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Go">
                    </form>
                </li> -->

            </ul>
            <div class="text-uppercase">
                <hr class="nav_bar_hr">
                <a class="text-white mx-3" role="button" href="#login"><i class="fas fa-user-lock"></i></a>
            </div>
            <div class="text-uppercase">
                <hr class="nav_bar_hr">
                <a class="btn btn-warning ms-auto rounded-pill" role="button" href="#register">{% trans "Register" %}</a>
            </div>
            <div class="text-uppercase">
                <hr class="nav_bar_hr">
                <form action="{% url 'set_language' %}" method="post" class="mx-3">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language" class="form-control text-white bg-black" onchange="this.form.submit()" style="cursor: pointer;">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.code|upper }}
                                <!-- {{ language.name_local }} ({{ language.code }}) -->
                            </option>
                        {% endfor %}
                    </select>
                    <!-- <input type="submit" value="Go"> -->
                </form>
                <!-- <a class="text-white mx-3" role="button" href="#register">Register</a> -->
            </div>

        </div>
    </div>
</nav>
